@import './params.scss';

button {
	cursor: pointer;
}

a {
  text-decoration: none;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.items-center{
  align-items: center;
}

.content-center{
  justify-content: center;
}

.content-between {
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}

.color-white, .text-white {
  color: #fff;
}

.wrap {
  flex-wrap: wrap;
}

.w-half {
  width: 50%;
}

.w-full {
  width: 100%;
}
.mb-24 {
  margin-bottom: 24px;
}

.m-32-0 {
  margin: 32px 0;
}

.mt-32 {
  margin-top: 32px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-64 {
  margin-bottom: 64px;
}
.p-32-0 {
  padding: 32px 0;
}
.pb-32 {
  padding-bottom: 32px;
}
.mb-0 {
  margin-bottom: 0;
}
.card  {
  border: 1px solid rgba(68, 83, 113, 0.05);
border-radius: 24px;
padding: 24px 32px;
box-shadow: 0 1px 0 0 rgba(38, 39, 90, 0.1);
background: #fff;
height: 100%;
}
.title {
  font-weight: 500;
font-size: 24px;
line-height: 120%;
letter-spacing: -0.03em;
color: #0e1117;
margin-bottom: 12px;
}
.title_md {
  font-weight: 500;
font-size: 18px;
line-height: 120%;
letter-spacing: -0.04em;
color: #0e1117;
margin: 0;
}
.text {
  margin: 12px 0;
}
.text p, .text {
  font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: -0.03em;
color: #445371;
}

.text p {
  margin-top: 0;
  margin-bottom: 10px;
}
.text p:last-child {
  margin-bottom: 0;
}
.content_h {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
/*   height: 100%; */
}
.m-0 {
  margin: 0;
}
.gap-24 {
  gap: 24px;
}
.gap-16 {
  gap: 16px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-12 {
  margin-bottom: 12px;
}
.card_24_22 {

  padding:  24px 22px;
}
.pb-0 {
  padding-bottom: 0;
}
.pt-0 {
  padding-top: 0;
}
.carddiv {
  margin: 20px 0;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
@include medium-screen {
  .mobile-full {
    width: 100% !important;
  }
  .mob-mb-10 {
    margin-bottom: 0;
  }
  .mob-m-20-0 {
    margin: 20px 0;
  }
  .mob-m-32-0 {
    margin: 32px 0;
  }
  .mob-mb-32 {
    margin-bottom: 32px;
  }
  .mob-p-20-0 {
    padding: 20px 0;
  }
  .mob-pb-20 {
    padding-bottom: 20px;
  }
  .mob-mb-20 {
    margin-bottom: 20px;
  }
  .mob-mb-40 {
    margin-bottom: 40px;
  }
  .mob-flexwrap {
    flex-wrap: wrap;
  }
  *.mob-full {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
  }
  .mob-center{
    text-align: center;
     * {
      text-align: center;
     }
  }
  .mob-order-1 {
    order: -1;
  }
  .card {
    padding: 16px;
  }
  .title {
    font-size: 20px;
line-height: 120%;
margin-bottom: 10px;
  }
 .title_md {
  font-size: 15px;
line-height: 120%;
 }
 .text, .text p {
  font-size: 15px;
line-height: 160%;
letter-spacing: -0.04em;
 }
  .text {
    margin: 10px 0;
  }
  .mob_content_end {
    justify-content: flex-end;
  }
  .mob-mb-8 {
    margin-bottom: 8px;
  }
}