@import "params.scss";

@mixin container {
  width: 100%;
  max-width: 1134px;
  margin: 0 auto;
  padding: 0 20px;
}

@mixin clear {
  padding: 0;
  margin: 0;

  list-style: none;
}

@mixin clear-list {
  @include clear;
  list-style: none;
}

@mixin xlarge-screen() {
  @media only screen and (max-width: 1536px) {
    @content;
  }
}
@mixin large-screen() {
  @media only screen and (max-width: 1180px) {
    @content;
  }
}
@mixin medium-large-screen() {
  @media (min-width: 1000px) and (max-width: 1180px) {
    @content;
  }
}

@mixin medium-screen() {
  @media only screen and (max-width: 999px) {
    @content;
  }
}
@mixin min-medium-screen() {
  @media only screen and (min-width: 1000px) {
    @content;
  }
}

@mixin small-screen() {
  @media only screen and (max-width: 999px) {
    @content;
  }
}

@mixin extrasmall-screen() {
  @media only screen and (max-width: 480px) {
    @content;
  }
}
