.frameblock {
  overflow: hidden;
  height: 307px;
  border: 1px solid rgba(68, 83, 113, 0.05);
  border-radius: 24px;
  box-shadow: 0 1px 0 0 rgba(38, 39, 90, 0.1);
  background-color: #eceef1;
  background-position: right 72px bottom;
  background-repeat: no-repeat;
}
.frameblock__wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.frameblock__main {
  min-height: 100%;
  padding: 50px;
  position: relative;
}
.frameblock__content {
  position: relative;
  min-height: 100%;
}
.frameblock__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #0e1117;
  margin-bottom: 20px;
}
.frameblock__text {
  margin: 20px 0;
}
.frameblock__text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #445371;
  margin: 0 0 10px 0;
}
.frameblock__footer {
  position: absolute;
  left: 0;
  bottom: 0;
}
.frameblock__buttons {
}

.frameblock__image {
  transform: translateX(-72px);
}
.frameblock__top {
  .maincard__tags {
    margin-bottom: 32px;
  }
}

.frameblock_imgleft {
  .frameblock__main {
    padding-left: 26px;
  }
}
.frameblock__footer {
  position: static;
  margin-top: 40px;
}
.frameblock {
  height: unset !important;
}
.frameblock__image {
  display: flex;
  align-items: flex-end;
}
.frameblock_imagetop {
  .frameblock__image {
    align-items: flex-start;
  }
}
.frameblock_white {
  background: #fff;
}
@include medium-screen {
  .frameblock__image.onlyDesktop {
    display: none;
  }
  .frameblock__main {
    width: 100%;
    padding: 30px 16px;
  }
  .frameblock__wrapper {
    display: block;
  }
  .frameblock__image {
    transform: none;
    text-align: center;

    img {
      display: block;
      margin: auto;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  .frameblock__footer {
    /*  position: static; */
    margin-top: 40px;

    .btn_main {
      display: block;
      width: 100%;
    }
  }
  .frameblock_imgleft {
    .frameblock__content,
    .frameblock__main {
      position: static;
    }
    .frameblock__wrapper {
      position: relative;
    }
    .frameblock__footer {
      z-index: 1;
      bottom: 16px;
      left: 16px;
      margin: auto;
      position: absolute;
      right: 16px;
      width: calc(100% - 32px) !important;
    }
  }
  .frameblock__title {
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.03em;
  }

  .frameblock__image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    img {
      display: block;
      margin: auto;
    }
  }
  .frameblock__text p {
    font-size: 15px;
    line-height: 140%;
    letter-spacing: -0.03em;
  }
  .frameblock__main {
    position: relative;
    z-index: 1;
  }
  .frameblock__main {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  .frameblock.frameblock_mobile_bg {
    .frameblock__wrapper {
      height: 100%;
    }
    .frameblock__main {
      max-width: 100%;
      padding: 30px 16px !important;
      height: 100%;
      min-height: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    .frameblock__footer {
      position: absolute;
      width: 100%;
    }
  }
  .frameblock__title {
    font-size: 20px;
  }
  /*   .frameblock_imagetop { */
  .frameblock__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .frameblock__wrapper {
    height: 100%;
  }
  .frameblock__main {
    height: 100%;
  }
  .frameblock__image {
    align-items: flex-start;
  }
  .frameblock__main {
    padding: 24px 16px;
  }
  /*   } */
  .frameblock__image.onlyDesktop {
    display: none !important;
  }
}
@include small-screen {
  .frameblock {
    height: 541px !important;
  }
}

@include min-medium-screen {
  .frameblock_imgabs {
    .frameblock__image {
      transform: translateY(32px) translateX(-141px);
    }
    .frameblock__main {
      padding: 32px 32px 32px 50px;
    }
    .maincard__list ul {
      list-style: disc;
      padding-left: 15px;
    }
    .maincard__list ul li {
      padding-right: 0;
    }
    .frameblock__content {
      max-width: 502px;
      min-width: 502px;
      z-index: 1;
    }
    .frameblock__image {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 0;
      transform: none;
      img {
        max-width: unset;
      }
    }
  }
  #frameblock_retro {
    .frameblock__image {
      transform: translateX(-131px);
    }
    .frameblock_imgabs .frameblock__content {
      min-width: 590px;
      max-width: 590px;
    }
  }
  #frameblock__bi {
    .frameblock__image {
      transform: translateX(-51px);
    }
  }
  #frameblock_msb {
    .frameblock__content {
      max-width: 590px;
    }
    .frameblock__image {
      transform: translateX(-132px) translateY(-13px);
    }
  }
}
@include medium-screen {


  #frameblock__bi {
    .maincard__tags {
      justify-content: center;
    }
  }
  #frameblock_risks_fssp {
    height: 610px !important;
  }
  .frameblock#frameblock_msb {
    height: 525px !important;
  }
  .frameblock#frameblock_retro {
    height: 510px !important;
    .frameblock__title {
      br {
        display: block;
      }
    }
  }
}
