.maincard {
  width: 100%;
}
.maincard_xl {
  height: 427px;
}
.maincard__image {
  img {
    display: block;
  }
}
.maincard_lg {
  height: 281px;
}
.maincard_sm {
  height: 135px;
}
.mainblock__col_smaller {
}

.maincard__wrapper {
  display: block;
  height: 100%;

  border-radius: 24px;
  box-shadow: 0 1px 0 0 rgba(38, 39, 90, 0.1);
  background-color: #fff;
  background-position: right bottom;
  background-repeat: no-repeat;
}
.maincard__wrapper:hover {
  box-shadow: 0 0 16px 0 rgba(0, 85, 255, 0.05), 0 4px 8px 0 rgba(0, 85, 255, 0.1);

}
.maincard__container {
  padding: 54px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.maincard__content {
}
.maincard__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #0e1117;
  margin-bottom: 10px;
}
h2.maincard__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
}
.maincard__title_lg {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
}
.maincard__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #445371;
}
.maincard__image.onlyDesktop {
  display: flex;
  align-items: flex-end;
}
.maincard__footer {
}
.maincard__container {
  position: relative;
  /*  height: 100%; */
  .maincard__footer {
    position: static;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}
.maincard_sm {
  .maincard__container {
    padding: 0;
  }
  .maincard__wrapper {
    padding: 24px 32px;
  }
  .maincard__content {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .maincard__title {
    font-size: 18px;
  }
}
.maincard_lg {
  .maincard__title {
    font-size: 18px;
  }
}

.maincard_full {
  .maincard__container {
    padding: 50px;
  }
  .maincard__container {
  }
  h1.maincard__title {
    font-weight: 500;
    font-size: 44px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #0e1117;
    margin-bottom: 20px;
  }
  .maincard__title_lg {
    font-size: 24px;
    line-height: 120%;
  }
  .maincard__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #445371;
  }
}
.maincard_wtags {
  .maincard__container {
    padding: 32px 41px 50px 50px;
  }
}
.maincard_full {
  .maincard__footer {
    position: static;
    margin-top: 24px;
  }
}
.maincard__tags {
  display: flex;
  min-height: 18px;
  gap: 4px;
  margin-bottom: 24px;
}

.maincard__tag,
.tag {
  display: inline-block;
  /* white-space: nowrap; */
  font-weight: 400;
  font-size: 12px;

  a,
  span {
    border-radius: 24px;
    padding: 4px 8px;
    display: block;
  }
  span {
    color: #37f;
    background: rgba(0, 85, 255, 0.05);
  }
  a,
  .tag_default {
    color: #858fa3;
    background: #f9fafb;
    font-size: 10px;
  }
  a:hover {
    color: #37f;
    background: rgba(0, 85, 255, 0.05);
  }
}

.maincard_auto {
  height: unset;
  .maincard__container {
    padding: 32px 50px 50px 50px;
  }
  .maincard__container .maincard__footer {
    position: static;
    margin-top: 24px;
  }
}

.maincard_nogb {
  .maincard__wrapper {
    height: 370px;

    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    border: none;
  }
  .maincard__container {
    padding: 50px 0 32px 0;
    max-width: 620px;
  }
}

.maincard__wrapper {
  display: flex;
  justify-content: space-between;
}

/* .maincard__table {
  display: flex;
  gap: 64px;
  margin: 20px 0;
} */
.maincard__text {
  p {
    line-height: 150%;
  }
}

.maincard__table {
  display: block;
}
.maincard__list {
  ul {
    @include clear;
    display: block;
    column-count: 2;
    li {
      padding-right: 12px;
      margin-bottom: 8px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.03em;
      color: #445371;
    }
  }
}
.maincard__text + .maincard__tags {
  margin-top: 20px;
}

@include medium-screen {
  .maincard {
    height: unset;
  }
  .maincard__wrapper {
    /*   padding: 30px 16px 16px 16px; */
    border-radius: 0;
    background-position: bottom -30px center;
    background-size: 561px;
    overflow: hidden;
    justify-content: center;
  }
  .maincard__image img {
    max-width: unset;
  }
  .maincard__container {
    /* max-width: 100% !important; */
    padding: 30px 16px 16px 16px;
    .maincard__footer {
      position: absolute;
      bottom: 16px;
      left: 16px;
      right: 16px;
      margin: auto;
      width: calc(100% - 32px) !important;
    }
  }
  .maincard__text {
    font-size: 15px;
    line-height: 160%;
    letter-spacing: -0.03em;
  }
  .maincard__text br {
    display: none;
  }
  .maincard__container .maincard__footer {
    width: 100%;

    .btn_main {
      width: 100%;
    }
  }
  .maincard__title {
    margin-bottom: 20px;
  }
  .maincard_full .maincard__wrapper {
    border-radius: 24px;
    background-position: bottom 0 center;
  }
  .maincard_full .maincard__container {
    padding: 30px 16px 16px 16px;
  }
  .maincard_full .maincard__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.03em;
  }
  .maincard__wrapper {
    /*  height: 541px; */
  }
  .maincard__footer .maincard__text.onlyMobile {
    font-size: 15px;
    line-height: 160%;
    letter-spacing: -0.03em;
    text-align: center;
    color: #fff;
    margin-top: 10px;
    display: block;
  }
  .maincard_full .maincard__container {
    margin-left: auto;
    margin-right: auto;
  }
  .maincard_full .maincard__text {
    font-size: 15px;
    line-height: 140%;
    br {
      display: none;
    }
  }
  .maincard__tags {
    flex-wrap: wrap;
  }
  .maincard__tag {
    font-size: 12px;
    /* span {
      color: #858fa3;
      background: #f9fafb;
    } */
  }
  .maincard__image.onlyMobile {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .maincard_full h1.maincard__title {
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.03em;
  }
  .maincard__wrapper {
    flex-wrap: wrap;
    position: relative;
  }
  .maincard_nogb {
    .maincard__container {
      padding: 30px 16px;
    }
    .maincard__wrapper {
      background: #fff;
      border-radius: 24px;
      padding: 0;
    }
  }
  .maincard__container {
    height: unset;
    position: static;
  }
  .maincard_xl {
    .maincard__wrapper {
      height: 541px;
    }
    .maincard__footer {
      position: absolute;
      bottom: 16px;
      max-width: 320px;
    }
  }
  .maincard_full .maincard__content {
    max-width: 100% !important;
    min-width: unset !important;
  }
  /* .maincard__table {
    flex-wrap: wrap;
    gap: 0;
    margin-bottom: 0;
  } */

  .maincard__list.onlyMobile {
    br {
      display: block;
    }
  }

  .maincard__list {
    ul {
      column-count: 1;
      margin-bottom: 0;
      padding-left: 25px;
      list-style: disc;
      li {
        margin-bottom: 0;
        padding-right: 0;
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        letter-spacing: -0.03em;
        color: #445371;
      }
    }
  }
}


@include small-screen {
  .maincard__wrapper {
    height: 541px !important;
  }
}

@include min-medium-screen {
  /*   .maincard_abs { */
  .maincard_427 {
    .maincard__container {
      min-height: 427px !important;
    }

  }
 .maincard_full .maincard__wrapper {
    position: relative;
   /*  min-height: 427px; */
  }
  .maincard__container {
    position: relative;
    z-index: 1;
  }
  .maincard__image img {
    max-width: unset;
    position: absolute;
    right: 0;
    max-width: unset;
    bottom: 0;
    max-height: unset;
    z-index: 0;
  }
  /*   } */
.maincard_imgstatic .maincard__image img {
    position: static;
  }
  .maincard__image img {
    max-width: unset;
  }
  .maincard__wrapper {
    overflow: hidden;
  }
   .maincard_full .maincard__container {
    min-height: 370px;
  }
  .maincard__image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    /* img {
      max-width: unset;
    } */
  }
  .maincard_nobg {
    .maincard__container {
      padding: 50px 0 32px 0;
    }
    .maincard__wrapper {
      background: none;
      box-shadow: none;
      border: none;
    }
  }
  #mainblock_marketingsignals {
    .maincard__image img {
      max-width: 502px;
    }
  }
  #mainblock_loanpv {
        .maincard__image img {
          transform: translateX(-79px);
        }
  }
  #mainblock_become_success {
    .maincard__title {
      font-size: 44px;
      line-height: 120%;
    }
    .maincard__container {
      min-height: 310px;
    }
    .maincard__wrapper{
      min-height: 310px;
    }
    .maincard__image img {
      bottom: unset;
        top: 50%;
        transform: translateY(-50%);
    }
  }
  #mainblock_bi {
    .maincard__image {
      img {
        transform: translateX(-10px);
      }
    }
  }
  #mainblock_utility {
    .maincard__image {
      img {
        transform: translateX(-50px);
      }
    }
  }
  #mainblock_risks_fssp {
    .maincard__wrapper {
      align-items: flex-start;
    }

    .maincard__image.onlyDesktop img {
      bottom: unset;
      top: 50%;
      transform:  translateY(-50%) translateX(-43px);
    }
    /* .maincard__image img {
      transform: translateX(-43px);
    } */
  }
  #mainblock_pdscore {
    .maincard__image {
      transform: translateX(-42px);

      img {
        max-width: unset;
      }
    }
  }
  #mainblock_insurance {
    .maincard__container {
      padding-right: 0;
    }
    .maincard__image {
      img {
        transform: translateX(0);
      }
    }
  }
  #mainblock_marketing_diversification {
    .maincard__image {
      justify-content: center;
      transform: translateX(-122px);
    }
  }
  #mainblock_marketingsignals {
  }
  #mainblock_ko {
    .maincard__container {
      padding-bottom: 32px;
    }
  
  }
  #mainblock_ins_ssp_szp {
    .maincard__content {
      max-width: 630px;
      min-width: 630px;
    }
  }

  #mainblock_marketingsegment {
    .maincard__image img {
      max-width: unset;
    }
  }
  #mainblock_signals {
  
    .maincard__container {
      padding-bottom: 32px;
    }
    .maincard__image {
     

      img {
        max-width: unset;
      }
    }
  }

  #mainblock_loan {
    .maincard__image.onlyDesktop img {
      max-width: 470px;
      /* margin-right: 50px; */
    }
  }
}

@include medium-screen {
  .maincard_mob_abs {
    .maincard__image img {
      max-width: 397px;
      position: absolute;
      bottom: 0;
      /* left: 0;
      right: 0; */
      margin: auto;
      /* transform: translateX(-30px); */
    }
  }
  .maincard_custom .maincard__block {
    max-width: 100%;
    min-width: 100%;
  }
  .maincard_custom {
    .maincard__container {
      padding: 0;
    }
    .maincard__wrapper {
      height: unset !important;
      padding: 0;
      background: none;
    }
    .maincard__block {
      margin-top: 40px;
    }
  }
  #mainblock_become_success  {
    .maincard__image img {
    /*   transform: translateY(-100px); */
      max-width: 335px;
    }
  }
  #mainblock_bi {
    .maincard__image img {
    /*   transform: translateY(-42px); */
    }
  }
  #mainblock_utility {
    .maincard__image img {
      max-width: 392px;
    }
  }
  #mainblock_lising {
    .maincard__image img {
      /* transform: translateY(25px); */
    }
  }
  #mainblock_risks_fssp {
    .maincard__image img {
      transform: translateY(-32px);
    }
  }
  #mainblock_signals {
    .maincard__image img {
     /*  max-width: 404px; */
     transform: translateY(30px);
    }
  }
  #mainblock_ko {
    .maincard__image img {
     /*  transform: translateY(-27px); */
    }
  }
  #mainblock_insurance {
    .maincard__image img {
      max-width: 526px;
    }
  }
  #mainblock_marketing_diversification {
    .maincard__image.onlyMobile {
     /*  transform: translateY(-35px); */
    }
  }
  #mainblock_connect {
    .maincard__image img {
      max-width: 335px;
      bottom: 70px;
    }
  }
  #mainblock_bank {
    .maincard__image img {
          transform: translateX(-33px) ;
    }
    .maincard__title {
      margin: 0 !important;
    }
    .maincard__container{
      padding-bottom: 0;
    }
  }
    #mainblock_ko {
  
    .maincard__image img {
    /*   transform: translateY(-90px); */
    }
  }
  #mainblock_digital_score {
    .maincard__wrapper {
      height: 611px !important;
    }
    .maincard__image img {
      transform: translateY(30px);
    }
  }
  #mainblock_risks_fssp {
    .maincard__wrapper {
  background: none;
  box-shadow: none;
  border-radius: 0;
    }
    
  }

  #mainblock_loan, #mainblock_marketingsignals {
    .maincard__image {
      img {
        max-width: 470px;
      }
    }
  }
  #mainblock_bi {
    .maincard__image {
      img[src="img/BI1_mainblock.webp"] {
        max-width: 418px;
      }
    }
  }
  .maincard__image {
    width: 100%;
  }
  .maincard__image img {
    position: absolute;
    bottom: 0;
   
  }
}
