<% var data={ title: "Национальное бюро кредитных историй" , author: "" }; %>
 <%= _.template(require('../includes/head.html').default)(data) %>
  <%= _.template(require('../includes/header.html').default)(data) %>

   <main>
    <div class="pageheader">
     <div class="breadcrumbs ">
      <div class="container">
       <ul itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item" href="/"
          title="НБКИ для бизнеса"><span itemprop="name">НБКИ для&nbsp;бизнеса</span>
          <meta itemprop="position" content="1">
         </a>
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item" href="/"
          title="Страховым компаниям"><span itemprop="name">Страховым компаниям</span>
          <meta itemprop="position" content="1">
         </a>
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
         <meta itemprop="item" content="b2b_services_bank_risks_digital_score.html"><span itemprop="name">Скоринги для
          страховых компаний</span>
         <meta itemprop="position" content="2">
        </li>
       </ul>
      </div>
     </div>
     <div class="mainblock pb-32 mob-pb-0" id="mainblock_risks_fssp">
      <div class="container">

       <div class="maincard  maincard_full maincard_nobg">
        <div class="maincard__wrapper">
         <div class="maincard__container mob-pb-0">

          <div class="maincard__content">
           <h1 class="maincard__title">Верификация данных заявителей на получение кредита</h1>
           <div class="maincard__text ">
            <p>Используем алгоритмы управления интенсивным потоком с проработанной логикой запросов. Увеличенная
             мощность серверов даёт стабильное управление потоком заявок при любой загрузке ресурсов ФССП и ФНС</p>

           </div>
          </div>
          <div class="maincard__footer">
           <div class="maincard__button">
            <a href="#formsection" class="scrollTo btn_main">Оставить заявку</a>
           </div>
          </div><!-- /.maincard__footer -->
         </div><!-- /.maincard__container -->
         <div class="maincard__image onlyDesktop">
          <img src="img/b2b_services_bank_risks_fssp_mainblock.webp" width="310" height="243" fetchpriority="high"
           alt="Верификация данных заявителей на получение кредита">
         </div><!-- /.maincard__image -->
         <div class="maincard__image onlyMobile">
          <img src="img/Reports1_mobile.webp" width="396" height="297" fetchpriority="high"
           alt="Верификация данных заявителей на получение кредита">
         </div><!-- /.maincard__image -->
        </div><!-- /.maincard__wrapper -->
       </div>

      </div><!-- /.container -->
     </div><!-- /.mainblock -->
    </div><!-- /.pageheader -->


    <div class="p-32-0 mob-p-20-0 mob-pb-32">
     <div class="container">
      <div class="cardsinfo flex mob-flexwrap gap-24 mob-gap-8">
       <div class="card offercard offercard_lg">
        <div class="offercard__content content_h">
         <div class="offercard__top  ">
          <div class="maincard__tags">
           <div class="maincard__tag"><a href="#">Управление рисками</a></div>
           <div class="maincard__tag"><a href="#">Взыскание</a></div>
           <div class="maincard__tag"><a href="#">Управление портфелем</a></div>
          </div>
          <div class="title">Онлайн и пакетные запросы <br>в базу ИП ФССП России</div>
          <div class="text">
           <p>Оперативное получение общедоступных сведений из базы данных исполнительных производств ФССП России для
            оценки риск-профиля клиента.
           </p>
           <p>Данные в отношении физлиц, юрлиц, индивидуальных предпринимателей.</p>
          </div>
         </div>
         <div class="offercard__footer">
          <div class="offercard__list">
           <ul class="list_blueround">
            <li>Возможность пакетного запроса</li>
            <li>Без ограничений на количество запросов</li>
            <li>Без капчи и проверки IP</li>
           </ul>
          </div><!-- /.offercard__list -->

          <div class="offercard__button">
           <a href="#formsection" class="scrollTo btn_main btn_main_light mob-full" data-flipbutton="flipcard">Оставить
            заявку</a>
          </div><!-- /.offercard__button -->
         </div>
        </div><!-- /.offercard__content content_h -->



       </div><!-- /.card -->
       <div class="card offercard offercard_lg">
        <div class="offercard__content content_h">
         <div class="offercard__top  ">
          <div class="maincard__tags">
           <div class="maincard__tag"><a href="#">Управление рисками</a></div>
          </div>
          <div class="title">Поиск ИНН физлица <br>в базе ФНС России</div>
          <div class="text">
           <p>Сервис решает регуляторную задачу обязательной проверки ИНН заемщиков при принятии решения о выдаче
            кредита.

           </p>
           <p>Данные гарантированно предоставляются в том виде, в каком были получены из ФНС.</p>
          </div>
         </div>
         <div class="offercard__footer">
          <div class="offercard__list">
           <ul class="list_blueround">
            <li>Возможность пакетного и online запроса</li>
            <li>Без капчи и ручного ввода данных</li>
            <li>Синхронный режим вместо СМЭВ</li>
           </ul>
          </div><!-- /.offercard__list -->

          <div class="offercard__button">
           <a href="#formsection" class="scrollTo btn_main btn_main_light mob-full" data-flipbutton="flipcard">Оставить
            заявку</a>
          </div><!-- /.offercard__button -->
         </div>
        </div><!-- /.offercard__content content_h -->



       </div><!-- /.card -->

      </div><!-- /.cardsinfo -->
     </div><!-- /.container -->
    </div>


    <section class="sectionbanner p-32-0 mob-p-20-0">
     <div class="container">
      <div class="frameblock frameblock_imagetop" id="frameblock_risks_fssp">
       <div class="frameblock__wrapper">
        <div class="frameblock__main">
         <div class="frameblock__content">
          <div class="frameblock__top">
           <h2 class="frameblock__title">ИНН — самый точный<br> идентификатор клиента</h2>
           <div class="frameblock__text">
            <p>НБКИ проверяет ИНН по официальным данным ФНС по всем<br> федеральным округам России. Такая проверка
             обеспечивает<br> 100% репрезентативность данных</p>
           </div>
           <div class="maincard__list mb-32 onlyDesktop">
            <ul>
             <li>Контроль паспортных данных<br> клиента</li>
             <li>Мэтчинг субъектов<br> без задвоения в CRM</li>
             <li>Отслеживание процедур<br> банкротства физлица</li>
             <li>Поиск информации об<br> изменениях у клиентов юрлиц</li>
            </ul>
           </div>
           <div class="maincard__list mb-0 onlyMobile">
            <ul>
             <li>Контроль паспортных данных клиента</li>
             <li>Отслеживание процедур банкротства физлица</li>
             <li>Поиск информации об<br> изменениях у клиентов юрлиц</li>
             <li>Мэтчинг субъектов<br> без задвоения в CRM</li>

            </ul>
           </div>
          </div>
          <div class="frameblock__footer">
           <div class="frameblock__buttons"><a href="#formsection" class="scrollTo btn_main mob-full">Оставить
             заявку</a></div>
          </div><!-- /.frameblock__footer -->
         </div><!-- /.frameblock__contents -->
        </div><!-- /.frameblock__main -->
        <div class="frameblock__image  onlyDesktop">
         <img loading="lazy" src="img/b2b_services_bank_risks_fssp_frameblock.webp" alt="b2b_services_bank_risks_fssp"
          width="229" height="280">
        </div>
        <div class="frameblock__image onlyMobile">
         <img loading="lazy" src="img/b2b_services_bank_risks_fssp_frameblock_mobile.webp" alt="b2b_services_bank_risks_fssp"
          width="268" height="329">
        </div>
       </div><!-- /.frameblock__wrapper -->
      </div><!-- /.frameblock -->
     </div><!-- /.container -->
    </section>

    <section class="sectiontabs p-32-0 pb-0 mob-p-20-0">
     <div class="container">
      <h2>Другие услуги НБКИ для&nbsp;банков и МФИ</h2>
     </div><!-- /.container -->
     <div class="solutionsgrid onlyMobile">
      <div class="container">

       <div class="solutionsgrid__items">
        <div class="solutionsgrid__item">
         <a href="#" class="solutionsgrid__card">
          <div class="solutionsgrid__image">
           <img loading="lazy" src="img/PD2_sm.webp" alt="PD2_sm" width="150" height="150">
          </div>
          <div class="solutionsgrid__title">Кредитные отчеты</div>
         </a>
        </div><!-- /.solutionsgrid__item -->
        <div class="solutionsgrid__item">
         <a href="#" class="solutionsgrid__card">
          <div class="solutionsgrid__image">
           <img loading="lazy" src="img/Take2_sm.webp" alt="Take2_sm" width="150" height="150">
          </div>
          <div class="solutionsgrid__title">Скоринги</div>
         </a>
        </div><!-- /.solutionsgrid__item -->
        <div class="solutionsgrid__item">
         <a href="#" class="solutionsgrid__card">
          <div class="solutionsgrid__image">
           <img loading="lazy" src="img/Reports2_sm.webp" alt="Reports2_sm" width="150" height="150">
          </div>
          <div class="solutionsgrid__title">Сигнальные отчеты</div>
         </a>
        </div><!-- /.solutionsgrid__item -->
        <div class="solutionsgrid__item">
         <a href="#" class="solutionsgrid__card">
          <div class="solutionsgrid__image">
           <img loading="lazy" src="img/BI2_sm.webp" alt="BI2_sm" width="150" height="150">
          </div>
          <div class="solutionsgrid__title">Аналитика</div>
         </a>
        </div><!-- /.solutionsgrid__item -->
       </div><!-- /.solutionsgrid__items -->
      </div><!-- /.container -->

     </div><!-- /.onlyMobile -->
     <div class="tabsblock onlyDesktop">

      <div class="tabsblock__content">
       <div class="tabsblock__items">
        <div class="tabsblock__item ">
         <div class="solutions">
          <div class="solutions__wrapper">
           <div class="solutions__slider" data-slider="solutions">
            <div class="solutions__slide">
             <a href="#" class="solutioncard">
              <div class="solutioncard__title">Кредитные отчеты для&nbsp;банков и МФИ</div>
              <div class="solutioncard__icon"></div>
             </a>
            </div>
            <div class="solutions__slide">
             <a href="#" class="solutioncard">
              <div class="solutioncard__title">ССП и сведения<br> о самозапрете</div>
              <div class="solutioncard__icon"></div>
             </a>
            </div>
            <div class="solutions__slide">
             <a href="#" class="solutioncard">
              <div class="solutioncard__title">Сигнальные кредитные отчеты</div>
              <div class="solutioncard__icon"></div>
             </a>
            </div>
            <div class="solutions__slide">
             <a href="#" class="solutioncard">
              <div class="solutioncard__title">Аналитика <br>НБКИ</div>
              <div class="solutioncard__icon"></div>
             </a>
            </div>
           </div><!-- /.solutions__slider -->
          </div><!-- /.solutions__wrapper -->
         </div><!-- /.solutions -->
        </div>

       </div><!-- /.tabsblock__items -->
      </div><!-- /.tabsblock__content -->
     </div><!-- /.tabsblock -->
    </section>



   

   <%= _.template(require('../includes/footer.html').default)(data) %>