<% var data={ title: "Национальное бюро кредитных историй" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>

      <main>
        <div class="pageheader">
          <div class="breadcrumbs ">
            <div class="container">
              <ul itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item"
                    href="/" title="НБКИ для бизнеса"><span itemprop="name">НБКИ для&nbsp;бизнеса</span>
                    <meta itemprop="position" content="1">
                  </a></li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                  <meta itemprop="item" content="b2b_services_analytics.html"><span itemprop="name">BI аналитика
                    НБКИ</span>
                  <meta itemprop="position" content="2">
                </li>
              </ul>
            </div>
          </div>
          <div class="mainblock pb-0 mob-pb-0 " id="mainblock_bi">
            <div class="container">

              <div class="maincard maincard_full ">

                <div class="maincard__wrapper">
                  <div class="maincard__container">
                    <div class="maincard__content">
                      <h1 class="maincard__title">BI аналитика НБКИ</h1>
                      <div class="maincard__text ">Интерактивная платформа с&nbsp;данными о&nbsp;состоянии
                        <br>и&nbsp;динамике рынка розничного кредитования в&nbsp;России
                      </div>
                      <div class="maincard__tags ">
                        <div class="maincard__tag"><span>Стандарт</span></div>
                        <div class="maincard__tag"><span>Кастомизация под запрос</span></div>
                        <div class="maincard__tag"><span>Бесплатный доступ</span></div>
                      </div>
                    </div>
                    <div class="maincard__footer">
                      <div class="maincard__button">
                        <a href="#formsection" class="scrollTo btn_main">Оставить заявку</a>
                      </div>

                    </div><!-- /.maincard__footer -->
                  </div><!-- /.maincard__container -->
                  <div class="maincard__image ">
                    <img src="img/BI1_mainblock.webp" width="560" height="420" fetchpriority="high"
                      alt="BI аналитика НБКИ">
                  </div><!-- /.maincard__image -->

                </div><!-- /.maincard__wrapper -->
              </div>

            </div><!-- /.container -->
          </div><!-- /.mainblock -->
        </div><!-- /.pageheader -->

        <div class="pt-10 pb-32 mob-pb-20">
          <div class="container">
            <div class="cardsinfo flex mob-flexwrap gap-16">
              <div class="card card_24_22">
                <div class="title title_md mb-20 mob-mb-8">Экономическая эффективность</div>
                <div class="text m-0">Все этапы кредитного процесса <br>в&nbsp;конкурентных группах кредиторов</div>
              </div><!-- /.card -->
              <div class="card card_24_22">
                <div class="title title_md mb-20 mob-mb-8">Кастомизация для&nbsp;заказчика</div>
                <div class="text m-0">Персональная настройка по&nbsp;техзаданию партнера, любая кастомизация</div>
              </div><!-- /.card -->
              <div class="card card_24_22">
                <div class="title title_md mb-20 mob-mb-8">Бесплатный доступ для&nbsp;партнеров</div>
                <div class="text m-0">Отчет о&nbsp;кредитовании физических лиц <br>для&nbsp;банков, МФО и&nbsp;МКК
                  бесплатно</div>
              </div><!-- /.card -->

            </div>
          </div><!-- /.container -->
        </div>


        <section class="flipcardssection p-32-0 mob-p-20-0">
          <div class="container">
            <h2>Business Intelligence НБКИ</h2>

            <div class="offers offers_flip">
              <div class="offers__items">
                <div class="offers__item" data-flipwrapper="flipcard">
                  <div class="flipcard offercard card flex content-between mob-flexwrap  " data-flip="face">
                    <div class="offercard__content content_h">
                      <div class="offercard__top mob-mb-20 ">
                        <span class="offercard__title title">BI отчет «Бенчмаркинг»</span>
                        <div class="offercard__text text">Все этапы кредитного процесса <br>в интерактивном дашборде для
                          сравнения<br> групп банков, доступно по подписке</div>
                      </div>
                      <div class="offercard__footer">
                        <span class="btn_main btn_main_light mob-full" data-flipbutton="flipcard">Подробнее</span>
                      </div>
                    </div>
                    <div class="offercard__image mob-order-1 mob-mb-30">
                      <img src="img/KO_ul.svg" alt="KO_ul" width="104" height="90" loading="lazy">
                    </div>
                  </div><!-- /.offercard -->
                  <div class="flipcard flipcard_back offercard card flex_column flex content-between mob-flexwrap mob-gap-30"
                    data-flip="back">
                    <div class="offercard__content content_h">
                      <div class="offercard__header">
                        <div class="offercard__info">
                          <span>Винтажи по просрочке 30+ и 90+</span>
                        </div>
                        <div class="offercard__button">
                          <span class="btn_main btn_main_light btn_img" data-flipbutton="flipcard">
                            <img src="img/CloseLarge.svg" alt="CloseLarge" width="24" height="24">
                          </span>
                        </div>
                      </div>


                      <div class="offercard__top mob-mb-0 ">
                        <span class="offercard__title title">BI отчет «Бенчмаркинг»</span>
                        <div class="offercard__text text">Все этапы кредитного процесса в конкурентных группах
                          кредиторов. Каждая группа выводится на графики по разным метрикам и фильтрам. Для каждой
                          группы банков доступны Заявки, Выдачи, Винтажи (качество обслуживания выданных кредитов по
                          поколениям)</div>
                      </div>

                    </div>
                    <div class="offercard__footer">
                      <a href="#formsection" class="scrollTo btn_main   mob-full">
                        Оставить заявку
                      </a>
                    </div><!-- /.offercard__footer -->

                  </div><!-- /.offercard -->
                </div><!-- /.offers__item -->
                <div class="offers__item" data-flipwrapper="flipcard">
                  <div class="flipcard offercard card flex content-between mob-flexwrap" data-flip="face">
                    <div class="offercard__content content_h">
                      <div class="offercard__top mob-mb-20 ">
                        <span class="offercard__title title">Индивидуальные BI отчеты</span>
                        <div class="offercard__text text">Персональное обсуждение потребностей <br>и технического
                          задания клиента <br>для кастомизации под запрос</div>
                      </div>
                      <div class="offercard__footer">
                        <span class="btn_main btn_main_light mob-full" data-flipbutton="flipcard">Подробнее</span>
                      </div>
                    </div>
                    <div class="offercard__image mob-order-1 mob-mb-30">
                      <img src="img/KO_ul.svg" alt="KO_ul" width="104" height="90" loading="lazy">
                    </div>
                  </div><!-- /.offercard -->
                  <div class="flipcard flipcard_back offercard card flex_column flex content-between mob-flexwrap mob-gap-30"
                    data-flip="back">
                    <div class="offercard__content content_h">
                      <div class="offercard__header">
                        <div class="offercard__info">
                          <span>Ежемесячное обновление</span>
                        </div>
                        <div class="offercard__button">
                          <span class="btn_main btn_main_light btn_img" data-flipbutton="flipcard">
                            <img src="img/CloseLarge.svg" alt="CloseLarge" width="24" height="24">
                          </span>
                        </div>
                      </div>


                      <div class="offercard__top mob-mb-0 ">
                        <span class="offercard__title title">Кастомизированные отчеты</span>
                        <div class="offercard__text text">
                          <p>Любая реализация по техзаданию партнера: виды<br> кредитования, типы кредиторов, показатели
                            и агрегаты из<br> кредитных историй</p>
                        </div>
                      </div>

                    </div>

                    <div class="offercard__footer">
                      <a href="#formsection" class="scrollTo btn_main   mob-full">
                        Оставить заявку
                      </a>
                    </div><!-- /.offercard__footer -->

                  </div><!-- /.offercard -->
                </div><!-- /.offers__item -->
                <div class="offers__item" data-flipwrapper="flipcard">
                  <div class="flipcard offercard card flex content-between mob-flexwrap" data-flip="face">
                    <div class="offercard__content content_h">
                      <div class="offercard__top mob-mb-20 ">
                        <span class="offercard__title title">BI аналитика <br>кредитного рынка</span>
                        <div class="offercard__text text">Все этапы кредитного процесса по рынку<br> банковского и
                          микрофинансового кредитования</div>
                      </div>
                      <div class="offercard__footer">
                        <span class="btn_main btn_main_light mob-full" data-flipbutton="flipcard">Подробнее</span>
                      </div>
                    </div>
                    <div class="offercard__image mob-order-1 mob-mb-30">
                      <img src="img/KO_ul.svg" alt="KO_ul" width="104" height="90" loading="lazy">
                    </div>
                  </div><!-- /.offercard -->
                  <div class="flipcard flipcard_back offercard card flex flex_column content-between mob-flexwrap mob-gap-30" data-flip="back">
                    <div class="offercard__content content_h">
                      <div class="offercard__header">
                        <div class="offercard__info">
                          <span>Ежемесячное обновление</span>
                        </div>
                        <div class="offercard__button">
                          <span class="btn_main btn_main_light btn_img" data-flipbutton="flipcard">
                            <img src="img/CloseLarge.svg" alt="CloseLarge" width="24" height="24">
                          </span>
                        </div>
                      </div>


                      <div class="offercard__top mob-mb-0 ">
                        <span class="offercard__title title">Бесплатный отчет для партнеров</span>
                        <div class="offercard__text text">
                          <p>В каждом отчете доступны Заявки, Выдачи, Винтажи (качество обслуживания выданных кредитов
                            по поколениям). Данные внутри отчета можно фильтровать по нескольким параметрам. Информация
                            всегда актуальна и обновляется каждую вторую декаду месяца</p>
                        </div>
                      </div>

                    </div>
                    <div class="offercard__footer">
                      <a href="#formsection" class="scrollTo btn_main   mob-full">
                        Оставить заявку
                      </a>
                    </div><!-- /.offercard__footer -->


                  </div><!-- /.offercard -->
                </div><!-- /.offers__item -->

              </div><!-- /.offers__items -->
            </div>
          </div><!-- /.container -->
        </section>

<section class="sectionbanner p-32-0 mob-p-20-0">
          <div class="container">
            <div class="frameblock frameblock_imgleft" id="frameblock_folders">
              <div class="frameblock__wrapper">
                <div class="frameblock__image onlyDesktop" style="transform: none;">
                  <img loading="lazy" src="img/nbki-folders-new_frameblock.webp" alt="Мониторинг финансового поведения заемщиков" width="559" height="367">
                </div><!-- /.frameblock__image -->
                <div class="frameblock__main">
                  <div class="frameblock__content" style="max-width: 495px;">
                    <div class="frameblock__top">
                      <div class="maincard__tags">
                        <div class="maincard__tag"><a href="#">Маркетинг</a></div>
                        <div class="maincard__tag"><a href="#">Управление рисками</a></div>
                        <div class="maincard__tag"><a href="#">Кросс-продажи</a></div>
                        <div class="maincard__tag"><a href="#">Управление лимитами</a></div>
                      </div>
                      <h2 class="frameblock__title">Мониторинг финансового поведения заемщиков</h2>
                      <div class="frameblock__text">
                        <p>Сигнальные кредитные отчеты НБКИ позволяют оценивать изменения в кредитной истории клиента
                          практически в
                          режиме реального времени</p>
                      </div>
                    </div>
                    <div class="frameblock__footer">
                      <div class="frameblock__buttons"><a href="#" class="btn_main mob-full">Подробнее</a></div>
                    </div><!-- /.frameblock__footer -->
                  </div><!-- /.frameblock__contents -->
                </div><!-- /.frameblock__main -->
                <div class="frameblock__image onlyMobile" style="transform: translateY(80px);">
                  <img loading="lazy" src="img/nbki-folders-new-4_mobile.webp" alt="Мониторинг финансового поведения заемщиков" width="343" height="424">

                </div><!-- /.frameblock__wrapper -->
              </div><!-- /.frameblock -->
            </div><!-- /.container -->
        </div></section>




        <%= _.template(require('../includes/footer.html').default)(data) %>