<% var data={ title: "Национальное бюро кредитных историй" , author: "" }; %>
 <%= _.template(require('../includes/head.html').default)(data) %>
  <%= _.template(require('../includes/header.html').default)(data) %>

   <main>
    <div class="pageheader">
     <div class="breadcrumbs ">
      <div class="container">
       <ul itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item" href="/"
          title="НБКИ для бизнеса"><span itemprop="name">НБКИ для&nbsp;бизнеса</span>
          <meta itemprop="position" content="1">
         </a>
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
         <meta itemprop="item" content="b2b_services_connect.html"><span itemprop="name">Способы подключения
          к&nbsp;НБКИ</span>
         <meta itemprop="position" content="2">
        </li>
       </ul>
      </div>
     </div>
     <div class="mainblock pb-32 mob-pb-0" id="mainblock_connect">
      <div class="container">

       <div class="maincard  maincard_full maincard_nobg maincard_mob_abs">
        <div class="maincard__wrapper">
         <div class="maincard__container mob-pb-0">

          <div class="maincard__content">
           <h1 class="maincard__title">Способы подключения <br>к&nbsp;НБКИ</h1>
           <div class="maincard__text ">
            <p>Национальное бюро кредитных историй предоставляет широкий спектр<br> технологических возможностей
             взаимодействия с источниками<br> и пользователями информации
           </div>
          </div>
          <div class="maincard__footer">
           <div class="maincard__button">
            <a href="#formsection" class="scrollTo btn_main">Стать клиентом</a>
           </div>
          </div><!-- /.maincard__footer -->
         </div><!-- /.maincard__container -->
         <div class="maincard__image">
          <img src="img/b2b_services_connect.webp" width="409" height="307" fetchpriority="high"
           alt="Способы подключения к НБКИ">
         </div><!-- /.maincard__image -->

        </div><!-- /.maincard__wrapper -->
       </div>

      </div><!-- /.container -->
     </div><!-- /.mainblock -->
    </div><!-- /.pageheader -->


    <div class="p-32-0 mob-p-20-0 mob-pb-32">
     <div class="container">
      <div class="cardsinfo flex mob-flexwrap gap-24 mob-gap-8">
       <div class="card offercard offercard_md offercard_hover">
        <div class="offercard__content content_h">
         <div class="offercard__top  ">
          <div class="maincard__tags">
           <div class="maincard__tag"><a href="#">WEB</a></div>
          </div>
          <div class="title ">Передача данных «Передача&nbsp;в&nbsp;1&nbsp;клик»</div>
          <div class="text mb-24">
           <p>Простое решение — утилита к офисным приложениям дает возможность переда-вать сведения в крединую историю
           </p>
          </div>
          <div class="offercard__list mob-mb-0">
           <ul class="list_blueround">
            <li>Для организаций, которые передают данные в НБКИ, но не имеют права или потребности получать кредитные
             отчеты</li>

           </ul>
          </div>
         </div>
         <div class="offercard__footer offercard__footer_h h_280">
          <div class="text mt-0 mob-mb-16">
           <p>Решение подходит для поставщиков жилищно-коммунальных услуг, арбитражных управляющих и др.</p>
          </div><!-- /.text -->

          <div class="offercard__button">
           <a href="#formsection" class="scrollTo btn_main btn_main_light mob-full" data-flipbutton="flipcard">Оставить
            заявку</a>
          </div><!-- /.offercard__button -->
         </div>
        </div><!-- /.offercard__content content_h -->



       </div><!-- /.card -->
       <div class="card offercard offercard_md offercard_hover">
        <div class="offercard__content content_h">
         <div class="offercard__top  ">
          <div class="maincard__tags">
           <div class="maincard__tag"><a href="#">WEB</a></div>
          </div>
          <div class="title ">Передача и&nbsp;запросы данных «НБКИ&nbsp;Онлайн»</div>
          <div class="text mb-24">
           <p>Оптимальное решение для организаций, начинающих свою деятельность, или ведущих умеренную бизнес-активность
           </p>
          </div>
          <div class="offercard__list mob-mb-0">
           <ul class="list_blueround">
            <li>Для небольших регулярных запросов информации и передачи данных;</li>
            <li>Полноценное взаимодействие с НБКИ без инвестиций в создание и поддержку IT инфраструктуры;</li>
            <li>Возможность вести учет обмена данными с бюро — использовать базу как резервную учетную систему</li>

           </ul>
          </div>
         </div>
         <div class="offercard__footer offercard__footer_h h_280">
          <div class="text mt-0 mob-mb-16">
           <div class="frametext">
            <p>Опция «НБКИ Онлайн Расширенный» — доступ к ряду дополнительных услуг.
            </p>
            <p>Оба решения позволяют получать данные о клиентах и передавать информацию в НБКИ по оптимальной цене</p>
           </div>
          </div><!-- /.text -->

          <div class="offercard__button">
           <a href="#formsection" class="scrollTo btn_main btn_main_light mob-full" data-flipbutton="flipcard">Оставить
            заявку</a>
          </div><!-- /.offercard__button -->
         </div>
        </div><!-- /.offercard__content content_h -->

       </div><!-- /.card -->
       <div class="card offercard offercard_md offercard_hover">
        <div class="offercard__content content_h">
         <div class="offercard__top  ">
          <div class="maincard__tags">
           <div class="maincard__tag"><a href="#">WEB</a></div>
          </div>
          <div class="title ">B2B соединение <br>с&nbsp;НБКИ</div>
          <div class="text mb-24">
           <p>Подходит для крупных организаций. Учет обмена данными с НБКИ делает это решение резервной учетной системой</p>
          </div>
          <div class="offercard__list mob-mb-0">
           <ul class="list_blueround">
            <li>Взаимодействие в режиме онлайн в&nbsp;формате&nbsp;24/7;</li>
            <li>Объем информации для приема и передачи практически не ограничен;</li>
            <li>Настройка автоматических запросов и получение кредитных отчетов в формате хml-файла</li>

           </ul>
          </div>
         </div>
         <div class="offercard__footer offercard__footer_h h_280">
          <div class="text mt-0 mob-mb-16">
           <p>Соединение позволяет интегрировать информацию из кредитного отчета в автоматизированный процесс принятия решений и управления рисками</p>
          </div><!-- /.text -->

          <div class="offercard__button">
           <a href="#formsection" class="scrollTo btn_main btn_main_light mob-full" data-flipbutton="flipcard">Оставить
            заявку</a>
          </div><!-- /.offercard__button -->
         </div>
        </div><!-- /.offercard__content content_h -->

       </div><!-- /.card -->

      </div><!-- /.cardsinfo -->
     </div><!-- /.container -->
    </div>

<section class="aboutsection p-32-0 mob-p-20-0">
          <div class="container">
            <h2 class="mob-mb-40">Источники данных <br>и партнеры бюро</h2>
          </div><!-- /.container -->
          <div class="aboutblock__info">
            <div class="container">
              <div class="aboutblock__stats aboutblock__stats_type2 flex gap-32 content-between">
                <div class="aboutblock__item ">
                  <div class="stats">
                    <div class="stats__top">
                      <span class="stats__numb">107</span>
                    </div>
                    <div class="stats__text">
                      млн&nbsp;уникальных<br> заемщиков&nbsp;в&nbsp;базе
                    </div>
                  </div>
                </div>
                <div class="aboutblock__item ">
                  <div class="stats">
                    <div class="stats__top">
                      <span class="stats__numb">600
                    </span></div>
                    <div class="stats__text">
                      банков, в&nbsp;том&nbsp;числе<br> под&nbsp;управлением&nbsp;АСВ
                    </div>
                  </div>
                </div>
                <div class="aboutblock__item ">
                  <div class="stats">
                    <div class="stats__top">
                      <span class="stats__numb">1100</span>
                    </div>
                    <div class="stats__text">
                      микрофинансовых<br> институтов
                    </div>
                  </div>
                </div>
                <div class="aboutblock__item ">
                  <div class="stats">
                    <div class="stats__top">
                      <span class="stats__numb">800</span>
                    </div>
                    <div class="stats__text">
                      кредитных потребительских<br> кооперативов
                    </div>
                  </div>
                </div>
                <div class="aboutblock__item ">
                  <div class="stats">
                    <div class="stats__top">
                      <span class="stats__numb">2500</span><sup>+</sup>
                    </div>
                    <div class="stats__text">
                      иных источников:&nbsp;лизинг,&nbsp;коллекторы,<br> факторинг,&nbsp;арбитражные&nbsp;управляющие
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>



    <%= _.template(require('../includes/footer.html').default)(data) %>