<% var data={ title: "Национальное бюро кредитных историй" , author: "" }; %>
 <%= _.template(require('../includes/head.html').default)(data) %>
  <%= _.template(require('../includes/header.html').default)(data) %>

   <main>
    <div class="pageheader">
     <div class="breadcrumbs ">
      <div class="container">
       <ul itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item" href="/"
          title="НБКИ для бизнеса"><span itemprop="name">НБКИ для&nbsp;бизнеса</span>
          <meta itemprop="position" content="1">
         </a>
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item" href="/"
          title="Страховым компаниям"><span itemprop="name">Страховым компаниям</span>
          <meta itemprop="position" content="2">
         </a>
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
         <meta itemprop="item" content="b2b_services_insurance_scores.html"><span itemprop="name">Скоринги для страховых
          компаний</span>
         <meta itemprop="position" content="3">
        </li>
       </ul>
      </div>
     </div>
     <div class="mainblock pb-32 mob-pb-0" id="mainblock_signals">
      <div class="container">

       <div class="maincard maincard_nobg maincard_full">
        <div class="maincard__wrapper">
         <div class="maincard__container mob-pb-0">

          <div class="maincard__content">
           <h1 class="maincard__title">Скоринги&nbsp;и рейтинги&nbsp;НБКИ<br> для&nbsp;страховщиков</h1>
           <div class="maincard__text ">
            <p>Модели НБКИ позволяют выявлять показатели, которые влияют на<br> убыточность страхового полиса</p>

           </div>
          </div>
          <div class="maincard__footer">
           <div class="maincard__button">
            <a href="#formsection" class="scrollTo btn_main">Оставить заявку</a>
           </div>
          </div><!-- /.maincard__footer -->
         </div><!-- /.maincard__container -->
         <div class="maincard__image ">
          <img src="img/Take1_mainblock.webp" width="470" height="352" fetchpriority="high"
           alt="Скоринги и рейтинги НБКИ">
         </div><!-- /.maincard__image -->

        </div><!-- /.maincard__wrapper -->
       </div>

      </div><!-- /.container -->
     </div><!-- /.mainblock -->
    </div><!-- /.pageheader -->

    <div class="p-32-0 mob-p-20-0 mob-pb-32">
     <div class="container">
      <div class="cardsinfo flex mob-flexwrap gap-24 mob-gap-8">
       <div class="card offercard offercard_lg">
        <div class="offercard__content content_h gap-32">
         <div class="offercard__top  ">
          <div class="maincard__tags">
           <div class="maincard__tag"><span class="tag_default">Разработано с использованием рекуррентной
             нейросети</span></div>

          </div>
          <div class="title">Страховой скоринг <br>на&nbsp;основе кредитной истории</div>
          <div class="text">
           <p>НБКИ выявило показатели в кредитной истории, которые влияют на убыточность страхового полиса. На их основе
            была построена скоринговая модель, которая активно применяется в моторном и некоторых других типах
            страхования.</p>
           <p>Универсальная модель разработана с использованием рекуррентной нейросети и может применяться для
            ранжирования риска дефолта для всех финансовых продуктов.</p>
           <p>
            Скоринг позволяет оценивать вероятность дефолта клиента</p>

          </div>
         </div>
         <div class="offercard__footer">

          <div class="offercard__button">
           <a href="#formsection" class="scrollTo btn_main btn_main_light mob-full" data-flipbutton="flipcard">Оставить
            заявку</a>
          </div><!-- /.offercard__button -->
         </div>
        </div><!-- /.offercard__content content_h -->



       </div><!-- /.card -->
       <div class="card offercard offercard_lg">
        <div class="offercard__content content_h gap-32">
         <div class="offercard__top  ">
          <div class="maincard__tags">

           <div class="maincard__tag">
            <span class="tag_default">Своя разработка</span>
           </div>
           <div class="maincard__tag">
            <span class="tag_default">Одобрено ЦБ</span>
           </div>
          </div>
          <div class="title">Персональный <br>кредитный рейтинг</div>
          <div class="text">
           <p>Применяется для маркирования предложений и для развития собственных программ лояльности.
           </p>
           <p>С помощью ПКР страховая компания может управлять входящим потоком заявок, поощряя клиентов в нужном ему
            диапазоне ПКР дополнительными преференциями. Так как ПКР доступен для клиентов в НБКИ, такой маркетинг
            позволяет добиться значимых финансовых результатов и роста лояльности клиентов.</p>
          </div>
         </div>
         <div class="offercard__footer">

          <div class="offercard__button">
           <a href="#formsection" class="scrollTo btn_main btn_main_light mob-full" data-flipbutton="flipcard">Оставить
            заявку</a>
          </div><!-- /.offercard__button -->
         </div>
        </div><!-- /.offercard__content content_h -->



       </div><!-- /.card -->

      </div><!-- /.cardsinfo -->
     </div><!-- /.container -->
    </div>

    <section class="sectiontabs p-32-0 pb-0 mob-p-20-0">
     <div class="container">
      <h2>Другие услуги НБКИ для&nbsp;банков и МФИ</h2>
     </div><!-- /.container -->
     <div class="solutionsgrid onlyMobile">
      <div class="container">

       <div class="solutionsgrid__items">
        <div class="solutionsgrid__item">
         <a href="#" class="solutionsgrid__card">
          <div class="solutionsgrid__image">
           <img loading="lazy" src="img/PD2_sm.webp" alt="PD2_sm" width="150" height="150">
          </div>
          <div class="solutionsgrid__title">Кредитные отчеты</div>
         </a>
        </div><!-- /.solutionsgrid__item -->
        <div class="solutionsgrid__item">
         <a href="#" class="solutionsgrid__card">
          <div class="solutionsgrid__image">
           <img loading="lazy" src="img/Take2_sm.webp" alt="Take2_sm" width="150" height="150">
          </div>
          <div class="solutionsgrid__title">Сигнальные отчеты</div>
         </a>
        </div><!-- /.solutionsgrid__item -->
        <div class="solutionsgrid__item">
         <a href="#" class="solutionsgrid__card">
          <div class="solutionsgrid__image">
           <img loading="lazy" src="img/Data2_tab.webp" alt="Data2_tab" width="150" height="150">
          </div>
          <div class="solutionsgrid__title">ССП и самозапрет</div>
         </a>
        </div><!-- /.solutionsgrid__item -->
        <div class="solutionsgrid__item">
         <a href="#" class="solutionsgrid__card">
          <div class="solutionsgrid__image">
           <img loading="lazy" src="img/BI2_sm.webp" alt="BI2_sm" width="150" height="150">
          </div>
          <div class="solutionsgrid__title">Аналитика</div>
         </a>
        </div><!-- /.solutionsgrid__item -->
       </div><!-- /.solutionsgrid__items -->
      </div><!-- /.container -->

     </div><!-- /.onlyMobile -->
     <div class="tabsblock onlyDesktop">

      <div class="tabsblock__content">
       <div class="tabsblock__items">
        <div class="tabsblock__item ">
         <div class="solutions">
          <div class="solutions__wrapper">
           <div class="solutions__slider" data-slider="solutions">
            <div class="solutions__slide">
             <a href="#" class="solutioncard">
              <div class="solutioncard__title">Сведения о средне-месячных платежах</div>
              <div class="solutioncard__icon"></div>
             </a>
            </div>
            <div class="solutions__slide">
             <a href="#" class="solutioncard">
              <div class="solutioncard__title">BI аналитика <br>НБКИ</div>
              <div class="solutioncard__icon"></div>
             </a>
            </div>
            <div class="solutions__slide">
             <a href="#" class="solutioncard">
              <div class="solutioncard__title">Кредитные отчеты для страховых компаний</div>
              <div class="solutioncard__icon"></div>
             </a>
            </div>
            <div class="solutions__slide">
             <a href="#" class="solutioncard">
              <div class="solutioncard__title">Верификация данных клиентов</div>
              <div class="solutioncard__icon"></div>
             </a>
            </div>
           </div><!-- /.solutions__slider -->
          </div><!-- /.solutions__wrapper -->
         </div><!-- /.solutions -->
        </div>

       </div><!-- /.tabsblock__items -->
      </div><!-- /.tabsblock__content -->
     </div><!-- /.tabsblock -->
    </section>
    <section class="sectionbanner p-32-0 mob-p-20-0 mob-mt-0">
     <div class="container">
      <div class="frameblock" id="frameblock__bi">
       <div class="frameblock__wrapper">
        <div class="frameblock__main">
         <div class="frameblock__content">
          <div class="frameblock__top">
           <div class="maincard__tags">
            <div class="maincard__tag"><span>Бесплатная базовая версия</span></div>
           </div>
           <h2 class="frameblock__title">BI аналитика НБКИ</h2>
           <div class="frameblock__text mb-30">
            <p>Весь рынок кредитования в цифрах: дашборды <br> от этапа кредитных заявок до обслуживания
             долга</p>
           </div>
          </div>
          <div class="frameblock__footer">
           <div class="frameblock__buttons"><a href="#" class="btn_main mob-full">Запросить демо</a></div>
          </div><!-- /.frameblock__footer -->
         </div><!-- /.frameblock__contents -->
        </div><!-- /.frameblock__main -->
        <div class="frameblock__image onlyDesktop">
         <img loading="lazy" src="img/BI1_frameblock.webp" alt="BI аналитика НБКИ" width="470" height="352">
        </div><!-- /.frameblock__image -->
        <div class="frameblock__image onlyMobile" style="height: 350px;">
         <img loading="lazy" src="img/BI1_mobile.webp" alt="BI аналитика НБКИ" width="1108" height="831">
        </div><!-- /.frameblock__image -->
       </div><!-- /.frameblock__wrapper -->
      </div><!-- /.frameblock -->
     </div><!-- /.container -->
    </section>



    <%= _.template(require('../includes/footer.html').default)(data) %>