<% var data={ title: "Национальное бюро кредитных историй" , author: "" }; %>
 <%= _.template(require('../includes/head.html').default)(data) %>
  <%= _.template(require('../includes/header.html').default)(data) %>

   <main>
    <div class="pageheader">
     <div class="breadcrumbs ">
      <div class="container">
       <ul itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item" href="/"
          title="НБКИ для бизнеса"><span itemprop="name">НБКИ для&nbsp;бизнеса</span>
          <meta itemprop="position" content="1">
         </a>
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item" href="/"
          title="Банкам и МФИ"><span itemprop="name">Банкам и МФИ</span>
          <meta itemprop="position" content="2">
         </a>
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item" href="/"
          title="Службам взыскания"><span itemprop="name">Службам взыскания</span>
          <meta itemprop="position" content="3">
         </a>
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
         <meta itemprop="item" content="b2b_services_bank_ collection_pd_score.html"><span itemprop="name">Retail
          PV</span>
         <meta itemprop="position" content="4">
        </li>
       </ul>
      </div>
     </div>
     <div class="mainblock mob-pb-0" id="mainblock_pdscore">
      <div class="container">

       <div class="maincard  maincard_full">
        <div class="maincard__wrapper">
         <div class="maincard__container mob-pb-0">

          <div class="maincard__content">
           <h1 class="maincard__title">Скоринг Retail PV</h1>
           <div class="maincard__text ">
            <p>PD скоринги для&nbsp;эффективного возвращения заемщика в график платежей<br> и определения правильной тактики
             работы на ранних стадиях просрочки</p>

           </div>
          </div>
          <div class="maincard__footer">
           <div class="maincard__button">
            <a href="#formsection" class="scrollTo btn_main">Оставить заявку</a>
           </div>
          </div><!-- /.maincard__footer -->
         </div><!-- /.maincard__container -->
         <div class="maincard__image ">
          <img src="img/Take1_mainblock.webp" width="470" height="353" fetchpriority="high" alt="Скоринг Retail PV">
         </div><!-- /.maincard__image -->

        </div><!-- /.maincard__wrapper -->
       </div>

      </div><!-- /.container -->
     </div><!-- /.mainblock -->
    </div><!-- /.pageheader -->


    <div class="p-32-0 mob-pb-20">
     <div class="container">
      <div class="cardsinfo flex mob-flexwrap gap-16">
       <div class="card card_auto">
        <div class="title title_md mb-20 mob-mb-8">Доказанная стабильность</div>
        <div class="text m-0">Модель разработана с использованием рекуррентной нейросети</div>
       </div><!-- /.card -->
       <div class="card card_auto">
        <div class="title title_md mb-20 mob-mb-8">Универсальная модель</div>
        <div class="text m-0">Ранжирование риска дефолта <br>для&nbsp;всех розничных продуктов банка</div>
       </div><!-- /.card -->
       <div class="card card_auto">
        <div class="title title_md mb-20 mob-mb-8">Высокие показатели</div>
        <div class="text m-0">Позволяет оценить вероятность дефолта субъекта с Hit Rate >90%</div>
       </div><!-- /.card -->

      </div>
     </div><!-- /.container -->
    </div>

    <section class="flipcardssection p-32-0 mob-p-20-0">
     <div class="container">
      <h2 class=" mob-text-left">Преимущества скоринга Retail PV от НБКИ</h2>
      <div class="cardsinfo flex mob-flexwrap gap-16">
       <div class="card card_auto">
        <div class="title title_md mb-20 mob-mb-8">Качественное ранжирование рисков дефолта</div>
        <div class="text m-0">Высокая прогнозная сила скоринга и сегментационные характеристики для&nbsp;заемщиков в первом
         бакете<br> просрочки</div>
       </div><!-- /.card -->
       <div class="card card_auto">
        <div class="title title_md mb-20 mob-mb-8">Снижение операционных затрат служб взыскания</div>
        <div class="text m-0">С высокой степенью достоверности скоринг определяет клиентов, которые вернутся в график
         платежей с минимальными усилиями со стороны кредитора</div>
       </div><!-- /.card -->
       <div class="card card_auto">
        <div class="title title_md mb-20 mob-mb-8">Высокая <br>точность сегментации</div>
        <div class="text m-0">Достоверно определяет группу клиентов, к которым даже на ранней стадии просрочки
         эффективно применение процедур hard collection</div>
       </div><!-- /.card -->

      </div>
     </div>
    </section>

    <section class="ratetablesection p-32-0 mob-p-20-0">
     <div class="container">
      <h2>Выбор стратегии взыскания <br>на ранней стадии просрочки</h2>
      <div class="ratetable card card_32_40">
       <div class="ratetable__header mb-32 mob-mb-16">
        <div class="ratetable__description text">
         <p>Применение такой сегментации снижает операционные затраты служб взыскания <br>и повышает эффективность
          возвращения должников в график обслуживания кредита</p>
        </div>
       </div><!-- /.ratetable__header -->
       <div class="ratetable__table mb-32 mob-mb-16">
        <div class="tablecolor ">
         <div class="tablecolor__table">
          <table>
           <thead>
            <tr>
             <th rowspan="2"><span class="th">Внутренний <br>скоринг</span></th>
             <th colspan="3" ><span  class="th">Скоринг бюро</span></th>
            </tr>
            <tr>
             <th><span class="th">Низкий балл</span></th>
             <th><span class="th">Средний балл </span></th>
             <th><span class="th">Высокий балл</span></th>
            </tr>
           </thead>
           <tbody>
            <tr>
             <td><span class="td">Низкий балл <br><i>↗ высокий риск</i> </span></td>
             <td style="background:  rgba(255, 0, 38, 0.7); "><span style="color: #fff;" class="td" >Скорейшая передача <br> в&nbsp;суд
               или&nbsp;коллекторам</span></td>
             <td style="background:  rgba(255, 0, 38, 0.7); "><span style="color: #fff;" class="td" >Ускорение усилий <br> для&nbsp;раннего сбора</span>
             </td>
             <td style="background:  rgba(69, 99, 255, 0.8); "><span style="color: #fff;" class="td" >Стандартная практика <br> сбора</span></td>
            </tr>
            <tr>
             <td><span class="td">Средний балл <br><i>~ приемлимый риск</i></span></td>
             <td style="background:  rgba(255, 0, 38, 0.7); "><span style="color: #fff;" class="td" >Ускорение усилий <br> для&nbsp;раннего сбора</span>
             </td>
             <td style="background:  rgba(69, 99, 255, 0.8); "><span style="color: #fff;" class="td">Стандартная практика <br> сбора</span></td>
             <td style="background: rgba(0, 224, 103, 0.7); "><span style="color: #445371;" class="td">“Вторая” очередь <br> на&nbsp;закрытие</span></td>
            </tr>
            <tr>
             <td><span class="td">Высокий балл <br><i>↙ низкий риск</i></span></td>
             <td style="background:  rgba(69, 99, 255, 0.8);"><span class="td" style=" color: #fff;">Стандартная практика <br> сбора</span></td>
             <td style="background: rgba(0, 224, 103, 0.7); "><span class="td" style="color: #445371;">“Вторая” очередь <br> на&nbsp;закрытие</span></td>
             <td style="background: rgba(0, 224, 103, 0.7); "><span class="td" style="color: #445371;">Максимально <br> длительный срок</span></td>
            </tr>
           </tbody>
          </table>
         </div>
        </div>
       </div>
       <div class="ratetable__footer mt-32 mob-mt-16">
        <div class="ratetable__tag tag ">
         <span class="tag_default">Пример стратегии взыскания на стадии просрочки до 60 дней</span>
        </div>
       </div><!-- /.ratetable__footer -->
      </div><!-- /.ratetable -->
     </div>
    </section>


    <section class="sectionbanner p-32-0 mob-p-20-0">
     <div class="container">
      <div class="frameblock" id="frameblock__bi">
       <div class="frameblock__wrapper">
        <div class="frameblock__main">
         <div class="frameblock__content">
          <div class="frameblock__top">
           <div class="maincard__tags">
            <div class="maincard__tag"><span>Бесплатная базовая версия</span></div>
           </div>
           <h2 class="frameblock__title">BI аналитика НБКИ</h2>
           <div class="frameblock__text mb-30">
            <p>Весь рынок кредитования в цифрах: дашборды <br> от этапа кредитных заявок до обслуживания
             долга</p>
           </div>
          </div>
          <div class="frameblock__footer mob-static">
           <div class="frameblock__buttons"><a href="#" class="btn_main mob-full">Запросить демо</a></div>
          </div><!-- /.frameblock__footer -->
         </div><!-- /.frameblock__contents -->
        </div><!-- /.frameblock__main -->
        <div class="frameblock__image onlyDesktop">
         <img loading="lazy" src="img/BI1_frameblock.webp" alt="BI аналитика НБКИ" width="470" height="352">
        </div><!-- /.frameblock__image -->
        <div class="frameblock__image onlyMobile" style="height: 350px;">
         <img loading="lazy" src="img/BI1_mobile.webp" alt="BI аналитика НБКИ" width="1108" height="831">
        </div><!-- /.frameblock__image -->
       </div><!-- /.frameblock__wrapper -->
      </div><!-- /.frameblock -->
     </div><!-- /.container -->
    </section>

    <section class="sectiontabs p-32-0 pb-0 mob-p-20-0">
     <div class="container">
      <h2>Другие услуги НБКИ для&nbsp;банков и МФИ</h2>
     </div><!-- /.container -->
     <div class="solutionsgrid onlyMobile">
      <div class="container">

       <div class="solutionsgrid__items">
        <div class="solutionsgrid__item">
         <a href="#" class="solutionsgrid__card">
          <div class="solutionsgrid__image">
           <img loading="lazy" src="img/PD2_sm.webp" alt="PD2_sm" width="150" height="150">
          </div>
          <div class="solutionsgrid__title">Кредитные отчеты</div>
         </a>
        </div><!-- /.solutionsgrid__item -->
        <div class="solutionsgrid__item">
         <a href="#" class="solutionsgrid__card">
          <div class="solutionsgrid__image">
           <img loading="lazy" src="img/Take2_sm.webp" alt="Take2_sm" width="150" height="150">
          </div>
          <div class="solutionsgrid__title">Скоринги</div>
         </a>
        </div><!-- /.solutionsgrid__item -->
        <div class="solutionsgrid__item">
         <a href="#" class="solutionsgrid__card">
          <div class="solutionsgrid__image">
           <img loading="lazy" src="img/Reports2_sm.webp" alt="Reports2_sm" width="150" height="150">
          </div>
          <div class="solutionsgrid__title">Сигнальные отчеты</div>
         </a>
        </div><!-- /.solutionsgrid__item -->
        <div class="solutionsgrid__item">
         <a href="#" class="solutionsgrid__card">
          <div class="solutionsgrid__image">
           <img loading="lazy" src="img/BI2_sm.webp" alt="BI2_sm" width="150" height="150">
          </div>
          <div class="solutionsgrid__title">Аналитика</div>
         </a>
        </div><!-- /.solutionsgrid__item -->
       </div><!-- /.solutionsgrid__items -->
      </div><!-- /.container -->

     </div><!-- /.onlyMobile -->
     <div class="tabsblock onlyDesktop">

      <div class="tabsblock__content">
       <div class="tabsblock__items">
        <div class="tabsblock__item ">
         <div class="solutions">
          <div class="solutions__wrapper">
           <div class="solutions__slider" data-slider="solutions">
            <div class="solutions__slide">
             <a href="#" class="solutioncard">
              <div class="solutioncard__title">Кредитные отчеты для&nbsp;банков и МФИ</div>
              <div class="solutioncard__icon"></div>
             </a>
            </div>
            <div class="solutions__slide">
             <a href="#" class="solutioncard">
              <div class="solutioncard__title">ССП и сведения<br> о самозапрете</div>
              <div class="solutioncard__icon"></div>
             </a>
            </div>
            <div class="solutions__slide">
             <a href="#" class="solutioncard">
              <div class="solutioncard__title">Сигнальные кредитные отчеты</div>
              <div class="solutioncard__icon"></div>
             </a>
            </div>
            <div class="solutions__slide">
             <a href="#" class="solutioncard">
              <div class="solutioncard__title">Аналитика <br>НБКИ</div>
              <div class="solutioncard__icon"></div>
             </a>
            </div>
           </div><!-- /.solutions__slider -->
          </div><!-- /.solutions__wrapper -->
         </div><!-- /.solutions -->
        </div>

       </div><!-- /.tabsblock__items -->
      </div><!-- /.tabsblock__content -->
     </div><!-- /.tabsblock -->
    </section>




   

   <%= _.template(require('../includes/footer.html').default)(data) %>