<% var data={ title: "Национальное бюро кредитных историй" , author: "" }; %>
 <%= _.template(require('../includes/head.html').default)(data) %>
  <%= _.template(require('../includes/header.html').default)(data) %>

   <main>
    <div class="pageheader">
     <div class="breadcrumbs ">
      <div class="container">
       <ul itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item" href="/"
          title="НБКИ для бизнеса"><span itemprop="name">НБКИ для бизнеса</span>
          <meta itemprop="position" content="1">
         </a>
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item" href="/"
          title="Банкам и МФИ"><span itemprop="name">Банкам и МФИ</span>
          <meta itemprop="position" content="1">
         </a>
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item" href="/"
          title="Управление рисками"><span itemprop="name">Управление рисками</span>
          <meta itemprop="position" content="1">
         </a>
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
         <meta itemprop="item" content="b2b_services_bank_scores.html"><span itemprop="name">ФССП</span>
         <meta itemprop="position" content="2">
        </li>
       </ul>
      </div>
     </div>
     <div class="mainblock pb-32 mob-pb-0" id="mainblock_signals">
      <div class="container">

       <div class="maincard  maincard_full">
        <div class="maincard__wrapper">
         <div class="maincard__container mob-pb-0">

          <div class="maincard__content">
           <h1 class="maincard__title">Скоринги<br> и рейтинги НБКИ/h1>
            <div class="maincard__text ">
             <p>Модели НБКИ позволяют управлять маркетингом <br>и рисками на всех этапах взаимодействия с клиентами</p>

             <div class="maincard__list ">
              <ul>
               <li>Маркетинг</li>
               <li>Управления рисками</li>
               <li>Кросс-продажи</li>
               <li>Управление лимитами</li>
              </ul>
             </div>
            </div>
          </div>
          <div class="maincard__footer">
           <div class="maincard__button">
            <a href="#formsection" class="scrollTo btn_main">Оставить заявку</a>
           </div>
          </div><!-- /.maincard__footer -->
         </div><!-- /.maincard__container -->
         <div class="maincard__image onlyDesktop">
          <img src="img/Reports1.webp" width="495" height="371" fetchpriority="high"
           alt="Сигнальные кредитные отчеты НБКИ">
         </div><!-- /.maincard__image -->
         <div class="maincard__image onlyMobile">
          <img src="img/Reports1_mobile.webp" width="396" height="297" fetchpriority="high"
           alt="Сигнальные кредитные отчеты НБКИ">
         </div><!-- /.maincard__image -->
        </div><!-- /.maincard__wrapper -->
       </div>

      </div><!-- /.container -->
     </div><!-- /.mainblock -->
    </div><!-- /.pageheader -->


    <div class="p-32-0 mob-pb-20">
     <div class="container">
      <div class="cardsinfo flex mob-flexwrap gap-16">
       <div class="card card_24_22">
        <div class="title title_md mb-20 mob-mb-8">Предиктивная аналитика</div>
        <div class="text m-0">Многолетнее наблюдение НБКИ за финансовым поведением заемщиков</div>
       </div><!-- /.card -->
       <div class="card card_24_22">
        <div class="title title_md mb-20 mob-mb-8">Актуальные тенденции рынка</div>
        <div class="text m-0">НБКИ внедряем успешные разработки, доказавшие свою эффективность</div>
       </div><!-- /.card -->
       <div class="card card_24_22">
        <div class="title title_md mb-20 mob-mb-8">Нейроскоринг и AI</div>
        <div class="text m-0">НБКИ применяет новейшие разработки в области искусственного интеллекта</div>
       </div><!-- /.card -->

      </div>
     </div><!-- /.container -->
    </div>

    <section class="flipcardssection p-32-0 mob-p-20-0">
     <div class="container">
      <h2 class="text-center">Комплекс скорингов НБКИ</h2>
      <div class="subtitle text-center">
       <p>Мониторинг НБКИ является общепринятой практикой в работе служб<br> взыскания и профилактики дефолтов.
        Пользователи выбирают тип<br> отчета в зависимости от потребностей</p>
      </div>

      <div class="tabscenter" data-tabs="tabscenter">
       <div class="tabscenter__nav m-32-0">
        <ul data-tabsheader="tabscenter" role="tablist" aria-label="cardss">
         <li data-tabsbutton="tabscenter" class="active" role="tab" aria-selected="true" aria-controls="cardspanel-1"
          id="cardstab-1" tabindex="0">PD модели</li>
         <li data-tabsbutton="tabscenter" role="tab" aria-selected="false" aria-controls="cardspanel-2" id="cardstab-2"
          tabindex="1">Pre-Scoring</li>
         <li data-tabsbutton="tabscenter" role="tab" aria-selected="false" aria-controls="cardspanel-3" id="cardstab-3"
          tabindex="2">Банкротство</li>
         <li data-tabsbutton="tabscenter" role="tab" aria-selected="false" aria-controls="cardspanel-4" id="cardstab-4"
          tabindex="3">Взятие</li>

        </ul>
       </div>
       <div class="tabscenter__container">
        <div class="tabscenter__content active" data-tabscontent="tabsblock" id="cardspanel-1" role="tabpanel"
         aria-labelledby="cardstab-1" tabindex="0">
         <div class="cardsinfo flex mob-flexwrap gap-24 mob-gap-8">
          <div class="card offercard offercard_md">
           <div class="offercard__content content_h">
            <div class="offercard__top  ">
             <div class="maincard__tags mb-8">
              <div class="maincard__tag"><a href="#">90@12MOB</a></div>
              <div class="maincard__tag"><a href="#">60@9MOB</a></div>
             </div>
             <div class="title ">Универсальные <br>PD модели</div>
             <div class="text">
              <p>Оценивают вероятность дефолта <br>субъекта кредитной истории</p>
             </div>
            </div>
            <div class="offercard__footer">

             <div class="offercard__button">
              <a href="#" data-modalbutton="offercard_1" class="btn_main btn_main_light btn_main_icon mob-full">
               <span>Подробнее</span>
              </a>
             </div><!-- /.offercard__button -->
            </div>
           </div><!-- /.offercard__content content_h -->

           <div class="cardpopup" data-modal="offercard_1">
            <div class="flipcard flipcard_back offercard card flex content-between mob-flexwrap">
             <div class="offercard__content content_h">
              <div class="offercard__header">
               <div class="offercard__info">
                <span><b>Время обновления:</b> 1 раз в сутки</span>
               </div>
               <div class="offercard__button">
                <span class="btn_main btn_main_light btn_img" data-modalclose="offercard_1">
                 <img src="img/CloseLarge.svg" alt="CloseLarge" width="24" height="24">
                </span>
               </div>
              </div>
              <div class="offercard__top mob-mb-0 ">
               <span class="offercard__title title">Точная оценка динамики <br>кредитного риска</span>
               <div class="offercard__text text">Отчет содержит следующую информацию: открытие счета, возникновение
                просрочки, погашение всех просрочек, изменение лимита по кредиту более, чем на n%, изменение текущей
                задолженности более, чем на n%, закрытие или удаление счета, запрос КИ, изменение/появление сведений о
                недееспособности, несостоятельности (банкротстве) и др.</div>
              </div>
             </div>
            </div>
           </div><!-- /.cardpopup -->

          </div><!-- /.card -->
          <div class="card offercard offercard_md">
           <div class="offercard__content content_h">
            <div class="offercard__top  ">
             <div class="maincard__tags mb-8">
              <div class="maincard__tag"><a href="#">90@12MOB</a></div>
             </div>
             <div class="title ">Продуктовые <br>PD модели</div>
             <div class="text">
              <p>Прогноз дефолта по разным<br> типам кредита</p>
             </div>
            </div>
            <div class="offercard__footer">

             <div class="offercard__button">
              <a href="#formsection" class="btn_main btn_main_light  mob-full" data-flipbutton="flipcard">
               <span>Подробнее</span>
              </a>
             </div><!-- /.offercard__button -->
            </div>
           </div><!-- /.offercard__content content_h -->



          </div><!-- /.card -->

         </div>
        </div>
        <div class="tabscenter__content " data-tabscontent="tabsblock" id="cardspanel-2" role="tabpanel"
         aria-labelledby="cardstab-2" tabindex="0">
         2
        </div>
        <div class="tabscenter__content " data-tabscontent="tabsblock" id="cardspanel-3" role="tabpanel"
         aria-labelledby="cardstab-3" tabindex="0">
         3
        </div>
        <div class="tabscenter__content " data-tabscontent="tabsblock" id="cardspanel-4" role="tabpanel"
         aria-labelledby="cardstab-4" tabindex="0">
         4
        </div>
       </div><!-- /.tabscenter__container -->
      </div><!-- /.tabscenter -->
     </div>
    </section>

    <section class="flipcardssection p-32-0 mob-p-20-0">
     <div class="container">
      <h2>Виды сигнальных отчетов</h2>
      <div class="subtitle ">
       <p>Мониторинг НБКИ является общепринятой практикой в работе служб<br> взыскания и профилактики дефолтов.
        Пользователи выбирают тип<br> отчета в зависимости от потребностей</p>
      </div>
      <div class="offers offers_flip">
       <div class="offers__items">
        <div class="offers__item" data-flipwrapper="flipcard">
         <div class="flipcard offercard card flex content-between mob-flexwrap" data-flip="face">
          <div class="offercard__content content_h">
           <div class="offercard__top mob-mb-20 ">
            <span class="offercard__title title">По основной части<br> кредитной истории</span>
            <div class="offercard__text text">Максимально широкий набор данных<br> из кредитной истории физического<br>
             или юридического лица каждые сутки</div>
           </div>
           <div class="offercard__footer">
            <span class="btn_main btn_main_light mob-full" data-flipbutton="flipcard">Подробнее</span>
           </div>
          </div>
          <div class="offercard__image mob-order-1 mob-mb-30">
           <img src="img/KO_ul.svg" alt="KO_ul" width="104" height="90" loading="lazy">
          </div>
         </div><!-- /.offercard -->
         <div class="flipcard flipcard_back offercard card flex content-between mob-flexwrap" data-flip="back">
          <div class="offercard__content content_h">
           <div class="offercard__header">
            <div class="offercard__info">
             <span><b>Время обновления:</b> 1 раз в сутки</span>
            </div>
            <div class="offercard__button">
             <span class="btn_main btn_main_light btn_img" data-flipbutton="flipcard">
              <img src="img/CloseLarge.svg" alt="CloseLarge" width="24" height="24">
             </span>
            </div>
           </div>


           <div class="offercard__top mob-mb-0 ">
            <span class="offercard__title title">Точная оценка динамики <br>кредитного риска</span>
            <div class="offercard__text text">Отчет содержит следующую информацию: открытие счета, возникновение
             просрочки, погашение всех просрочек, изменение лимита по кредиту более, чем на n%, изменение текущей
             задолженности более, чем на n%, закрытие или удаление счета, запрос КИ, изменение/появление сведений о
             недееспособности, несостоятельности (банкротстве) и др.</div>
           </div>

          </div>

         </div><!-- /.offercard -->
        </div><!-- /.offers__item -->
        <div class="offers__item" data-flipwrapper="flipcard">
         <div class="flipcard offercard card flex content-between mob-flexwrap" data-flip="face">
          <div class="offercard__content content_h">
           <div class="offercard__top mob-mb-20 ">
            <span class="offercard__title title">По информационной части кредитной истории</span>
            <div class="offercard__text text">Данные из информационной части кредитной<br> истории клиента один раз в
             сутки. Можно<br> использовать без согласия клиента по 218-ФЗ</div>
           </div>
           <div class="offercard__footer">
            <span class="btn_main btn_main_light mob-full" data-flipbutton="flipcard">Подробнее</span>
           </div>
          </div>
          <div class="offercard__image mob-order-1 mob-mb-30">
           <img src="img/verify90.svg" alt="verify" width="90" height="90" loading="lazy">
          </div>
         </div><!-- /.offercard -->
         <div class="flipcard flipcard_back offercard card flex content-between mob-flexwrap" data-flip="back">
          <div class="offercard__content content_h">
           <div class="offercard__header">
            <div class="offercard__info">
             <span><b>Время обновления:</b> 1 раз в сутки</span>
            </div>
            <div class="offercard__button">
             <span class="btn_main btn_main_light btn_img" data-flipbutton="flipcard">
              <img src="img/CloseLarge.svg" alt="CloseLarge" width="24" height="24">
             </span>
            </div>
           </div>


           <div class="offercard__top mob-mb-0 ">
            <span class="offercard__title title">Возможность оценить клиента без действующего кредитного договора</span>
            <div class="offercard__text text">
             <p>Предварительная оценка кредитного риска и его динамики, потребности клиентов и оптимизация кампаний по
              формированию кредитных предложений.
             </p>
             <p>Сигналы: появилась новая заявка, заявка одобрена, заявка отклонена, по заявке выдан кредит, по кредиту
              произошел дефолт, кредит погашен, появились сведения об установке/снятии самозапрета</p>
            </div>
           </div>

          </div>

         </div><!-- /.offercard -->
        </div><!-- /.offers__item -->
        <div class="offers__item" data-flipwrapper="flipcard">
         <div class="flipcard offercard card flex content-between mob-flexwrap" data-flip="face">
          <div class="offercard__content content_h">
           <div class="offercard__top mob-mb-20 ">
            <span class="offercard__title title">Сигнальные отчеты <br>online</span>
            <div class="offercard__text text">Ограниченный набор данных для оперативной<br> оценки рисков. 15 минут —
             максимальное время<br> ожидания сигнала</div>
           </div>
           <div class="offercard__footer">
            <span class="btn_main btn_main_light mob-full" data-flipbutton="flipcard">Подробнее</span>
           </div>
          </div>
          <div class="offercard__image mob-order-1 mob-mb-30">
           <img src="img/signals108.svg" alt="signals" width="108" height="90" loading="lazy">
          </div>
         </div><!-- /.offercard -->
         <div class="flipcard flipcard_back offercard card flex content-between mob-flexwrap" data-flip="back">
          <div class="offercard__content content_h">
           <div class="offercard__header">
            <div class="offercard__info">
             <span><b>Время обновления:</b> до 15 минут после события</span>
            </div>
            <div class="offercard__button">
             <span class="btn_main btn_main_light btn_img" data-flipbutton="flipcard">
              <img src="img/CloseLarge.svg" alt="CloseLarge" width="24" height="24">
             </span>
            </div>
           </div>


           <div class="offercard__top mob-mb-0 ">
            <span class="offercard__title title">Оперативное решение по&nbsp;изменениям в&nbsp;кредитной истории
             субъекта</span>
            <div class="offercard__text text">
             <p>Частота предоставления – до 15 минут после наступления события в финансовом поведении клиента.</p>
             <p>События: запрос кредитного отчета, скоринга, ССП, сведений о самозапрете</p>
            </div>
           </div>

          </div>

         </div><!-- /.offercard -->
        </div><!-- /.offers__item -->
        <div class="offers__item" data-flipwrapper="flipcard">
         <div class="flipcard offercard card flex content-between mob-flexwrap" data-flip="face">
          <div class="offercard__content content_h">
           <div class="offercard__top mob-mb-20 ">
            <span class="offercard__title title">Сигнал online + <br>скоринг</span>
            <div class="offercard__text text">Автоматический расчет скоринга вместе <br>со сработавшим сигналом online.
             Результат <br>за&nbsp;20&nbsp;минут</div>
           </div>
           <div class="offercard__footer">
            <span class="btn_main btn_main_light mob-full" data-flipbutton="flipcard">Подробнее</span>
           </div>
          </div>
          <div class="offercard__image mob-order-1 mob-mb-30">
           <img src="img/signals2_108.svg" alt="signals" width="108" height="90" loading="lazy">
          </div>
         </div><!-- /.offercard -->
         <div class="flipcard flipcard_back offercard card flex content-between mob-flexwrap" data-flip="back">
          <div class="offercard__content content_h">
           <div class="offercard__header">
            <div class="offercard__info">
             <span><b>Время обновления:</b> до 20 минут</span>
            </div>
            <div class="offercard__button">
             <span class="btn_main btn_main_light btn_img" data-flipbutton="flipcard">
              <img src="img/CloseLarge.svg" alt="CloseLarge" width="24" height="24">
             </span>
            </div>
           </div>


           <div class="offercard__top mob-mb-0 ">
            <span class="offercard__title title">Взвешенное кредитное решение <br>по клиенту</span>
            <div class="offercard__text text">
             <p>Интервал реакции ~20 минут. Информация о событии и скоринговая оценка клиента для более точной
              интерпретации события.</p>
             <p>Вместе с сигналом можно выбрать один из трех скорингов НБКИ на усмотрение клиента: Retail PV, МФО 3.0
              или Take</p>
            </div>
           </div>

          </div>

         </div><!-- /.offercard -->
        </div><!-- /.offers__item -->

       </div><!-- /.offers__items -->
      </div>
     </div><!-- /.container -->
    </section><!-- /.offersection -->


    <section class="sectiontabs p-32-0 pb-0 mob-p-20-0">
     <div class="container">
      <h2>Другие услуги НБКИ для банков и МФИ</h2>
     </div><!-- /.container -->
     <div class="cardssgrid onlyMobile">
      <div class="container">

       <div class="cardssgrid__items">
        <div class="cardssgrid__item">
         <a href="#" class="cardssgrid__card">
          <div class="cardssgrid__image">
           <img loading="lazy" src="img/PD2_sm.webp" alt="PD2_sm" width="150" height="150">
          </div>
          <div class="cardssgrid__title">Кредитные отчеты</div>
         </a>
        </div><!-- /.cardssgrid__item -->
        <div class="cardssgrid__item">
         <a href="#" class="cardssgrid__card">
          <div class="cardssgrid__image">
           <img loading="lazy" src="img/Take2_sm.webp" alt="Take2_sm" width="150" height="150">
          </div>
          <div class="cardssgrid__title">Скоринги</div>
         </a>
        </div><!-- /.cardssgrid__item -->
        <div class="cardssgrid__item">
         <a href="#" class="cardssgrid__card">
          <div class="cardssgrid__image">
           <img loading="lazy" src="img/Reports2_sm.webp" alt="Reports2_sm" width="150" height="150">
          </div>
          <div class="cardssgrid__title">Сигнальные отчеты</div>
         </a>
        </div><!-- /.cardssgrid__item -->
        <div class="cardssgrid__item">
         <a href="#" class="cardssgrid__card">
          <div class="cardssgrid__image">
           <img loading="lazy" src="img/BI2_sm.webp" alt="BI2_sm" width="150" height="150">
          </div>
          <div class="cardssgrid__title">Аналитика</div>
         </a>
        </div><!-- /.cardssgrid__item -->
       </div><!-- /.cardssgrid__items -->
      </div><!-- /.container -->

     </div><!-- /.onlyMobile -->
     <div class="tabscenter onlyDesktop">

      <div class="tabscenter__content">
       <div class="tabscenter__items">
        <div class="tabscenter__item ">
         <div class="cardss">
          <div class="cardss__wrapper">
           <div class="cardss__slider" data-slider="cardss">
            <div class="cardss__slide">
             <a href="#" class="cardscard">
              <div class="cardscard__title">Кредитные отчеты для банков и МФИ</div>
              <div class="cardscard__icon"></div>
             </a>
            </div>
            <div class="cardss__slide">
             <a href="#" class="cardscard">
              <div class="cardscard__title">ССП и сведения<br> о самозапрете</div>
              <div class="cardscard__icon"></div>
             </a>
            </div>
            <div class="cardss__slide">
             <a href="#" class="cardscard">
              <div class="cardscard__title">Сигнальные кредитные отчеты</div>
              <div class="cardscard__icon"></div>
             </a>
            </div>
            <div class="cardss__slide">
             <a href="#" class="cardscard">
              <div class="cardscard__title">Аналитика <br>НБКИ</div>
              <div class="cardscard__icon"></div>
             </a>
            </div>
           </div><!-- /.cardss__slider -->
          </div><!-- /.cardss__wrapper -->
         </div><!-- /.cardss -->
        </div>

       </div><!-- /.tabscenter__items -->
      </div><!-- /.tabscenter__content -->
     </div><!-- /.tabscenter -->
    </section>


   </main>

   <%= _.template(require('../includes/footer.html').default)(data) %>