<% var data={ title: "Национальное бюро кредитных историй" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>

      <main>
        <div class="pageheader">
          <div class="breadcrumbs breadcrumbs_top">
            <div class="container">
              <ul itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item"
                    href="/" title="НБКИ для бизнеса"><span itemprop="name">НБКИ для&nbsp;бизнеса</span>
                    <meta itemprop="position" content="1">
                  </a>
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                  <meta itemprop="item" content="b2b_services_connect.html"><span itemprop="name">Способы подключения
                    к&nbsp;НБКИ</span>
                  <meta itemprop="position" content="2">
                </li>
              </ul>
            </div>
          </div>
          <div class="mainblock pb-32 mob-pb-32" id="mainblock_become">
            <div class="container">

              <div class="maincard  maincard_full maincard_nobg maincard_custom">
                <div class="maincard__wrapper">
                  <div class="maincard__container mob-pb-0">
                    <div class="maincard__content">
                      <div class="maincard__title maincard__title_lg">Заполните анкету, <br>чтобы подключиться к НБКИ
                      </div>
                      <div class="maincard__text ">
                        После этого наш менеджер подготовит пакет документов, <br> необходимый для заключения договора,
                        и свяжется с
                        вами</div>
                    </div>

                  </div><!-- /.maincard__container -->
                  <div class="maincard__block">
                    <div class="stepform">
                      <div class="stepform__main    ">
                        <div class="stepform__items">
                          <div class="stepform__item " data-stepcontent="step1">
                            <div class="stepform__stepwrapper">
                              <div class="stepform__inputs">
                                <div class="stepform__title mb-24">
                                  <span>Основные данные</span>
                                </div>

                                <div class="">

                                  <div class="formcols__item">
                                    <div class="formcols__input ">
                                      <input required="" name="n1_2" type="text" value="123" class="forminput  ">
                                      <label class="placeholder" for="#">ИНН&nbsp;*</label>

                                    </div>
                                  </div>
                                  <div class="formcols__item">
                                    <div class="formcols__input ">
                                      <input required="" type="text" name="n1_1" class="forminput " value="123">
                                      <label class="placeholder" for="#">Название организации *</label>
                                    </div>
                                  </div>
                                  <div class="formcols__item">
                                    <div class="formcols__input ">
                                      <input name="n1_3" type="text" value="" class="forminput ">
                                      <label class="placeholder" for="#">Сайт организации</label>

                                    </div>
                                  </div>

                                </div>
                              </div>

                              <div class="stepform__inputs">
                                <div class="stepform__title mb-24">
                                  <span>Организация включена в реестр Банка России *</span>

                                </div>

                                <div class="radioblock  flex gap-32 ">
                                  <div class="check-block">
                                    <input type="radio" value="Да" checked="" id="n3_0" name="n3">
                                    <label for="n3_0" class="radioblock__label">
                                      <span>Да</span>
                                    </label>
                                  </div>
                                  <div class="check-block">
                                    <input type="radio" value="Нет" id="n3_1" name="n3">
                                    <label for="n3_1" class="radioblock__label">
                                      <span>Нет</span>
                                    </label>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="stepform__item " data-stepcontent="step2">
                            <div class="stepform__stepwrapper">
                              <div class="stepform__inputs">
                                <div class="stepform__title mb-24">
                                  <span>Вид деятельности *</span>

                                </div>

                                <div class="formcols__input  n2block checkbuttons" data-checkgroup="required">
                                  <div class="checkbutton ">
                                    <input checked name="n2_0" id="n2_0" value="Банк" type="checkbox"
                                      class="inputcheckbox n2">
                                    <label for="n2_0">
                                      <span>Банк</span>
                                    </label>
                                  </div>
                                  <div class="checkbutton">
                                    <input name="n2_1" id="n2_1" value="МФО" type="checkbox" class="inputcheckbox n2">
                                    <label for="n2_1">
                                      <span>МФО</span>
                                    </label>
                                  </div>
                                  <div class="checkbutton ">
                                    <input name="n2_2" id="n2_2" value="КПК" type="checkbox" class="inputcheckbox n2">
                                    <label for="n2_2">
                                      <span>КПК</span>
                                    </label>
                                  </div>
                                  <div class="checkbutton">
                                    <input name="n2_7" id="n2_7" value="УК / ЖКХ" type="checkbox"
                                      class="inputcheckbox n2">
                                    <label for="n2_7">
                                      <span>УК / ЖКХ</span>
                                    </label>
                                  </div>
                                  <div class="checkbutton">
                                    <input name="n2_3" id="n2_3" value="Кредитный брокер" type="checkbox"
                                      class="inputcheckbox n2">
                                    <label for="n2_3">
                                      <span>Кредитный брокер</span>
                                    </label>
                                  </div>
                                  <div class="checkbutton">
                                    <input name="n2_4" id="n2_4" value="Лизинговая компания" type="checkbox"
                                      class="inputcheckbox n2">
                                    <label for="n2_4">
                                      <span>Лизинговая компания</span>
                                    </label>
                                  </div>
                                  <div class="checkbutton">
                                    <input name="n2_5" id="n2_5" value="Ломбард" type="checkbox"
                                      class="inputcheckbox n2">
                                    <label for="n2_5">
                                      <span>Ломбард</span>
                                    </label>
                                  </div>
                                  <div class="checkbutton">
                                    <input name="n2_6" id="n2_6" value="Страховая компания" type="checkbox"
                                      class="inputcheckbox n2">
                                    <label for="n2_6">
                                      <span>Страховая компания</span>
                                    </label>
                                  </div>

                                  <div class="checkbutton">
                                    <input name="n2_8" id="n2_8" type="checkbox" class="inputcheckbox n2">
                                    <label for="n2_8">Другое</label>
                                    <input name="n2_9" type="text" value="" class="forminput " placeholder="Другое">
                                  </div>
                                </div>
                              </div>
                              <div class="stepform__inputs">
                                <div class="stepform__title mb-24">
                                  <span>Примерное кол-во заявок в&nbsp;месяц</span>
                                </div>
                                <div class=" flex checkbuttons">
                                  <div class="checkbutton">

                                    <input type="radio" value="До 100" checked="" id="n4_0" name="n4">
                                    <label for="n4_0" class="radioblock__label">До 100</label>
                                  </div>
                                  <div class="checkbutton">
                                    <input type="radio" value="100-500" id="n4_1" name="n4">
                                    <label for="n4_1" class="radioblock__label">100-500</label>
                                  </div>
                                  <div class="checkbutton">
                                    <input type="radio" value="Более 500" id="n4_2" name="n4">
                                    <label for="n4_0" class="radioblock__label">Более 500</label>
                                  </div>
                                </div>

                              </div>
                              <div class="formcols__item">

                                <div class="formcols__input ">
                                  <input required="" name="n4_3" type="text" value="1123" maxlength="50"
                                    class="forminput">
                                  <label class="placeholder" for="#">В какой программе ведете учет заемщиков?
                                    *</label>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="stepform__item " data-stepcontent="step3">
                            <div class="stepform__stepwrapper">
                              <div class="stepform__inputs">
                                <div class="stepform__title mb-24">
                                  <span>Какие услуги НБКИ вас интересуют?</span>
                                </div>

                                <div class="formcols__input  n2block">
                                  <div class="check-block check-block_big ">
                                    <input name="n5_0" id="n5_0" value="Кредитные отчеты" type="checkbox"
                                      class="inputcheckbox n2">
                                    <label for="n5_0">
                                      <span>Кредитные отчеты</span>
                                    </label>
                                  </div>
                                  <div class="check-block check-block_big ">
                                    <input name="n5_1" id="n5_1" value="Скоринги" type="checkbox"
                                      class="inputcheckbox n2">
                                    <label for="n5_1">
                                      <span>Скоринги</span>
                                    </label>
                                  </div>
                                  <div class="check-block check-block_big ">
                                    <input name="n5_2" id="n5_2" value="Передача данных в&nbsp;бюро (1 клик)"
                                      type="checkbox" class="inputcheckbox n2">
                                    <label for="n5_2">
                                      <span>Передача данных в&nbsp;бюро (1 клик)</span>
                                    </label>
                                  </div>

                                  <div
                                    class="check-block check-block_big check-block_flex justify-start check-block_text">
                                    <input name="n5_3" id="n5_3" type="checkbox" class="inputcheckbox n5">
                                    <label for="n5_3"><span>Другое</span></label>
                                    <input name="n5_4" type="text" value="" class="forminput " placeholder="">
                                  </div>

                                </div>

                              </div>
                            </div>
                          </div>
                          <div class="stepform__item " data-stepcontent="step5">
                            <div class="stepform__stepwrapper">
                              <div class="stepform__inputs">
                               
                                <div class="">
                                  <div class="formcols__item">
                                    <div class="formcols__input ">
                                      <input required="" name="n6_1" type="text" value="123" class="forminput ">
                                      <label class="placeholder" for="#">Фамилия, имя и отчество&nbsp;*</label>
                                    </div>
                                  </div>
                                  <div class="formcols__item">
                                    <div class="formcols__input ">
                                      <input required="" name="n6_2" type="text" value="123" class="forminput ">
                                      <label class="placeholder" for="#">Должность&nbsp;*</label>
                                    </div>
                                  </div>
                                  <div class="formcols__item">
                                    <div class="formcols__input ">
                                      <input required="" name="n6_5" type="email" value="123" class="forminput ">

                                      <label class="placeholder" for="#">Электронная почта&nbsp;*</label>
                                    </div>
                                  </div>
                                  <div class="formcols__item">
                                    <div class="formcols__row flex gap-16">
                                      <div class="formcols__col w-full">
                                        <div class="formcols__input ">
                                          <input required="" name="n6_3" type="tel" value="123" class="forminput ">
                                          <label class="placeholder" for="#">Рабочий телефон&nbsp;*</label>
                                        </div>
                                      </div><!-- /.formcols__col -->
                                      <div class="formcols__col w-full"">
                                        <div class="formcols__input ">
                                          <input name="n6_4" type="tel" value="123" class="forminput ">

                                          <label class="placeholder" for="#">Мобильный телефон</label>
                                        </div>
                                      </div><!-- /.formcols__col -->
                                    </div><!-- /.formcols__row -->

                                  </div>

                                  <div class="formcols__item">
                                    <div class="formcols__input ">
                                      <input required="" name="n6_6" type="text" value="123" class="forminput ">

                                      <label class="placeholder" for="#">Адрес для направления документов&nbsp;*</label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="stepform__item " data-stepcontent="step6">
                            <div class="stepform__stepwrapper">
                              <div class="stepform__inputs">
                                <div class="stepform__title mb-24">
                                  <span>Подтвердите согласие на&nbsp;обработку данных&nbsp;*</span>
                                </div>

                                <div class="formcols__input  formcols__input_confirm n2block ">

                                  <div class="check-block check-block_big check-block_confirm">
                                    <input required="" name="n6_0" id="n6_0" type="checkbox" class="inputcheckbox n2">
                                    <label for="n6_0">
                                      <span>Настоящим я даю согласие на&nbsp;обработку АО «НБКИ» своих персональных
                                        данных, указанных
                                        в&nbsp;настоящей анкете, свободно, своей волей для&nbsp;заключения
                                        и&nbsp;исполнения договора
                                        с&nbsp;АО «НБКИ» на&nbsp;оказание информационных услуг. <br>
                                        <br> Срок обработки персональных данных: до&nbsp;момента заключения договора
                                        на&nbsp;оказание услуг,
                                        в&nbsp;течение срока действия договора и&nbsp;5 лет по&nbsp;окончании его
                                        действия. <br>
                                        <br> Перечень действий (операций) с&nbsp;персональными данными, которые будут
                                        совершаться (с
                                        использованием и&nbsp;без использования средств автоматизации): сбор, запись,
                                        систематизация,
                                        хранение, уточнение (обновление, изменение), извлечение, использование,
                                        блокирование, удаление,
                                        уничтожение. </span>
                                    </label>
                                  </div>

                                  <div id="captcha-container" class="smart-captcha"
                                    data-sitekey="ysc1_oONtIaKHRt5KIL6laRtt1JYxRlq9wxthUbYMeg2z393cfdf4"
                                    data-testid="smartCaptcha-container" style="height: 0px;">
                                    <div style="display: none;"><iframe frameborder="0"
                                        src="https://smartcaptcha.yandexcloud.net/backend.d9627726d03678c949b5.html?sitekey=ysc1_oONtIaKHRt5KIL6laRtt1JYxRlq9wxthUbYMeg2z393cfdf4&amp;theme=light&amp;hl=ru&amp;host=nbki.ru&amp;href=https%3A%2F%2Fnbki.ru%2Fcorp%2Fbecome-a-client%2F&amp;test=false&amp;webview=false&amp;hideChallengeContainer=false"
                                        allow="encrypted-media *; accelerometer" data-testid="backend-iframe"
                                        title="SmartCaptcha backend" aria-hidden="true"
                                        style="display: block; width: 100%; height: 100%; z-index: 0; transform: translate3d(0px, 0px, 0px);"></iframe>
                                    </div><input type="hidden" name="smart-token" data-testid="smart-token"><iframe
                                      frameborder="0"
                                      src="https://smartcaptcha.yandexcloud.net/checkbox.ru.bb01fbaa69273bb18ded.html?sitekey=ysc1_oONtIaKHRt5KIL6laRtt1JYxRlq9wxthUbYMeg2z393cfdf4&amp;theme=light&amp;hl=ru&amp;host=nbki.ru&amp;href=https%3A%2F%2Fnbki.ru%2Fcorp%2Fbecome-a-client%2F&amp;test=false&amp;webview=false&amp;hideChallengeContainer=false"
                                      allow="encrypted-media *; accelerometer" data-testid="checkbox-iframe"
                                      title="SmartCaptcha checkbox"
                                      style="display: block; width: 100%; height: 100%; z-index: 0; transform: translate3d(0px, 0px, 0px);"></iframe>
                                  </div>
                                </div>
                                <!-- 	<div class="formcols__input  n2block mb-60">

									</div> -->
                              </div>
                            </div>
                          </div>
                          <div class="stepform__item " data-stepcontent="step8">
                            <div class="stepform__stepwrapper">
                              <div class="stepform__inputs">

                                <div class="stepform__title mb-24">
                                  <span>Заявка на подключение к НБКИ успешно отправлена!
                                  </span>

                                </div>
                                <div class="stepform__title stepform__title_text">
                                  <span>Менеджер свяжется с&nbsp;вами в&nbsp;ближайшее время.
                                  </span>

                                </div>

                                <div class="stepform__final">
                                  <a href="/corp/" class="btn btn_main">Вернуться на главную</a><!-- /.btn btn_main -->
                                </div><!-- /.stepform__final -->
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="stepform__buttons">
                          <div class="stepform__pagination">
                            <div class="stepform__page" data-page="stepform"></div><!-- /.stepform__page -->
                          </div><!-- /.stepform__nav -->
                          <div class="stepform__navigation">
                            <button type="button" class="btn  btn_main_light" data-stepbutton="prev"
                              onclick="nextPrev(-1)" hidden="true"><svg width="24" height="24" viewBox="0 0 24 24"
                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M6.81731 12.7492L11.0289 16.939L9.97105 18.0024L4.47105 12.531C4.32955 12.3902 4.25 12.1989 4.25 11.9993C4.25 11.7997 4.32955 11.6083 4.47105 11.4676L9.97105 5.99609L11.0289 7.05951L6.81737 11.2492L20 11.2492L20 12.7492L6.81731 12.7492Z"
                                  fill="#0055FF" />
                              </svg>
                            </button>
                            <button type="button" class="btn btn_main disable" data-stepbutton="next"
                              onclick="nextPrev(1)"><span></span></button>
                          </div><!-- /.stepform__navigation -->

                        </div>
                      </div><!-- /.stepform -->
                      <div class="stepform__progressbar" data-progress="1">

                      </div><!-- /.stepform__progressbar -->
                    </div><!-- /.clientform -->
                  </div><!-- /.maincard__form -->

                </div><!-- /.maincard__wrapper -->
              </div>

            </div><!-- /.container -->
          </div><!-- /.mainblock -->
        </div>

        <section class="sectiontabs p-32-0 pb-0 mob-p-20-0">
          <div class="container">
            <h2>Решения для&nbsp;вашего бизнеса</h2>
          </div><!-- /.container -->
          <div class="solutionsgrid onlyMobile">
            <div class="container">

              <div class="solutionsgrid__items">
                <div class="solutionsgrid__item">
                  <a href="#" class="solutionsgrid__card">
                    <div class="solutionsgrid__image">
                      <img loading="lazy" src="img/PD2_sm.webp" alt="PD2_sm" width="150" height="150">
                    </div>
                    <div class="solutionsgrid__title">Кредитные отчеты</div>
                  </a>
                </div><!-- /.solutionsgrid__item -->
                <div class="solutionsgrid__item">
                  <a href="#" class="solutionsgrid__card">
                    <div class="solutionsgrid__image">
                      <img loading="lazy" src="img/Take2_sm.webp" alt="Take2_sm" width="150" height="150">
                    </div>
                    <div class="solutionsgrid__title">Скоринги</div>
                  </a>
                </div><!-- /.solutionsgrid__item -->
                <div class="solutionsgrid__item">
                  <a href="#" class="solutionsgrid__card">
                    <div class="solutionsgrid__image">
                      <img loading="lazy" src="img/Reports2_sm.webp" alt="Reports2_sm" width="150" height="150">
                    </div>
                    <div class="solutionsgrid__title">Сигнальные отчеты</div>
                  </a>
                </div><!-- /.solutionsgrid__item -->
                <div class="solutionsgrid__item">
                  <a href="#" class="solutionsgrid__card">
                    <div class="solutionsgrid__image">
                      <img loading="lazy" src="img/BI2_sm.webp" alt="BI2_sm" width="150" height="150">
                    </div>
                    <div class="solutionsgrid__title">Аналитика</div>
                  </a>
                </div><!-- /.solutionsgrid__item -->
              </div><!-- /.solutionsgrid__items -->
            </div><!-- /.container -->

          </div><!-- /.onlyMobile -->
          <div class="tabsblock onlyDesktop" data-tabs="tabsblock">
            <div class="tabsblock__header">
              <div class="container">
                <div class="tabsblock__nav">
                  <ul data-tabsheader="tabsblock" role="tablist" aria-label="Solutions">
                    <li data-tabsbutton="tabsblock" class="active" role="tab" aria-selected="true"
                      aria-controls="solutionpanel-1" id="solutiontab-1" tabindex="0">Все сервисы</li>
                    <li data-tabsbutton="tabsblock" role="tab" aria-selected="false" aria-controls="solutionpanel-2"
                      id="solutiontab-2" tabindex="1">Аналитика НБКИ</li>
                    <li data-tabsbutton="tabsblock" role="tab" aria-selected="false" aria-controls="solutionpanel-3"
                      id="solutiontab-3" tabindex="2">Банкам и МФИ</li>
                    <li data-tabsbutton="tabsblock" role="tab" aria-selected="false" aria-controls="solutionpanel-4"
                      id="solutiontab-4" tabindex="3">Страховым компаниям</li>
                    <li data-tabsbutton="tabsblock" role="tab" aria-selected="false" aria-controls="solutionpanel-5"
                      id="solutiontab-5" tabindex="4">ЖКУ и услуги связи</li>
                    <li data-tabsbutton="tabsblock" role="tab" aria-selected="false" aria-controls="solutionpanel-6"
                      id="solutiontab-6" tabindex="5">Лизинг</li>
                  </ul>
                  <div class="tabslock__arrows" data-sliderarrows="solutions">

                  </div><!-- /.tabslock_arrows -->
                </div><!-- /.tabsblock__nav -->
              </div><!-- /.contaienr -->
            </div><!-- /.tabsblock__header -->
            <div class="tabsblock__content">
              <div class="tabsblock__items">
                <div class="tabsblock__item active" data-tabscontent="tabsblock" id="solutionpanel-1" role="tabpanel"
                  aria-labelledby="solutiontab-1" tabindex="0">
                  <div class="solutions">
                    <div class="solutions__wrapper">
                      <div class="solutions__slider" data-slider="solutions">
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">BI аналитика <br> НБКИ</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">Аналитика кредитного рынка</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">Кредитные отчеты для&nbsp;банков и МФИ</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">ССП и самозапрет на кредиты</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">Скоринги НБКИ</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">Сигнальные отчеты — триггеры НБКИ</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">Верификация данных заемщика</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">Прескоринг заявок</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">Скоринг <br> банкротства</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">Сегментация клиентской базы</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">Кредитные отчеты и ССП</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">Услуги НБКИ для&nbsp;ЖКУ и услуг связи</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">НБКИ для&nbsp;лизинговых компаний</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>


                      </div><!-- /.solutions__slider -->
                    </div><!-- /.solutions__wrapper -->
                  </div><!-- /.solutions -->
                </div>
                <div class="tabsblock__item " data-tabscontent="tabsblock" id="solutionpanel-2" role="tabpanel"
                  aria-labelledby="solutiontab-2" tabindex="1">
                  <div class="solutions">
                    <div class="solutions__wrapper">
                      <div class="solutions__slider" data-slider="solutions">
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">BI аналитика <br> НБКИ</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">Аналитика кредитного рынка</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>



                      </div><!-- /.solutions__slider -->
                    </div><!-- /.solutions__wrapper -->
                  </div><!-- /.solutions -->
                </div>
                <div class="tabsblock__item " data-tabscontent="tabsblock" id="solutionpanel-3" role="tabpanel"
                  aria-labelledby="solutiontab-3" tabindex="2">
                  <div class="solutions">
                    <div class="solutions__wrapper">
                      <div class="solutions__slider" data-slider="solutions">

                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">Кредитные отчеты для&nbsp;банков и МФИ</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">ССП и самозапрет на кредиты</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">Скоринги НБКИ</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">Сигнальные отчеты — триггеры НБКИ</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">Верификация данных заемщика</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">Прескоринг заявок</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">Скоринг <br> банкротства</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">Сегментация клиентской базы</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>


                      </div><!-- /.solutions__slider -->
                    </div><!-- /.solutions__wrapper -->
                  </div><!-- /.solutions -->
                </div>
                <div class="tabsblock__item " data-tabscontent="tabsblock" id="solutionpanel-4" role="tabpanel"
                  aria-labelledby="solutiontab-4" tabindex="3">
                  <div class="solutions">
                    <div class="solutions__wrapper">
                      <div class="solutions__slider" data-slider="solutions">
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">Кредитные отчеты и ССП</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>



                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">Сигнальные отчеты — триггеры НБКИ</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">Скоринги НБКИ</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">Верификация данных заемщика</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>



                      </div><!-- /.solutions__slider -->
                    </div><!-- /.solutions__wrapper -->
                  </div><!-- /.solutions -->
                </div>
                <div class="tabsblock__item " data-tabscontent="tabsblock" id="solutionpanel-5" role="tabpanel"
                  aria-labelledby="solutiontab-5" tabindex="4">
                  <div class="solutions">
                    <div class="solutions__wrapper">
                      <div class="solutions__slider" data-slider="solutions">

                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">Услуги НБКИ для&nbsp;ЖКУ и услуг связи</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>


                      </div><!-- /.solutions__slider -->
                    </div><!-- /.solutions__wrapper -->
                  </div><!-- /.solutions -->
                </div>
                <div class="tabsblock__item " data-tabscontent="tabsblock" id="solutionpanel-6" role="tabpanel"
                  aria-labelledby="solutiontab-6" tabindex="5">
                  <div class="solutions">
                    <div class="solutions__wrapper">
                      <div class="solutions__slider" data-slider="solutions">

                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">НБКИ для&nbsp;лизинговых компаний</div>
                            <div class="solutioncard__icon">

                            </div>
                          </a>
                        </div>


                      </div><!-- /.solutions__slider -->
                    </div><!-- /.solutions__wrapper -->
                  </div><!-- /.solutions -->
                </div>
              </div><!-- /.tabsblock__items -->
            </div><!-- /.tabsblock__content -->
          </div><!-- /.tabsblock -->
        </section>

        <section class="sectionbanner p-32-0 mob-p-20-0">
          <div class="container">
            <div class="frameblock">
              <div class="frameblock__wrapper">
                <div class="frameblock__main">
                  <div class="frameblock__content">
                    <div class="frameblock__top">
                      <h2 class="frameblock__title">Способы подключения к&nbsp;НБКИ</h2>
                      <div class="frameblock__text">
                        <p>Подберите решение, делающее информационный обмен<br> комфортным и экономически целесообразным
                        </p>
                      </div>
                    </div>
                    <div class="frameblock__footer">
                      <div class="frameblock__buttons"><a href="#" class="btn_main btn_main_light">Подробнее</a></div>
                    </div><!-- /.frameblock__footer -->
                  </div><!-- /.frameblock__contents -->
                </div><!-- /.frameblock__main -->
                <div class="frameblock__image onlyDesktop">
                  <img loading="lazy" src="img/image60.webp" alt="Способы подключения к НБКИ" width="401" height="307">
                </div><!-- /.frameblock__image -->
                <div class="frameblock__image onlyMobile" style="height: 260px; margin-top: -20px;">
                  <img loading="lazy" src="img/image60.webp" alt="Способы подключения к НБКИ" width="401" height="307">
                </div><!-- /.frameblock__image -->
              </div><!-- /.frameblock__wrapper -->
            </div><!-- /.frameblock -->
          </div><!-- /.container -->
        </section>

        <section class="sectiontags p-32-0 mob-p-20-0">
          <div class="container">
            <h2>С кем мы работаем</h2>
            <div class="subtitle mb-32 mob-mb-40 mob-center ">
              <p>Отраслевые решения для&nbsp;вашего бизнеса</p>
            </div><!-- /.subtitle -->
            <div class="categories__items ">
              <div class="categories__item">
                <a href="#">Банки</a>
              </div>
              <div class="categories__item">
                <a href="#">Микрофинансовые институты</a>
              </div>
              <div class="categories__item">
                <a href="#">Ломбарды</a>
              </div>
              <div class="categories__item">
                <a href="#">Цессионарии</a>
              </div>
              <div class="categories__item">
                <a href="#">Маркетплейсы</a>
              </div>
              <div class="categories__item">
                <a href="#">Ипотечные агенты</a>
              </div>
              <div class="categories__item">
                <a href="#">Страховые компании</a>
              </div>
              <div class="categories__item">
                <a href="#">Коллекторские агентства</a>
              </div>
              <div class="categories__item">
                <a href="#">Управляющие компании ЖКХ</a>
              </div>
              <div class="categories__item">
                <a href="#">Лизинговые или факторинговые компании</a>
              </div>
              <div class="categories__item">
                <a href="#">Арбитражные управляющие</a>
              </div>
              <div class="categories__item">
                <a href="#">Операторы инвестиционных платформ</a>
              </div>
              <div class="categories__item">
                <a href="#">Специализированные финансовые общества</a>
              </div>
              <div class="categories__item">
                <a href="#">Уполномоченные ДОМ.РФ компании</a>
              </div>
            </div>
          </div>
        </section>

        <section class="sectionbanner p-32-0 mob-p-20-0">
          <div class="container">
            <div class="frameblock" id="frameblock__bi">
              <div class="frameblock__wrapper">
                <div class="frameblock__main">
                  <div class="frameblock__content">
                    <div class="frameblock__top">
                      <div class="maincard__tags">
                        <div class="maincard__tag"><span>Бесплатная базовая версия</span></div>
                      </div>
                      <h2 class="frameblock__title">BI аналитика НБКИ</h2>
                      <div class="frameblock__text mb-30">
                        <p>Весь рынок кредитования в цифрах: дашборды <br> от этапа кредитных заявок до обслуживания
                          долга</p>
                      </div>
                    </div>
                    <div class="frameblock__footer">
                      <div class="frameblock__buttons"><a href="#" class="btn_main mob-full">Запросить демо</a></div>
                    </div><!-- /.frameblock__footer -->
                  </div><!-- /.frameblock__contents -->
                </div><!-- /.frameblock__main -->
                <div class="frameblock__image onlyDesktop">
                  <img loading="lazy" src="img/BI1_frameblock.webp" alt="BI аналитика НБКИ" width="470" height="352">
                </div><!-- /.frameblock__image -->
                <div class="frameblock__image onlyMobile" style="height: 350px;">
                  <img loading="lazy" src="img/BI1_mobile.webp" alt="BI аналитика НБКИ" width="1108" height="831">
                </div><!-- /.frameblock__image -->
              </div><!-- /.frameblock__wrapper -->
            </div><!-- /.frameblock -->
          </div><!-- /.container -->
        </section>



        <%= _.template(require('../includes/footer.html').default)(data) %>


          <script>


            let currentTab = 0;
            let totalTabs = document.querySelectorAll("[data-stepcontent]").length;
            showTab(currentTab);


            function showTab(n) {


              let x = document.querySelectorAll("[data-stepcontent]");
              x[n].style.display = "block";
              if (n == 0) {
                document.querySelector("[data-stepbutton='prev']").hidden = true
                document.querySelector("[data-stepbutton='next'] span").innerHTML = "Далее: вид деятельности";
              }
              if (n == 1) {
                document.querySelector("[data-stepbutton='prev']").hidden = false
                document.querySelector("[data-stepbutton='next'] span").innerHTML = "Далее: услуги НБКИ";
              }
              if (n == 2) {
                document.querySelector("[data-stepbutton='prev']").hidden = false
                document.querySelector("[data-stepbutton='next'] span").innerHTML = "Далее: контакты";
              }
              if (n == 3) {
                document.querySelector("[data-stepbutton='prev']").hidden = false
                document.querySelector("[data-stepbutton='next'] span").innerHTML = "Далее: услуги НБКИ";
              }
              if (n == 4) {
                document.querySelector("[data-stepbutton='prev']").hidden = false
                document.querySelector("[data-stepbutton='next'] span").innerHTML = "Далее: услуги НБКИ";
              }


              document.querySelector("[data-page='stepform']").innerHTML = `Шаг ${currentTab + 1} из ${totalTabs}`;
              document.querySelector("[data-progress]").style.width = 100 / totalTabs * (currentTab + 1) + '%';
            }

            function nextPrev(n) {
              if (currentTab < totalTabs) {
                /*   console.log(currentTab) */
                // This function will figure out which tab to display
                let x = document.querySelectorAll("[data-stepcontent]");
                // Exit the function if any field in the current tab is invalid:
                if (n == 1 && !validateForm(1)) return false;
                // Hide the current tab:

                x[currentTab].style.display = "none";
                // Increase or decrease the current tab by 1:
                currentTab = currentTab + n;
                // if you have reached the end of the form... :

                if (n > 0) {
                  /*   console.log('radio: ', $(`[data-stepcontent=step${currentTab + 1}] input[type=radio]`).length)
                    console.log('input: ', $(`[data-stepcontent=step${currentTab + 1}] input`).length) */
                  if ($(`[data-stepcontent=step${currentTab + 1}] input[type=radio]`).length === $(`[data-stepcontent=step${currentTab + 1}] input`).length) {
                    $('[data-stepbutton="next"]').removeClass('disable')
                  } else {
                    $('[data-stepbutton="next"]').addClass('disable')
                  }

                } else {
                  $('[data-stepbutton="next"]').removeClass('disable')
                }
                // ЕСЛИ ПОСЛЕДНИЙ ШАГ = ОТПРАВКА ФОРМЫ
                if (currentTab === x.length - 1) {
                  //...the form gets submitted:
                  $('.stepmobile__main').addClass('ishidden')
                  $('.stepform__buttons').addClass('ishidden')
                  $('.stepmobile__final').addClass('isvisible')
                  $('.stepmobile__final').addClass('.stepform__main_final')

                  $.post('/local/ajax/form.client.php', $('[data-form="corp"]').serialize(), function (result) {

                  })

                  //можно не ждать ответа
                  if ('success') {
                    showTab(x.length - 1); // отображение окна успешной отправки формы
                  }


                  return false;
                }


                // Otherwise, display the correct tab:
                showTab(currentTab);
              }

            }

            function checkGroup(step, err) {
              const groups = step.querySelectorAll('[data-checkgroup="required"]');
              let checkvalid = true;
              if (groups) {
                groups.forEach(element => {
                  let checkboxes = element.querySelectorAll("input[type='checkbox']");

                  if (checkboxes.length > 0) {
                    let checkedOne = Array.prototype.slice.call(checkboxes).some(x => x.checked);

                    let y, i = true;

                    if (!checkedOne) {
                      for (i = 0; i < checkboxes.length; i++) {
                      }
                      checkvalid = false;
                      element.previousElementSibling.classList.add('error_input')
                    } else {
                      if (err) {
                        element.previousElementSibling.classList.remove('error_input')
                      }

                    }
                    if (checkvalid) {
                      document.querySelectorAll("[data-stepcontent]")[currentTab].className += " success";
                    }
                  }
                });
              }

              return checkvalid;

            }

            function validateForm(err) {
              let x = document.querySelectorAll("[data-stepcontent]");
              let checkboxes = checkGroup(x[currentTab], err)
              if (!checkboxes) {
                /* let checkedOne = Array.prototype.slice.call(checkboxes).some(x => x.checked);
                let y, i, valid = true;
                if (!checkedOne) {
                  for (i = 0; i < checkboxes.length; i++) {
                  }
                  valid = false;
                } else {
                  if (err) {
                    for (i = 0; i < checkboxes.length; i++) {
                      checkboxes[i].classList.remove("error_input");
                    }
                  }

                } */
                // If the valid status is true, mark the step as finished and valid:

                return checkboxes; // return the valid status
              } else {
                let y, i, valid = true;
                y = x[currentTab].querySelectorAll("input[required]");
                // A loop that checks every input field in the current tab:
                for (i = 0; i < y.length; i++) {
                  // If a field is empty...
                  if (y[i].value == "") {
                    // add an "invalid" class to the field:
                    if (err) {
                      y[i].className += " error_input";
                    }

                    // and set the current valid status to false:
                    valid = false;
                  } else {
                    y[i].classList.remove("error_input");
                  }
                }
                // If the valid status is true, mark the step as finished and valid:
                if (valid) {
                  document.querySelectorAll("[data-stepcontent]")[currentTab].className += " success";
                }
                return valid; // return the valid status
              }
            }

            function fixStepIndicator(n) {
              // This function removes the "active" class of all steps...
              let i, x = document.querySelectorAll("[data-stepindicator]");
              for (let j = 0; j < x.length; j++) {
                x[j].classList.remove('success');
              }
              for (i = 0; i < x.length; i++) {
                x[i].className = x[i].className.replace(" active", "");
              }
              //... and adds the "active" class to the current step:
              x[n].className += " active";
              for (let j = 0; j < n; j++) {
                x[j].className = x[j].className += " success";
              }
            }


            $(document).ready(function () {

              $(document).on("input", ".stepform__inputs input", function () {
                if (validateForm(0)) {
                  $('[data-stepbutton="next"]').removeClass('disable')
                } else {
                  $('[data-stepbutton="next"]').removeClass('disable')
                  $('[data-stepbutton="next"]').addClass('disable')
                }
              });

              $(document).on("change", ".stepform__inputs input", function () {
                if (validateForm(0)) {
                  $('[data-stepbutton="next"]').removeClass('disable')
                } else {
                  $('[data-stepbutton="next"]').removeClass('disable')
                  $('[data-stepbutton="next"]').addClass('disable')
                }
              });


            });
          </script>