<% var data={ title: "Национальное бюро кредитных историй" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>

      <main>
        <div class="pageheader">
          <div class="breadcrumbs ">
            <div class="container">
              <ul itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item"
                    href="/" title="НБКИ для бизнеса"><span itemprop="name">НБКИ для&nbsp;бизнеса</span>
                    <meta itemprop="position" content="1">
                  </a></li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                  <meta itemprop="item" content="b2b_services_bank.html"><span itemprop="name">Банкам и МФИ</span>
                  <meta itemprop="position" content="2">
                </li>
              </ul>
            </div>
          </div>
          <div class="mainblock pb-32 mob-pb-0 " id="mainblock_bank">
            <div class="container">

              <div class="maincard maincard_xl maincard_full ">
              
                <div class="maincard__wrapper" >
                  <div class="maincard__container">
                    <div class="maincard__content">
                      <h1 class="maincard__title mob-center">Услуги для&nbsp;банков<br> и&nbsp;микрофинансовых <br>институтов</h1>
                      <div class="maincard__text onlyDesktop">Сервисы и услуги для&nbsp;автоматизации кредитного <br>процесса
                      </div>
                    </div>
                    <div class="maincard__footer">
                      <div class="maincard__button">
                        <a href="#formsection" class="scrollTo btn_main">Оставить заявку</a>
                      </div>
                      <div class="maincard__text onlyMobile">Сервисы и услуги для&nbsp;автоматизации кредитного <br>процесса
                      </div>

                    </div><!-- /.maincard__footer -->
                  </div><!-- /.maincard__container -->
                    <div class="maincard__image " >
                    <img src="img/Banks3_lg.webp" width="580" height="427" fetchpriority="high"
                      alt="Услуги для банков и микрофинансовых институтов">
                  </div><!-- /.maincard__image -->
                 
                </div><!-- /.maincard__wrapper -->
              </div>

            </div><!-- /.container -->
          </div><!-- /.mainblock -->
        </div><!-- /.pageheader -->


        <section class="offersection p-32-0 mob-p-20-0">
          <div class="container">
            <h2>Управление рисками</h2>
            <div class="subtitle">
              <p>Большинство предложений НБКИ для&nbsp;управления рисками уникально <br> и не имеет аналогов по
                производительности и
                эффективности</p>
            </div>
            <div class="offers">
              <div class="offers__items">
                <div class="offers__item">
                  <div class="offercard card flex content-between mob-flexwrap">
                    <div class="offercard__content content_h">
                      <div class="offercard__top mob-mb-40 ">
                        <div class="offercard__title title">НБКИ Digital Score</div>
                        <div class="offercard__text text">Прескоринг кредитных <br> онлайн-заявок</div>
                      </div>
                      <div class="offercard__footer">
                        <a href="" class="btn_main mob-full">Подробнее</a>
                      </div>
                    </div>
                    <div class="offercard__image mob-order-1 mob-mb-40">
                      <img src="img/digital_score.svg" alt="НБКИ Digital Score" width="90" height="90" loading="lazy">
                    </div>
                  </div><!-- /.offercard -->
                </div><!-- /.offers__item -->
                <div class="offers__item">
                  <div class="offercard card flex content-between mob-flexwrap">
                    <div class="offercard__content content_h">
                      <div class="offercard__top mob-mb-40 ">
                        <div class="offercard__title title">Кредитные отчеты</div>
                        <div class="offercard__text text">Основа управления рисками <br>финансовых продуктов</div>
                      </div>
                      <div class="offercard__footer">
                        <a href="" class="btn_main mob-full">Подробнее</a>
                      </div>
                    </div>
                    <div class="offercard__image mob-order-1 mob-mb-40">
                      <img src="img/KO.svg" alt="Основа управления рисками" width="104" height="90" loading="lazy">
                    </div>
                  </div><!-- /.offercard -->
                </div><!-- /.offers__item -->
              </div><!-- /.offers__items -->
              <div class="offers__items offers__items_sm">
                <div class="offers__item offers__item_sm">
                  <a href="#" class="offercard card card_sm">
                    <div class="offercard__image mob-order-1 mob-mb-40 carddiv onlyDesktop">
                      <img src="img/ssp.svg" alt="Сведения о самозапрете" width="56" height="56" loading="lazy">
                    </div>
                    <div class="offercard__content content_h carddiv">
                      <div class="offercard__top ">
                        <div class="offercard__title title title_md">Сведения о самозапрете <br>и среднемесячных
                          платежах</div>
                      </div>

                    </div>
                  </a><!-- /.offercard -->

                </div><!-- /.offers__item -->
                <div class="offers__item offers__item_sm">
                  <a href="#" class="offercard card card_sm">
                    <div class="offercard__image mob-order-1 mob-mb-40 carddiv onlyDesktop">
                      <img src="img/scam.svg" alt="Сервисы для&nbsp;борьбы с финансовым мошенничеством" width="56"
                        height="56" loading="lazy">
                    </div>
                    <div class="offercard__content content_h carddiv">
                      <div class="offercard__top  ">
                        <div class="offercard__title title title_md">Сервисы для&nbsp;борьбы <br>с финансовым
                          мошенничеством</div>
                      </div>

                    </div>
                  </a><!-- /.offercard -->

                </div><!-- /.offers__item -->
                <div class="offers__item offers__item_sm">
                  <a href="#" class="offercard card card_sm">
                    <div class="offercard__image mob-order-1 mob-mb-40 carddiv onlyDesktop">
                      <img src="img/verify.svg" alt="Верификация данных заявителей на получение кредита" width="56"
                        height="56" loading="lazy">
                    </div>
                    <div class="offercard__content content_h carddiv">
                      <div class="offercard__top  ">
                        <div class="offercard__title title title_md">Верификация данных заявителей <br>на
                          получение
                          кредита</div>
                      </div>

                    </div>
                  </a><!-- /.offercard -->

                </div><!-- /.offers__item -->

              </div><!-- /.offers__items -->

              <div class="offers__items">
                <div class="offers__item">
                  <div class="offercard card flex content-between mob-flexwrap">
                    <div class="offercard__content content_h">
                      <div class="offercard__top mob-mb-40 ">
                        <div class="offercard__title title">Сигнальные отчеты НБКИ</div>
                        <div class="offercard__text text">Триггеры для&nbsp;мониторинга <br>финансового поведения клиента
                        </div>
                      </div>
                      <div class="offercard__footer">
                        <a href="" class="btn_main mob-full">Подробнее</a>
                      </div>
                    </div>
                    <div class="offercard__image mob-order-1 mob-mb-40">
                      <img src="img/signals2.svg" alt="Сигнальные отчеты НБКИ" width="108" height="90" loading="lazy">
                    </div>
                  </div><!-- /.offercard -->
                </div><!-- /.offers__item -->
                <div class="offers__item">
                  <div class="offercard card flex content-between mob-flexwrap">
                    <div class="offercard__content content_h">
                      <div class="offercard__top mob-mb-40 ">
                        <div class="offercard__title title">Скоринги и рейтинги НБКИ</div>
                        <div class="offercard__text text">Управление рисками и маркетингом <br>на всех этапах
                          взаимодействия с
                          клиентами</div>
                      </div>
                      <div class="offercard__footer">
                        <a href="" class="btn_main mob-full">Подробнее</a>
                      </div>
                    </div>
                    <div class="offercard__image mob-order-1 mob-mb-40">
                      <img src="img/scores2.svg" alt="Скоринги и рейтинги НБКИ" width="108" height="90" loading="lazy">
                    </div>
                  </div><!-- /.offercard -->
                </div><!-- /.offers__item -->
              </div><!-- /.offers__items -->
            </div><!-- /.offers -->
          </div><!-- /.container -->
        </section><!-- /.offersection -->
        <section class="offersection p-32-0 mob-p-20-0">
          <div class="container">
            <h2>Услуги для&nbsp;маркетинга</h2>
            <div class="subtitle">
              <p>Решения, которые помогают формировать продуктовые предложения <br>на основе поведенческих предпочтений
                и
                потребностей клиентов.</p>
            </div>
            <div class="offers">
              <div class="offers__items offers__items_sm offers__items_half_mobile">
                <div class="offers__item offers__item_sm">
                  <a href="#" class="offercard card card_sm">
                    <div class="offercard__image mob-order-1 mob-mb-40 carddiv onlyDesktop">
                      <img src="img/crm_monitor2.svg" alt="Мониторинг клиентской базы (CRM)" width="56" height="56"
                        loading="lazy">
                    </div>
                    <div class="offercard__content content_h carddiv">
                      <div class="offercard__top">
                        <div class="offercard__title title title_md">Мониторинг клиентской базы (CRM)</div>
                      </div>

                    </div>
                  </a><!-- /.offercard -->

                </div><!-- /.offers__item -->
                <div class="offers__item offers__item_sm">
                  <a href="#" class="offercard card card_sm">
                    <div class="offercard__image mob-order-1 mob-mb-40 carddiv onlyDesktop">
                      <img src="img/segmentation.svg" alt="Сегментация клиентской базы" width="56" height="56"
                        loading="lazy">
                    </div>
                    <div class="offercard__content content_h carddiv">
                      <div class="offercard__top ">
                        <div class="offercard__title title title_md">Сегментация клиентской<br> базы</div>
                      </div>

                    </div>
                  </a><!-- /.offercard -->

                </div><!-- /.offers__item -->
                <div class="offers__item offers__item_sm">
                  <a href="#" class="offercard card card_sm">
                    <div class="offercard__image mob-order-1 mob-mb-40 carddiv onlyDesktop">
                      <img src="img/diversify.svg" alt="Диверсификация кредитных предложений" width="67" height="56"
                        loading="lazy">
                    </div>
                    <div class="offercard__content content_h carddiv">
                      <div class="offercard__top">
                        <div class="offercard__title title title_md">Диверсификация кредитных предложений</div>
                      </div>

                    </div>
                  </a><!-- /.offercard -->

                </div><!-- /.offers__item -->

              </div><!-- /.offers__items -->
            </div><!-- /.offers -->
          </div><!-- /.container -->
        </section><!-- /.offersection -->

        <section class="sectionbanner p-32-0 mob-p-20-0">
          <div class="container">
            <div class="frameblock" id="frameblock__bi_sm">
              <div class="frameblock__wrapper">
                <div class="frameblock__main">
                  <div class="frameblock__content">
                    <div class="frameblock__top">
                      <h2 class="frameblock__title">BI аналитика НБКИ</h2>
                      <div class="frameblock__text">
                        <p>Весь рынок кредитования в цифрах: дашборды <br> от этапа кредитных заявок до обслуживания
                          долга</p>
                      </div>
                    </div>
                    <div class="frameblock__footer mob-static">
                      <div class="frameblock__buttons"><a href="#" class="btn_main mob-full">Запросить демо</a></div>
                    </div><!-- /.frameblock__footer -->
                  </div><!-- /.frameblock__contents -->
                </div><!-- /.frameblock__main -->
                <div class="frameblock__image onlyDesktop">
                  <img loading="lazy" src="img/BI1_frameblock.webp" alt="BI аналитика НБКИ" width="404"
                    height="307">
                </div><!-- /.frameblock__image -->
                <div class="frameblock__image onlyMobile" style="height: 350px;">
                  <img loading="lazy" src="img/BI1_mobile.webp" alt="BI аналитика НБКИ" width="1108" height="831">
                </div><!-- /.frameblock__image -->
               
              </div><!-- /.frameblock__wrapper -->
            </div><!-- /.frameblock -->
          </div><!-- /.container -->
        </section>


        <section class="offersection p-32-0 mob-p-20-0">
          <div class="container">
            <h2>Управление <br>кредитным портфелем</h2>
            <div class="subtitle">
              <p>Быстрый прогноз поведения и сигнальные кредитные отчетыдля&nbsp;выявления триггеров в портфеле клиента</p>
            </div>
            <div class="offers">
              <div class="offers__items offers__items_half_mobile offers__items_sm_mobile">
                <div class="offers__item">
                  <div class="offercard card flex content-between mob-flexwrap">
                    <div class="offercard__content content_h ">
                      <div class="offercard__top  ">
                        <div class="offercard__title title">Скоринг действующих кредитов</div>
                        <div class="offercard__text text">Прогноз поведения портфеля</div>
                      </div>
                      <div class="offercard__footer">
                        <a href="" class="btn_main mob-full">Подробнее</a>
                      </div>
                    </div>
                    <div class="offercard__image mob-order-1">
                      <img src="img/credscore.svg" alt="Скоринг действующих кредитов" width="90" height="90"
                        loading="lazy">
                    </div>
                  </div><!-- /.offercard -->
                </div><!-- /.offers__item -->
                <div class="offers__item">
                  <div class="offercard card flex content-between mob-flexwrap">
                    <div class="offercard__content content_h ">
                      <div class="offercard__top ">
                        <div class="offercard__title title">Мониторинг должников</div>
                        <div class="offercard__text text">Сигнальные кредитные отчеты</div>
                      </div>
                      <div class="offercard__footer">
                        <a href="" class="btn_main mob-full">Подробнее</a>
                      </div>
                    </div>
                    <div class="offercard__image mob-order-1 ">
                      <img src="img/crm_monitor.svg" alt="Мониторинг должников" width="90" height="90" loading="lazy">
                    </div>
                  </div><!-- /.offercard -->
                </div><!-- /.offers__item -->
              </div><!-- /.offers__items -->
            </div><!-- /.offers -->
          </div><!-- /.container -->
        </section><!-- /.offersection -->
        <section class="offersection p-32-0 mob-p-20-0">
          <div class="container">
            <h2>Службам взыскания</h2>
            <div class="subtitle">
              <p>Услуги для&nbsp;мониторинга должников и формирования тактики <br>взыскания на ранних этапах просрочки</p>
            </div>
            <div class="offers">
              <div class="offers__items offers__items_sm offers__items_sm_mobile">
                <div class="offers__item offers__item_sm">
                  <a href="#" class="offercard card card_sm">
                    <div class="offercard__image mob-order-1 carddiv">
                      <img src="img/score_pd.svg" alt="НБКИ Retail PV Score" width="56" height="56" loading="lazy">
                    </div>
                    <div class="offercard__content content_h carddiv">
                      <div class="offercard__top  ">
                        <div class="offercard__title title title_md">НБКИ Retail PV Score</div>
                      </div>

                    </div>
                  </a><!-- /.offercard -->

                </div><!-- /.offers__item -->
                <div class="offers__item offers__item_sm">
                  <a href="#" class="offercard card card_sm">
                    <div class="offercard__image mob-order-1  carddiv">
                      <img src="img/score_pd.svg" alt="Скоринг банкротства на ранней стадии просрочки" width="67"
                        height="56" loading="lazy">
                    </div>
                    <div class="offercard__content content_h carddiv">
                      <div class="offercard__top ">
                        <div class="offercard__title title title_md">Скоринг банкротства <br> на ранней стадии
                          просрочки</div>
                      </div>

                    </div>
                  </a><!-- /.offercard -->

                </div><!-- /.offers__item -->
                <div class="offers__item offers__item_sm">
                  <a href="#" class="offercard card card_sm">
                    <div class="offercard__image mob-order-1  carddiv">
                      <img src="img/score_pd.svg" alt="Сигнальные отчеты для&nbsp;мониторинга должников" width="67"
                        height="56" loading="lazy">
                    </div>
                    <div class="offercard__content content_h carddiv">
                      <div class="offercard__top  ">
                        <div class="offercard__title title title_md">Сигнальные отчеты <br>для&nbsp;мониторинга
                          должников</div>
                      </div>

                    </div>
                  </a><!-- /.offercard -->

                </div><!-- /.offers__item -->

              </div><!-- /.offers__items -->
            </div><!-- /.offers -->
          </div><!-- /.container -->
        </section><!-- /.offersection -->



      

      <%= _.template(require('../includes/footer.html').default)(data) %>