<% var data={ title: "Национальное бюро кредитных историй" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>

      <main>
        <div class="pageheader">
          <div class="breadcrumbs ">
            <div class="container">
              <ul itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item"
                    href="/" title="НБКИ для бизнеса"><span itemprop="name">НБКИ для&nbsp;бизнеса</span>
                    <meta itemprop="position" content="1">
                  </a></li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                  <meta itemprop="item" content="b2b_services_insurance.html"><span itemprop="name">Страховым </span>
                  <meta itemprop="position" content="2">
                </li>
              </ul>
            </div>
          </div>
          <div class="mainblock pb-32 mob-pb-0 " id="mainblock_insurance">
            <div class="container">

              <div class="maincard maincard_full ">
              
                <div class="maincard__wrapper" >
                  <div class="maincard__container">
                    <div class="maincard__content">
                      <h1 class="maincard__title">Услуги НБКИ <br>для страховых компаний</h1>
                      <div class="maincard__text ">Решения для управления рисками и анализа<br> клиентской базы
                      </div>
                    </div>
                    <div class="maincard__footer">
                      <div class="maincard__button">
                        <a href="#formsection" class="scrollTo btn_main">Оставить заявку</a>
                      </div>
                     
                    </div><!-- /.maincard__footer -->
                  </div><!-- /.maincard__container -->
                    <div class="maincard__image onlyDesktop" >
                    <img src="img/Insurance1_mainblock.webp" width="582" height="437" fetchpriority="high"
                      alt="Услуги НБКИ для страховых компаний">
                  </div><!-- /.maincard__image -->
                  <div class="maincard__image onlyMobile">
                    <img src="img/Insurance1_mob.webp" width="582" height="437" fetchpriority="high"
                      alt="Услуги НБКИ для страховых компаний">
                  </div><!-- /.maincard__image -->
                </div><!-- /.maincard__wrapper -->
              </div>

            </div><!-- /.container -->
          </div><!-- /.mainblock -->
        </div><!-- /.pageheader -->


        <div class="offersection p-20-0 mob-p-20-0">
          <div class="container">
            <div class="offers">
              <div class="offers__items">
                <div class="offers__item h_auto">
                  <div class="offercard card flex content-between mob-flexwrap">
                    <div class="offercard__content content_h">
                      <div class="offercard__top mob-mb-40 ">
                        <a href="#" class="offercard__title title">Кредитные отчеты <br>для&nbsp;страховых компаний</a>
                        <div class="offercard__text text">Основа управления рисками финансовых продуктов</div>
                      </div>
                      <div class="offercard__footer">
                        <a href="" class="btn_main mob-full">Подробнее</a>
                      </div>
                    </div>
                    <div class="offercard__image mob-order-1 mob-mb-40">
                      <img src="img/KO.svg" alt="KO.svg" width="104" height="90" loading="lazy">
                    </div>
                  </div><!-- /.offercard -->
                </div><!-- /.offers__item -->
                <div class="offers__item h_auto">
                  <div class="offercard card flex content-between mob-flexwrap">
                    <div class="offercard__content content_h">
                      <div class="offercard__top mob-mb-40 ">
                        <a href="#" class="offercard__title title">Сведения о&nbsp;среднемесячных <br>платежах</a>
                        <div class="offercard__text text">Достоверная информация о&nbsp;размере <br>текущих обязательств клиента</div>
                      </div>
                      <div class="offercard__footer">
                        <a href="" class="btn_main mob-full">Подробнее</a>
                      </div>
                    </div>
                    <div class="offercard__image mob-order-1 mob-mb-40">
                      <img src="img/ssp.svg" alt="ssp.sv" width="90" height="90" loading="lazy">
                    </div>
                  </div><!-- /.offercard -->
                </div><!-- /.offers__item -->
              </div><!-- /.offers__items -->
              <div class="offers__items offers__items_sm">
                <div class="offers__item offers__item_sm">
                  <div class="offercard card card_sm">
                    <div class="offercard__image mob-order-1 mob-mb-40 carddiv onlyDesktop">
                      <img src="img/signals.svg" alt="Сигнальные кредитные отчеты НБКИ" width="67" height="56" loading="lazy">
                    </div>
                    <div class="offercard__content content_h carddiv">
                      <div class="offercard__top ">
                        <a href="#" class="offercard__title title title_md">Сигнальные кредитные <br>отчеты НБКИ</a>
                      </div>

                    </div>
                  </div><!-- /.offercard -->

                </div><!-- /.offers__item -->
                <div class="offers__item offers__item_sm">
                  <div class="offercard card card_sm">
                    <div class="offercard__image mob-order-1 mob-mb-40 carddiv onlyDesktop">
                      <img src="img/scores.svg" alt="scores.svg" width="68"
                        height="56" loading="lazy">
                    </div>
                    <div class="offercard__content content_h carddiv">
                      <div class="offercard__top  ">
                        <a href="#" class="offercard__title title title_md">Скоринги и рейтинги НБКИ для&nbsp;страховщиков</a>
                      </div>

                    </div>
                  </div><!-- /.offercard -->

                </div><!-- /.offers__item -->
                <div class="offers__item offers__item_sm">
                  <div class="offercard card card_sm">
                    <div class="offercard__image mob-order-1 mob-mb-40 carddiv onlyDesktop">
                      <img src="img/verify.svg" alt="verify.svg" width="56"
                        height="56" loading="lazy">
                    </div>
                    <div class="offercard__content content_h carddiv">
                      <div class="offercard__top  ">
                        <a href="#" class="offercard__title title title_md">Верификация данных <br>клиентов</a>
                      </div>

                    </div>
                  </div><!-- /.offercard -->

                </div><!-- /.offers__item -->

              </div><!-- /.offers__items -->

         
            </div><!-- /.offers -->
          </div><!-- /.container -->
        </div><!-- /.offersection -->



      </main>

      <%= _.template(require('../includes/footer.html').default)(data) %>