<% var data={ title: "Национальное бюро кредитных историй" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>

      <main>
        <div class="pageheader">
          <div class="breadcrumbs ">
            <div class="container">
              <ul itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item"
                    href="/" title="НБКИ для бизнеса"><span itemprop="name">НБКИ для&nbsp;бизнеса</span>
                    <meta itemprop="position" content="1">
                  </a>
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item"
                    href="/" title="Страховым компаниям"><span itemprop="name">Страховым компаниям</span>
                    <meta itemprop="position" content="2">
                  </a>
                </li>
                
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                  <meta itemprop="item" content="b2b_services_ insurance_ko"><span itemprop="name">ССП</span>
                  <meta itemprop="position" content="3">
                </li>
              </ul>
            </div>
          </div>
          <div class="mainblock pb-32 mob-pb-0" id="mainblock_ins_ssp_szp">
            <div class="container">

              <div class="maincard  maincard_full maincard_nogb maincard_mob_abs">

                <div class="maincard__wrapper">
                  <div class="maincard__container">
                    <div class="maincard__content">
                      <h1 class="maincard__title">Сведения <br>о&nbsp;среднемесячных платежах</h1>
                      <div class="maincard__text ">100% достоверная информация о&nbsp;размере текущих обязательств клиента. <br>Позволяют определять долговую нагрузку и&nbsp;подбирать наиболее оптимальные <br>продуктовые предложения для&nbsp;клиента
                      </div>
                    </div>
                    <div class="maincard__footer">
                      <div class="maincard__button">
                        <a href="#formsection" class="scrollTo btn_main">Оставить заявку</a>
                      </div>


                    </div><!-- /.maincard__footer -->
                  </div><!-- /.maincard__container -->
                  <div class="maincard__image" >
                    <img src="img/Data1_desktop.webp" width="495" height="371" fetchpriority="high"
                      alt="Сведения о самозапрете и среднемесячных платежах">
                  </div><!-- /.maincard__image -->
                  
                </div><!-- /.maincard__wrapper -->
              </div>

            </div><!-- /.container -->
          </div><!-- /.mainblock -->
        </div><!-- /.pageheader -->

       <div class="p-32-0 mob-pb-20">
          <div class="container">
            <div class="cardsinfo flex mob-flexwrap gap-16">
              <div class="card card_auto">
                <div class="title title_md mb-20 mob-mb-8">Помогает контролировать</div>
                <div class="text m-0">кредитную активность клиента</div>
              </div><!-- /.card -->
              <div class="card card_auto">
                <div class="title title_md mb-20 mob-mb-8">Снижает</div>
                <div class="text m-0">Риски невозврата долга</div>
              </div><!-- /.card -->
              <div class="card card_auto">
                <div class="title title_md mb-20 mob-mb-8">Позволяет оценить</div>
                <div class="text m-0">Изменение кредитной нагрузки</div>
              </div><!-- /.card -->

            </div>
          </div><!-- /.container -->
        </div>
       
        
        <section class="sectionbanner p-32-0 mob-p-20-0">
          <div class="container">
            <div class="frameblock" id="frameblock__bi">
              <div class="frameblock__wrapper">
                <div class="frameblock__main">
                  <div class="frameblock__content">
                    <div class="frameblock__top">
                      <div class="maincard__tags">
                        <div class="maincard__tag"><span>Бесплатная базовая версия</span></div>
                      </div>
                      <h2 class="frameblock__title">BI аналитика НБКИ</h2>
                      <div class="frameblock__text mb-30">
                        <p>Весь рынок кредитования в цифрах: дашборды <br> от этапа кредитных заявок до обслуживания
                          долга</p>
                      </div>
                    </div>
                    <div class="frameblock__footer">
                      <div class="frameblock__buttons"><a href="#" class="btn_main mob-full">Запросить демо</a></div>
                    </div><!-- /.frameblock__footer -->
                  </div><!-- /.frameblock__contents -->
                </div><!-- /.frameblock__main -->
                <div class="frameblock__image onlyDesktop">
                  <img loading="lazy" src="img/BI1_frameblock.webp" alt="BI аналитика НБКИ" width="470" height="352">
                </div><!-- /.frameblock__image -->
                <div class="frameblock__image onlyMobile" style="height: 350px;">
                  <img loading="lazy" src="img/BI1_mobile.webp" alt="BI аналитика НБКИ" width="1108" height="831">
                </div><!-- /.frameblock__image -->
              </div><!-- /.frameblock__wrapper -->
            </div><!-- /.frameblock -->
          </div><!-- /.container -->
        </section>

        <section class="sectiontabs p-32-0 pb-0 mob-p-20-0">
          <div class="container">
            <h2 class="mb-0 mob-mb-40">Другие услуги НБКИ для&nbsp;банков и МФИ</h2>
          </div><!-- /.container -->
          <div class="solutionsgrid onlyMobile">
            <div class="container">

              <div class="solutionsgrid__items">
                <div class="solutionsgrid__item">
                  <a href="#" class="solutionsgrid__card">
                    <div class="solutionsgrid__image">
                      <img loading="lazy" src="img/PD2_sm.webp" alt="PD2_sm" width="150" height="150">
                    </div>
                    <div class="solutionsgrid__title">BI аналитика <br>НБКИ</div>
                  </a>
                </div><!-- /.solutionsgrid__item -->
                <div class="solutionsgrid__item">
                  <a href="#" class="solutionsgrid__card">
                    <div class="solutionsgrid__image">
                      <img loading="lazy" src="img/Take2_sm.webp" alt="Take2_sm" width="150" height="150">
                    </div>
                    <div class="solutionsgrid__title">Скоринги и&nbsp;рейтинги для&nbsp;страховщиков</div>
                  </a>
                </div><!-- /.solutionsgrid__item -->
                <div class="solutionsgrid__item">
                  <a href="#" class="solutionsgrid__card">
                    <div class="solutionsgrid__image">
                      <img loading="lazy" src="img/Reports2_sm.webp" alt="Reports2_sm" width="150" height="150">
                    </div>
                    <div class="solutionsgrid__title">Сигнальные кредитные отчеты</div>
                  </a>
                </div><!-- /.solutionsgrid__item -->
                <div class="solutionsgrid__item">
                  <a href="#" class="solutionsgrid__card">
                    <div class="solutionsgrid__image">
                      <img loading="lazy" src="img/BI2_sm.webp" alt="BI2_sm" width="150" height="150">
                    </div>
                    <div class="solutionsgrid__title">Верификация данных<br> клиентов</div>
                  </a>
                </div><!-- /.solutionsgrid__item -->
              </div><!-- /.solutionsgrid__items -->
            </div><!-- /.container -->

          </div><!-- /.onlyMobile -->
          <div class="tabsblock onlyDesktop">

            <div class="tabsblock__content">
              <div class="tabsblock__items">
                <div class="tabsblock__item ">
                  <div class="solutions">
                    <div class="solutions__wrapper">
                      <div class="solutions__slider" data-slider="solutions">
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                    <div class="solutioncard__title">BI аналитика <br>НБКИ</div>
                            <div class="solutioncard__icon"></div>
                          </a>
                        </div>
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                    <div class="solutioncard__title">Скоринги и&nbsp;рейтинги для&nbsp;страховщиков</div>
                            <div class="solutioncard__icon"></div>
                          </a>
                        </div>
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                            <div class="solutioncard__title">Сигнальные кредитные отчеты</div>
                            <div class="solutioncard__icon"></div>
                          </a>
                        </div>
                        <div class="solutions__slide">
                          <a href="#" class="solutioncard">
                    <div class="solutioncard__title">Верификация данных<br> клиентов</div>
                            <div class="solutioncard__icon"></div>
                          </a>
                        </div>
                      </div><!-- /.solutions__slider -->
                    </div><!-- /.solutions__wrapper -->
                  </div><!-- /.solutions -->
                </div>

              </div><!-- /.tabsblock__items -->
            </div><!-- /.tabsblock__content -->
          </div><!-- /.tabsblock -->
        </section>







      </main>

      <%= _.template(require('../includes/footer.html').default)(data) %>