<% var data={ title: "Национальное бюро кредитных историй" , author: "" }; %>
 <%= _.template(require('../includes/head.html').default)(data) %>
  <%= _.template(require('../includes/header.html').default)(data) %>

   <main>
    <div class="pageheader">
     <div class="breadcrumbs ">
      <div class="container">
       <ul itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item" href="/"
          title="НБКИ для бизнеса"><span itemprop="name">НБКИ для&nbsp;бизнеса</span>
          <meta itemprop="position" content="1">
         </a>
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
         <meta itemprop="item" content="b2b_services_insurance_risks_fssp.html"><span itemprop="name">Поставщикам ЖКУ и услуг связи</span>
         <meta itemprop="position" content="2">
        </li>
       </ul>
      </div>
     </div>
     <div class="mainblock pb-32 mob-pb-0" id="mainblock_utility">
      <div class="container">

       <div class="maincard maincard_imgstatic   maincard_full  maincard_mob_abs">
        <div class="maincard__wrapper">
         <div class="maincard__container mob-pb-0">

          <div class="maincard__content">
           <h1 class="maincard__title">Поставщикам ЖКУ <br>и услуг связи</h1>
           <div class="maincard__text ">
            <p>По закону 218-ФЗ «О кредитных историях» в кредитную историю<br> должника вносится информация о судебных взысканиях долгов<br> за коммунальные услуги и услуги связи</p>

           </div>
          </div>
          <div class="maincard__footer">
           <div class="maincard__button">
            <a href="#formsection" class="scrollTo btn_main">Оставить заявку</a>
           </div>
          </div><!-- /.maincard__footer -->
         </div><!-- /.maincard__container -->
         <div class="maincard__image ">
          <img src="img/utility_mainblock.webp" width="484" height="427" fetchpriority="high"
           alt="Поставщикам ЖКУ и услуг связи">
         </div><!-- /.maincard__image -->

        </div><!-- /.maincard__wrapper -->
       </div>

      </div><!-- /.container -->
     </div><!-- /.mainblock -->
    </div><!-- /.pageheader -->

<div class="p-32-0 mob-pb-20">
     <div class="container">
      <div class="cardsinfo flex mob-flexwrap gap-16">
       <div class="card card_24_22">
        <div class="title title_md mb-20 mob-mb-8">Источники информации</div>
        <div class="text m-0">Организации, в&nbsp;пользу которых вынесено решение суда о&nbsp;взыскании долга, должны передавать информацию в&nbsp;НБКИ</div>
       </div><!-- /.card -->
       <div class="card card_24_22">
        <div class="title title_md mb-20 mob-mb-8">Долг попадает в кредитную историю</div>
        <div class="text m-0">Если решение суда вступило в&nbsp;силу и не&nbsp;исполнено в&nbsp;течение 10&nbsp;дней, информация вносится в&nbsp;кредитную историю</div>
       </div><!-- /.card -->
       <div class="card card_24_22">
        <div class="title title_md mb-20 mob-mb-8">Снижение просрочек и долгов</div>
        <div class="text m-0">Внесение информации о&nbsp;долгах за&nbsp;ЖКУ и&nbsp;услуги связи дисциплинирует должника и&nbsp;мотивирует погашать задолженность</div>
       </div><!-- /.card -->

      </div>
     </div><!-- /.container -->
    </div>

    <section class="sectionbanner p-32-0 mob-p-20-0 mob-mt-0">
     <div class="container">
      <div class="frameblock" id="frameblock__bi">
       <div class="frameblock__wrapper">
        <div class="frameblock__main">
         <div class="frameblock__content">
          <div class="frameblock__top">
           <div class="maincard__tags">
            <div class="maincard__tag"><span>Бесплатная базовая версия</span></div>
           </div>
           <h2 class="frameblock__title">BI аналитика НБКИ</h2>
           <div class="frameblock__text mb-30">
            <p>Весь рынок кредитования в цифрах: дашборды <br> от этапа кредитных заявок до обслуживания
             долга</p>
           </div>
          </div>
          <div class="frameblock__footer">
           <div class="frameblock__buttons"><a href="#" class="btn_main mob-full">Запросить демо</a></div>
          </div><!-- /.frameblock__footer -->
         </div><!-- /.frameblock__contents -->
        </div><!-- /.frameblock__main -->
        <div class="frameblock__image onlyDesktop">
         <img loading="lazy" src="img/BI1_frameblock.webp" alt="BI аналитика НБКИ" width="470" height="352">
        </div><!-- /.frameblock__image -->
        <div class="frameblock__image onlyMobile" style="height: 350px;">
         <img loading="lazy" src="img/BI1_mobile.webp" alt="BI аналитика НБКИ" width="1108" height="831">
        </div><!-- /.frameblock__image -->
       </div><!-- /.frameblock__wrapper -->
      </div><!-- /.frameblock -->
     </div><!-- /.container -->
    </section>

    


    <%= _.template(require('../includes/footer.html').default)(data) %>