<% var data={ title: "Национальное бюро кредитных историй" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>

      <main>
        <div class="pageheader">
          <div class="breadcrumbs ">
            <div class="container">
              <ul itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item"
                    href="/" title="НБКИ для бизнеса"><span itemprop="name">НБКИ для&nbsp;бизнеса</span>
                    <meta itemprop="position" content="1">
                  </a></li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                  <meta itemprop="item" content="b2b_services_analytics.html"><span itemprop="name">Аналитика
                    НБКИ</span>
                  <meta itemprop="position" content="2">
                </li>
              </ul>
            </div>
          </div>
          <div class="mainblock pb-0 mob-pb-0 " id="mainblock_bi">
            <div class="container">

              <div class="maincard maincard_full ">

                <div class="maincard__wrapper">
                  <div class="maincard__container">
                    <div class="maincard__content">
                      <h1 class="maincard__title">Аналитические отчеты <br>НБКИ</h1>
                      <div class="maincard__text ">Экспертиза кредитного рынка в&nbsp;стандартизированных<br>
                        и&nbsp;кастомизированных отчетах НБКИ
                      </div>
                      <div class="maincard__tags ">
                        <div class="maincard__tag"><span>Стандарт</span></div>
                        <div class="maincard__tag"><span>Кастомизация под запрос</span></div>
                        <div class="maincard__tag"><span>BI</span></div>
                      </div>
                    </div>
                    <div class="maincard__footer">
                      <div class="maincard__button">
                        <a href="#formsection" class="scrollTo btn_main">Оставить заявку</a>
                      </div>

                    </div><!-- /.maincard__footer -->
                  </div><!-- /.maincard__container -->
                  <div class="maincard__image ">
                    <img src="img/BI1_mainblock.webp" width="560" height="420" fetchpriority="high"
                      alt="BI аналитика НБКИ">
                  </div><!-- /.maincard__image -->

                </div><!-- /.maincard__wrapper -->
              </div>

            </div><!-- /.container -->
          </div><!-- /.mainblock -->
        </div><!-- /.pageheader -->

        <div class="pt-10 pb-32 mob-pb-20">
          <div class="container">
            <div class="cardsinfo flex mob-flexwrap gap-16">
              <div class="card card_24_22">
                <div class="title title_md mb-20 mob-mb-8">Экономическая эффективность</div>
                <div class="text m-0">Стандартизация алогоритмов построения позволяет использовать отчеты НБКИ
                  в&nbsp;разных направлениях бизнеса</div>
              </div><!-- /.card -->
              <div class="card card_24_22">
                <div class="title title_md mb-20 mob-mb-8">Кастомизация для&nbsp;заказчика</div>
                <div class="text m-0">Отчеты и&nbsp;выборки НБКИ могут быть подготовлены под&nbsp;потребности заказчика
                  с&nbsp;необходимой детализацией</div>
              </div><!-- /.card -->
              <div class="card card_24_22">
                <div class="title title_md mb-20 mob-mb-8">НБКИ Business Intelligence (BI)</div>
                <div class="text m-0">Стандартные и&nbsp;кастом отчеты в&nbsp;виде интерактивных дашбордов
                  с&nbsp;широким выбором различных метрик и&nbsp;фильтров</div>
              </div><!-- /.card -->

            </div>
          </div><!-- /.container -->
        </div>

        <section class="sectionbanner p-32-0 mob-p-20-0 mob-mt-0">
          <div class="container">
            <div class="frameblock" id="frameblock__bi">
              <div class="frameblock__wrapper">
                <div class="frameblock__main">
                  <div class="frameblock__content">
                    <div class="frameblock__top">
                      <div class="maincard__tags">
                        <div class="maincard__tag"><span>Бесплатная базовая версия</span></div>
                      </div>
                      <h2 class="frameblock__title">BI аналитика НБКИ</h2>
                      <div class="frameblock__text mb-30">
                        <p>Весь рынок кредитования в цифрах: дашборды <br> от этапа кредитных заявок до обслуживания
                          долга</p>
                      </div>
                    </div>
                    <div class="frameblock__footer">
                      <div class="frameblock__buttons"><a href="#" class="btn_main mob-full">Запросить демо</a></div>
                    </div><!-- /.frameblock__footer -->
                  </div><!-- /.frameblock__contents -->
                </div><!-- /.frameblock__main -->
                <div class="frameblock__image onlyDesktop">
                  <img loading="lazy" src="img/BI1_frameblock.webp" alt="BI аналитика НБКИ" width="470" height="352">
                </div><!-- /.frameblock__image -->
                <div class="frameblock__image onlyMobile" style="height: 350px;">
                  <img loading="lazy" src="img/BI1_mobile.webp" alt="BI аналитика НБКИ" width="1108" height="831">
                </div><!-- /.frameblock__image -->
              </div><!-- /.frameblock__wrapper -->
            </div><!-- /.frameblock -->
          </div><!-- /.container -->
        </section>


        <section class="flipcardssection p-32-0 mob-p-20-0">
          <div class="container">
            <h2 class="text-center mob-text-left">Аналитические отчеты НБКИ</h2>

            <div class="cardsinfo flex mob-flexwrap gap-24 mob-gap-8 items-2">
              <div class="card offercard offercard_md">
                <div class="offercard__content content_h">
                  <div class="offercard__top  ">
                    <div class="maincard__tags mb-8">
                      <div class="maincard__tag"><a href="#">Кастом</a></div>
                    </div>
                    <div class="title ">«Бенчмаркинг» <br>референтный отчет</div>
                    <div class="text">
                      <p>Сравнение показателей с данными референтного<br> депенсонализированного списка кредиторов</p>
                    </div>
                  </div>
                  <div class="offercard__footer">
                    <div class="offercard__button">
                      <a href="#" data-modalbutton="offercard_1" class="btn_main btn_main_light btn_main_icon mob-full">
                        <span>Подробнее</span>
                      </a>
                    </div><!-- /.offercard__button -->
                  </div>
                </div><!-- /.offercard__content content_h -->

                <div class="cardpopup cardpopup_slide" data-modal="offercard_1">
                  <div class="flipcard flipcard_back offercard card flex content-between mob-flexwrap">
                    <div class="offercard__content content_h">
                      <div class="cardpopup__wrapper">
                        <div class="cardpopup__main">
                          <div class="offercard__item ">
                            <div class="cardpopup__header mb-24">
                              <div class="maincard__tags mb-0">

                              </div>
                              <div class="cardpopup__aside">
                                <span class="btn_main btn_main_light btn_img" data-modalclose="offercard_2">
                                  <img src="img/CloseLarge.svg" alt="CloseLarge" width="24" height="24">
                                </span>
                              </div>
                            </div><!-- /.cardpopup__header -->

                            <div class="offercard__header mb-32">
                              <span class="offercard__title title">Отчет «Бенчмаркинг»</span>

                            </div>
                            <div class="offercard__top mb-30 mob-mb-30">
                              <div class="offercard__text text">
                                <p>Сравнение показателей заказчика с показателями деперсонализированного референтного
                                  списка кредиторов.
                                </p>
                                <p>В отчетах анализируется портрет клиента, параметры входящего потока, выдач,
                                  портфельные характеристики. </p>
                                <p>Всего отчет содержит более 2-х тысяч переменных в виде динамических рядов с 12-и
                                  месячной ретроспективой. </p>
                                <p>За счет предоставления данных в максимально возможных представлениях (регионы, суммы
                                  и сроки кредитов, возраста заемщиков и т.д.) такой анализ позволяет выявить сильные и
                                  слабые стороны маркетинга кредитора и найти точки роста</p>
                              </div>
                            </div>
                          </div>

                        </div>

                      </div><!-- /.cardpopup__wrapper -->
                      <div class="offercard__footer">
                        <div class="offercard__button">
                          <a href="#formsection" class="scrollTo btn_main   mob-full">
                            <span>Оставить заявку</span>
                          </a>
                        </div><!-- /.offercard__button -->
                      </div>
                    </div>
                  </div>
                </div><!-- /.cardpopup -->

              </div>
              <div class="card offercard offercard_md">
                <div class="offercard__content content_h">
                  <div class="offercard__top  ">
                    <div class="maincard__tags mb-8">
                      <div class="maincard__tag"><a href="#">Стандарт</a></div>
                    </div>
                    <div class="title ">«Бенчмаркинг. Взыскание» <br>стандартизированный отчет</div>
                    <div class="text">
                      <p>Объективная картина положения кредитора относительно<br> пула конкурентной группы по бакетам
                        просрочки</p>
                    </div>
                  </div>
                  <div class="offercard__footer">
                    <div class="offercard__button">
                      <a href="#" data-modalbutton="offercard_2" class="btn_main btn_main_light btn_main_icon mob-full">
                        <span>Подробнее</span>
                      </a>
                    </div><!-- /.offercard__button -->
                  </div>
                </div><!-- /.offercard__content content_h -->

                <div class="cardpopup cardpopup_slide" data-modal="offercard_2">
                  <div class="flipcard flipcard_back offercard card flex content-between mob-flexwrap">
                    <div class="offercard__content content_h">
                      <div class="cardpopup__wrapper">

                        <div class="cardpopup__main">
                          <div class="offercard__item ">
                            <div class="cardpopup__header mb-24">
                              <div class="maincard__tags mb-0">
                                <div class="maincard__tag"><a href="#">Потребительские кредиты</a></div>
                                <div class="maincard__tag"><a href="#">Кредитные карты</a></div>
                                <div class="maincard__tag"><a href="#">Ипотека</a></div>
                                <div class="maincard__tag"><a href="#">Автокредиты</a></div>
                              </div>
                              <div class="cardpopup__aside">
                                <span class="btn_main btn_main_light btn_img" data-modalclose="offercard_2">
                                  <img src="img/CloseLarge.svg" alt="CloseLarge" width="24" height="24">
                                </span>
                              </div>
                            </div><!-- /.cardpopup__header -->

                            <div class="offercard__header mb-32">
                              <span class="offercard__title title">Бенчмаркинг. Взыскание</span>

                            </div>
                            <div class="offercard__top mb-30 mob-mb-30">
                              <div class="offercard__text text">
                                <p>Специально для оценки эффективности процедур взыскания НБКИ предоставляет
                                  стандартизированный отчет «Бенчмаркинг.Взыскание», предполагающий сравнение
                                  показателей заказчика с показателями деперсонализированного референтного списка
                                  кредиторов по бакетам просрочки.

                                </p>
                                <p>Отчет предоставляется в виде двух файлов «Early Collection» и «Late Collection» и
                                  позволяет изучить процесс миграции должников по бакетам просрочки в сравнении с
                                  показателями кредиторов референтной группы. </p>
                                <p>Дополнительная сегментация по типам кредитов, суммам, регионам и риск-профилю
                                  должников дает возможность точной оценки эффективности каждого элемента всей процедуры
                                  работы с должниками, выявить реальные «болевые» точки и, в кратчайшие сроки принять
                                  управленческие решения по корректировки стратегии работы подразделений взыскания</p>
                              </div>
                            </div>
                          </div>

                        </div>

                      </div><!-- /.cardpopup__wrapper -->
                      <div class="offercard__footer">
                        <div class="offercard__button">
                          <a href="#formsection" class="scrollTo btn_main   mob-full">
                            <span>Оставить заявку</span>
                          </a>
                        </div><!-- /.offercard__button -->
                      </div>
                    </div>
                  </div>
                </div><!-- /.cardpopup -->

              </div>
              <div class="card offercard offercard_md">
                <div class="offercard__content content_h">
                  <div class="offercard__top  ">
                    <div class="maincard__tags mb-8">
                      <div class="maincard__tag"><a href="#">Стандарт</a></div>
                    </div>
                    <div class="title ">Винтажный анализ</div>
                    <div class="text">
                      <p>Самые популярные представления винтажей <br>для разных этапов кредитного процесса</p>
                    </div>
                  </div>
                  <div class="offercard__footer">
                    <div class="offercard__button">
                      <a href="#" data-modalbutton="offercard_3" class="btn_main btn_main_light btn_main_icon mob-full">
                        <span>Подробнее</span>
                      </a>
                    </div><!-- /.offercard__button -->
                  </div>
                </div><!-- /.offercard__content content_h -->

                <div class="cardpopup cardpopup_slide" data-modal="offercard_3">
                  <div class="flipcard flipcard_back offercard card flex content-between mob-flexwrap">
                    <div class="offercard__content content_h">
                      <div class="cardpopup__wrapper">

                        <div class="cardpopup__main">
                          <div class="offercard__item ">
                            <div class="cardpopup__header mb-24">
                              <div class="maincard__tags mb-0">

                              </div>
                              <div class="cardpopup__aside">
                                <span class="btn_main btn_main_light btn_img" data-modalclose="offercard_3">
                                  <img src="img/CloseLarge.svg" alt="CloseLarge" width="24" height="24">
                                </span>
                              </div>
                            </div><!-- /.cardpopup__header -->

                            <div class="offercard__header mb-32">
                              <span class="offercard__title title">Винтажный анализ</span>

                            </div>
                            <div class="offercard__top mb-30 mob-mb-30">
                              <div class="offercard__text text">
                                <p>В отчеты собраны самые популярные представления винтажного анализа, позволяющие
                                  применять отчет на различных этапах кредитного процесса — от корректировки процедур
                                  принятия решения до портфельного анализа.

                                </p>

                              </div>
                            </div>
                          </div>

                        </div>

                      </div><!-- /.cardpopup__wrapper -->
                      <div class="offercard__footer">
                        <div class="offercard__button">
                          <a href="#formsection" class="scrollTo btn_main   mob-full">
                            <span>Оставить заявку</span>
                          </a>
                        </div><!-- /.offercard__button -->
                      </div>
                    </div>
                  </div>
                </div><!-- /.cardpopup -->

              </div>
              <div class="card offercard offercard_md">
                <div class="offercard__content content_h">
                  <div class="offercard__top  ">
                    <div class="maincard__tags mb-8">
                      <div class="maincard__tag"><a href="#">Стандарт</a></div>
                    </div>
                    <div class="title ">Анализ долговой нагрузки <br>частных заемщиков</div>
                    <div class="text">
                      <p>Основные параметры PTI и&nbsp;DTI в&nbsp;различных <br>представлениях для&nbsp;рынка
                        кредитования</p>
                    </div>
                  </div>
                  <div class="offercard__footer">
                    <div class="offercard__button">
                      <a href="#" data-modalbutton="offercard_4" class="btn_main btn_main_light btn_main_icon mob-full">
                        <span>Подробнее</span>
                      </a>
                    </div><!-- /.offercard__button -->
                  </div>
                </div><!-- /.offercard__content content_h -->

                <div class="cardpopup cardpopup_slide" data-modal="offercard_4">
                  <div class="flipcard flipcard_back offercard card flex content-between mob-flexwrap">
                    <div class="offercard__content content_h">
                      <div class="cardpopup__wrapper">

                        <div class="cardpopup__main">
                          <div class="offercard__item ">
                            <div class="cardpopup__header mb-24">
                              <div class="maincard__tags mb-0">

                              </div>
                              <div class="cardpopup__aside">
                                <span class="btn_main btn_main_light btn_img" data-modalclose="offercard_4">
                                  <img src="img/CloseLarge.svg" alt="CloseLarge" width="24" height="24">
                                </span>
                              </div>
                            </div><!-- /.cardpopup__header -->

                            <div class="offercard__header mb-32">
                              <span class="offercard__title title">Анализ долговой нагрузки <br>частных заемщиков</span>

                            </div>
                            <div class="offercard__top mb-30 mob-mb-30">
                              <div class="offercard__text text">
                                <p>В отчете представлены основные параметры долговой нагрузки частных заемщиков – PTI
                                  (payment to income) и DTI (debt to income) в различных представлениях: по группам
                                  доходов заемщиков, по регионам, по отраслям занятости.
                                </p>
                                <p>Отчет генерируется 2 раза в год и позволяет выявлять потенциалы кредитования в
                                  различных сегментах – региональных, отраслевых, возрастных.</p>
                              </div>
                            </div>
                          </div>

                        </div>

                      </div><!-- /.cardpopup__wrapper -->
                      <div class="offercard__footer">
                        <div class="offercard__button">
                          <a href="#formsection" class="scrollTo btn_main   mob-full">
                            <span>Оставить заявку</span>
                          </a>
                        </div><!-- /.offercard__button -->
                      </div>
                    </div>
                  </div>
                </div><!-- /.cardpopup -->

              </div>
              <div class="card offercard offercard_md">
                <div class="offercard__content content_h">
                  <div class="offercard__top  ">
                    <div class="maincard__tags mb-8">
                      <div class="maincard__tag"><a href="#">Стандарт</a></div>
                    </div>
                    <div class="title ">Поведенческий анализ заемщика <br>после получения отказа</div>
                    <div class="text">
                      <p>Узнайте дальнейшую судьбу клиентов, получивших отказ<br> или не воспользовавшихся положительным
                        решением банка</p>
                    </div>
                  </div>
                  <div class="offercard__footer">
                    <div class="offercard__button">
                      <a href="#" data-modalbutton="offercard_5" class="btn_main btn_main_light btn_main_icon mob-full">
                        <span>Подробнее</span>
                      </a>
                    </div><!-- /.offercard__button -->
                  </div>
                </div><!-- /.offercard__content content_h -->

                <div class="cardpopup cardpopup_slide" data-modal="offercard_5">
                  <div class="flipcard flipcard_back offercard card flex content-between mob-flexwrap">
                    <div class="offercard__content content_h">
                      <div class="cardpopup__wrapper">

                        <div class="cardpopup__main">
                          <div class="offercard__item ">
                            <div class="cardpopup__header mb-24">
                              <div class="maincard__tags mb-0">

                              </div>
                              <div class="cardpopup__aside">
                                <span class="btn_main btn_main_light btn_img" data-modalclose="offercard_5">
                                  <img src="img/CloseLarge.svg" alt="CloseLarge" width="24" height="24">
                                </span>
                              </div>
                            </div><!-- /.cardpopup__header -->

                            <div class="offercard__header mb-32">
                              <span class="offercard__title title">Поведенческий анализ заемщика <br>после получения
                                отказа</span>

                            </div>
                            <div class="offercard__top mb-30 mob-mb-30">
                              <div class="offercard__text text">
                                <p>Отчет позволяет выяснить дальнейшую судьбу клиентов, получивших отказ в
                                  предоставлении кредита/займа, или не воспользовавшихся положительным решением
                                  кредитора. Позволяет:
                                </p>

                                <ul>
                                  <li>скорректировать правила принятия кредитных решений;</li>
                                  <li>повысить эффективность тарифной и маркетинговой политики;</li>
                                  <li>улучшить эффективность всех этапов взаимодействия с клиентами.</li>
                                </ul>

                                <p>Эффективность процедур на этапе обработки кредитных заявок повышается на 10–20% при
                                  сохранении кредитного качества заемщиков</p>
                              </div>
                            </div>
                          </div>

                        </div>

                      </div><!-- /.cardpopup__wrapper -->
                      <div class="offercard__footer">
                        <div class="offercard__button">
                          <a href="#formsection" class="scrollTo btn_main   mob-full">
                            <span>Оставить заявку</span>
                          </a>
                        </div><!-- /.offercard__button -->
                      </div>
                    </div>
                  </div>
                </div><!-- /.cardpopup -->

              </div>
              <div class="card offercard offercard_md card_custom" style="background-image: url(img/union_xl.svg);">
                <div class="offercard__content content_h">
                  <div class="offercard__top  ">
                    <div class="maincard__tags mb-8">
                      
                    </div>
                    <div class="title ">BI платформа НБКИ <br>
                      <i>Business Intelligence</i></div>
                    <div class="text">
                      <p>Интерактивная платформа с&nbsp;данными о&nbsp;состоянии <br>и&nbsp;динамике рынка розничного кредитования в&nbsp;России</p>
                    </div>
                  </div>
                  <div class="offercard__footer">
                    <div class="offercard__button">
                      <a href="//bi.nbki.ru" target="_blank" data-modalbutton="offercard_5" class="btn_main  btn_border btn_main_icon btn_main_icon-bi" >
                        <span>bi.nbki.ru</span>
                      </a>
                    </div><!-- /.offercard__button -->
                  </div>
                </div><!-- /.offercard__content content_h -->

                

              </div>
            </div>
          </div>
        </section>

           <section class="sectionbanner p-32-0 mob-p-20-0">
          <div class="container">
            <div class="frameblock " id="frameblock_msb_2">
              <div class="frameblock__wrapper">
                <div class="frameblock__main">
                  <div class="frameblock__content">
                    <div class="frameblock__top mb-40">
                      <h2 class="frameblock__title">Модельная песочница НБКИ</h2>
                      <div class="frameblock__text">
                        <p>Инфраструктура НБКИ подходит для&nbsp;разработки собственных моделей кредиторов или адаптации
                          индустриальных моделей под свои потребности.
                        </p>
                        <p>НБКИ обеспечивает партнеров инструментами тестирования и мониторинга эффективности, которые
                          предоставляются в рамках технологической и методологической поддержки</p>
                      </div>
                    </div>
                    <div class="frameblock__footer">
                      <div class="frameblock__buttons"><a href="#formsection"
                          class="scrollTo btn_main mob-full">Оставить
                          заявку</a></div>
                    </div><!-- /.frameblock__footer -->
                  </div><!-- /.frameblock__contents -->
                </div><!-- /.frameblock__main -->
                <div class="frameblock__image">
                  <img loading="lazy" src="img/frameblock_msb.webp"
                    alt="b2b_services_bank_risks_fssp" width="247" height="392">
                </div>
              </div><!-- /.frameblock__wrapper -->
            </div><!-- /.frameblock -->
          </div><!-- /.container -->
        </section>

        <%= _.template(require('../includes/footer.html').default)(data) %>