<% var data={ title: "Cookie Policy" , author: "" }; %>
 <%= _.template(require('../includes/head.html').default)(data) %>
  <%= _.template(require('../includes/header.html').default)(data) %>

   <main>
    <div class="mainblock pb-32 mob-pb-20">
     <div class="container">
      <div class="mainblock__cols">
       <div class="mainblock__col mainblock__col_bigger">
        <div class="mainblock__rows">
         <div class="mainblock__item">
          <div class="maincard maincard_xl">
           <div class="maincard__wrapper" style="background-image: url(img/Banks3.png);">
            <div class="maincard__container">
             <div class="maincard__content">
              <div class="maincard__title">Банкам и МФИ</div>
              <div class="maincard__text">Решения для маркетинга и служб взыскания, <br>для управления рисками и
               кредитным<br>
               портфелем</div>
             </div>
             <div class="maincard__footer">
              <div class="maincard__button">
               <a href="" class="btn_main">Подробнее</a>
              </div>
             </div><!-- /.maincard__footer -->
            </div><!-- /.maincard__container -->
           </div><!-- /.maincard__wrapper -->
          </div>
         </div><!-- /.mainblock__item -->
         <div class="mainblock__row">
          <div class="mainblock__item">
           <div class="maincard maincard_sm">
            <div class="maincard__wrapper" style="background-image: url(img/Insurance3.png);">
             <div class="maincard__container">
              <div class="maincard__content">
               <div class="maincard__title">Страховым<br> компаниям</div>
              </div>
             </div><!-- /.maincard__container -->
            </div><!-- /.maincard__wrapper -->
           </div>
          </div><!-- /.mainblock__item -->
          <div class="mainblock__item">
           <div class="maincard maincard_sm">
            <div class="maincard__wrapper" style="background-image: url(img/PD2.png);">
             <div class="maincard__container">
              <div class="maincard__content">
               <div class="maincard__title">Поставщикам ЖКУ<br> и услуг связи</div>
              </div>
             </div><!-- /.maincard__container -->
            </div><!-- /.maincard__wrapper -->
           </div>
          </div><!-- /.mainblock__item -->
         </div><!-- /.mainblock__row -->
        </div><!-- /.mainblock__rows -->
       </div><!-- /.mainblock__col mainblock__bigger -->
       <div class="mainblock__col mainblock__col_smaller">
        <div class="mainblock__rows">
         <div class="mainblock__item">
          <div class="maincard maincard_lg">
           <div class="maincard__wrapper" style="background-image: url(img/BI2.png);">
            <div class="maincard__container">
             <div class="maincard__content">
              <div class="maincard__title">BI аналитика <br>НБКИ</div>
             </div>
            </div><!-- /.maincard__container -->
           </div><!-- /.maincard__wrapper -->
          </div>
         </div><!-- /.mainblock__item -->
         <div class="mainblock__item">
          <div class="maincard maincard_lg">
           <div class="maincard__wrapper" style="background-image: url(img/Bankrupt1.png);">
            <div class="maincard__container">
             <div class="maincard__content">
              <div class="maincard__title">Лизинговым компаниями <br>операторам инвест <br>платформ</div>
             </div>
            </div><!-- /.maincard__container -->
           </div><!-- /.maincard__wrapper -->
          </div>
         </div><!-- /.mainblock__item -->
        </div><!-- /.mainblock__rows -->
       </div><!-- /.mainblock__col mainblock__smaller -->
      </div><!-- /.mainblock__cols -->
     </div><!-- /.container -->
    </div><!-- /.mainblock -->

    <div class="aboutblock  aboutblock_type2  p-32-0 mob-p-20-0">
     <div class="aboutblock__main mb-48">
      <div class="container">
       <div class="aboutblock__content">
        <div class="aboutblock__title">
         <h1>Национальное бюро кредитных историй</h1>
        </div>
        <div class="aboutblock__right">
         <div class="aboutblock__cols">
          <div class="aboutblock__text">
           <p>
            Со дня своего основания НБКИ консолидирует кредитную информацию, предоставленную банками, МФИ, ломбардами и
            другими организациями в рамках 218-ФЗ «О кредитных историях».
           </p>
           <p>Число партнеров НБКИ, — источников информации, постоянно увеличивается.
           </p>
          </div>
          <div class="aboutblock__text">
           <p>Это обеспечивает максимально возможную репрезентативность данных в базе НБКИ.
           </p>
           <p>Большинство предложений НБКИ уникально и не имеет аналогов по производительности и эффективности</p>
          </div>
         </div>
         <!-- /.aboutblock__cols -->
        </div>
       </div>
      </div>
     </div>
     <div class="aboutblock__info">
      <div class="container">
       <div class="aboutblock__stats">
        <div class="aboutblock__item ">
         <div class="stats">
          <div class="stats__top">
           <span class="stats__numb">20</span>&nbsp;<span class="stats__caption">лет</span>
          </div>
          <div class="stats__text">
           лидерства <br>
           на&nbsp;рынке
          </div>
         </div>
        </div>
        <div class="aboutblock__item ">
         <div class="stats">
          <div class="stats__top">
           <span class="stats__numb">710</span> <span class="stats__caption"> млн</span>
          </div>
          <div class="stats__text">
           записей кредитных <br>историй
          </div>
         </div>
        </div>
        <div class="aboutblock__item ">
         <div class="stats">
          <div class="stats__top">
           <span class="stats__numb">107</span> <span class="stats__caption">млн</span>
          </div>
          <div class="stats__text">
           уникальных заемщиков <br>
           в&nbsp;базе
          </div>
         </div>
        </div>
        <div class="aboutblock__item ">
         <div class="stats">
          <div class="stats__top">
           <span class="stats__numb">5000</span><sup>+</sup>
          </div>
          <div class="stats__text">
           источников и пользователей информации
          </div>
         </div>
        </div>

       </div>
      </div>
     </div>

    </div>
   </main>

   <%= _.template(require('../includes/footer.html').default)(data) %>