<% var data = {
  title: "MAIN",
  author: ""
  }; %>
<%= _.template(require('../includes/head.html').default)(data) %>
<%= _.template(require('../includes/header.html').default)(data) %>
<style>
  li {
    margin-bottom: 15px;
    list-style: none;
    display: block;
  }
  a.btn_main {
    line-height: unset;
    background: none !important;
    padding: 0;
    height: unset;
    color: #000 !important;
    margin: 0 0 12px 0;
  }
</style>
<main>
    <div class="container">
     <ul>
      <li><a href="index.html" target="_blank" rel="noopener noreferrer" class='btn_main'>Сайт МХВ </a></li>
      <li><a href="b2b_services_bank.html" target="_blank" rel="noopener noreferrer" class='btn_main'>b2b_services_bank</a></li>
    
     
      
     </ul>
    </div><!-- /.container -->
</main>

