<% var data = {
  title: "b2b",
  author: ""
  }; %>
<%= _.template(require('../includes/head.html').default)(data) %>
<%= _.template(require('../includes/header.html').default)(data) %>
<style>
  li {
    margin-bottom: 15px;
    list-style: none;
    display: block;
  }
  a.btn_main {
    line-height: unset;
    background: none !important;
    padding: 0;
    height: unset;
    color: #000 !important;
    margin: 0 0 12px 0;
  }
</style>
<main>
    <div class="container">
     <ul>
      <li><a href="index.html" target="_blank" rel="noopener noreferrer" class='btn_main'>b2b_home_white</a></li>
      <li><a href="b2b_services_bank.html" target="_blank" rel="noopener noreferrer" class='btn_main'>b2b_services_bank</a></li>
      <li><a href="b2b_services_bank_risks_digital_score.html" target="_blank" rel="noopener noreferrer" class='btn_main'>b2b_services_bank_risks_digital_score</a></li>
      <li><a href="b2b_services_bank_risks_ko.html" target="_blank" rel="noopener noreferrer" class='btn_main'>b2b_services_bank_risks_ko</a></li>
      <li><a href="b2b_services_bank_risks_ssp_szp.html" target="_blank" rel="noopener noreferrer" class='btn_main'>b2b_services_bank_risks_ssp_szp</a></li>
      <li><a href="b2b_services_bank_risks_signals.html" target="_blank" rel="noopener noreferrer" class='btn_main'>b2b_services_bank_risks_signals</a></li>
      <li><a href="b2b_services_bank_risks_fssp.html" target="_blank" rel="noopener noreferrer" class='btn_main'>b2b_services_bank_risks_fssp</a></li>
      <li><a href="b2b_services_bank_scores.html" target="_blank" rel="noopener noreferrer" class='btn_main'>b2b_services_bank_scores</a></li>
      <li><a href="b2b_services_bank_loan_pv_score.html" target="_blank" rel="noopener noreferrer" class='btn_main'>b2b_services_bank_loan_pv_score</a></li>
      <li><a href="b2b_services_bank_loan_signals.html" target="_blank" rel="noopener noreferrer" class='btn_main'>b2b_services_bank_loan_signals</a></li>
      <li><a href="b2b_services_bank_ collection_pd_score.html" target="_blank" rel="noopener noreferrer" class='btn_main'>b2b_services_bank_ collection_pd_score</a></li>
      <li><a href="b2b_services_bank_ collection_bankrupt_score.html" target="_blank" rel="noopener noreferrer" class='btn_main'>b2b_services_bank_ collection_bankrupt_score</a></li>
      <li><a href="b2b_services_bank_loan_signals2.html" target="_blank" rel="noopener noreferrer" class='btn_main'>b2b_services_bank_loan_signals2</a></li>
      <li><a href="b2b_services_bank_marketing_signals.html" target="_blank" rel="noopener noreferrer" class='btn_main'>b2b_services_bank_marketing_signals</a></li>
      <li><a href="b2b_services_bank_marketing_segmentation.html" target="_blank" rel="noopener noreferrer" class='btn_main'>b2b_services_bank_marketing_segmentation</a></li>
      <li><a href="b2b_services_bank_marketing_diversification.html" target="_blank" rel="noopener noreferrer" class='btn_main'>b2b_services_bank_marketing_diversification</a></li>
      <li><a href="b2b_services_insurance.html" target="_blank" rel="noopener noreferrer" class='btn_main'>b2b_services_ insurance</a></li>
    
     
      
     </ul>
    </div><!-- /.container -->
</main>

