/* desktop small */
@include xlarge-screen {
}
/* laptop */
@include large-screen {
}

/* tablet */
@include medium-screen {
  .header__logoimg {
    max-width: 121px;
    min-width: 121px;
  }
  .header__burger,
  .header__closeburger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 0 0 rgba(38, 39, 90, 0.1);
    background: #fff;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0V1.125H15V0ZM0 4.5H15V5.625H0V4.5ZM0 9H15V10.125H0V9Z' fill='%23445371'/%3e%3c/svg%3e");
  }
  .header__closeburger {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.20483 9.00033L3.74902 13.4562L4.54452 14.2517L9.00032 9.79583L13.4561 14.2517L14.2516 13.4562L9.79582 9.00033L14.2516 4.54452L13.4561 3.74902L9.00032 8.20484L4.54453 3.74902L3.74904 4.54452L8.20483 9.00033Z' fill='%23445371'/%3e%3c/svg%3e ");
  }
  .mainmenu {
    overflow: auto;
    position: fixed;
    z-index: 9999;
    top: 0;
    padding: 0;
    background: #fff;
    height: 100dvh;
    min-height: 100dvh;
    min-height: -webkit-fill-available;
  }
  .mainmenu__main {
    display: block;
    box-shadow: 0 1px 0 0 rgba(38, 39, 90, 0.1);
    background: #f6f6f8;
    border: 1px solid rgba(68, 83, 113, 0.05);
    border-radius: 24px;
    padding: 16px 16px 40px;
  }
  .mainmenu__submenu {
    display: block;
  }
  .mainmenu__header {
    display: flex;
    padding: 16px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: space-between;
  }
  .mainmenu__wrapper {
    padding: 40px 0;
  }
  .mainmenu__nav.onlyMobile {
    display: block;
  }
  .mainmenu__wrapper {
    .container {
      padding: 0;
    }
  }
  .mainmenu__staticmenu {
    ul {
      @include clear;

      li {
        margin-bottom: 20px;

        a {
          font-weight: 400;
          font-size: 17px;
          line-height: 141%;
          letter-spacing: -0.03em;
          color: #445371;
        }
      }
    }
  }
  .btn_arrow_white {
    box-shadow:
      0 0 16px 0 rgba(0, 85, 255, 0.05),
      0 4px 8px 0 rgba(0, 85, 255, 0.1);
    background: #f9fafb;
    display: block;
    width: 100%;
    padding: 14px 0;
  }
  .btn_icon.btn_full {
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: center;
    &.btn_arrow {
      span {
        display: block;
        padding-right: 26px;
        background-image: url(../img/arrow_outward.svg);
        background-position: right center;
        background-repeat: no-repeat;
      }
    }
  }
  .mainmenu__nav {
    margin: 20px 0;
    font-weight: 500;
    font-size: 17px;
    line-height: 141%;
    letter-spacing: -0.03em;
    color: #0e1117;
    position: relative;
    margin-bottom: 4px;
    padding-right: 30px;

    &:first-child {
      margin-top: 3px;
    }
    &:after {
      width: 24px;
      height: 24px;
      display: block;
      line-height: 1;
      transition: all 0.3s ease;
      position: absolute;
      right: 0;
      top: 0;
      transform: rotate(180deg);
      content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cmask id='mask0_35700_5898' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3e%3crect width='24' height='24' transform='matrix(1 0 0 -1 0 24)' fill='%23D9D9D9'/%3e%3c/mask%3e%3cg mask='url(%23mask0_35700_5898)'%3e%3cpath d='M11.9999 8.94631L6.34619 14.6001L7.39994 15.6538L11.9999 11.0538L16.5999 15.6538L17.6537 14.6001L11.9999 8.94631Z' fill='%23445371'/%3e%3c/g%3e%3c/svg%3e ");
    }
    &.active {
      color: #0e1117;
    }
    &.expanded:after {
      transform: rotate(0);
    }
  }
  .mainmenu__subitem {
    padding: 3px 8px;
  }
  .mainmenu__subtitle {
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 17px;
    line-height: 141%;
    letter-spacing: -0.03em;
    color: #0e1117;
  }
  .mainmenu__sublinks li {
    margin-bottom: 7px;
  }
  .mainmenu__sublinks li a {
    font-weight: 400;
    font-size: 17px;
    line-height: 141%;
    letter-spacing: -0.03em;
    color: #445371;
  }
  .mainmenu__subcol {
    max-width: 100%;
    min-width: 100%;
  }
  .mainmenu__subcontent.active {
    display: none !important;
  }
  .mainmenu__subcontent.expanded {
    display: block !important;
  }
  .mainmenu__staticarea {
    margin: 23px 0;
    display: block;
  }

  .aboutblock_type2 .aboutblock__title {
    width: 100%;
    min-width: unset;
  }
  .aboutblock__stats {
    grid-template-columns: repeat(2, auto);
  }
  .aboutblock__content {
    display: block;
  }
  .aboutblock__cols {
    flex-wrap: wrap;
  }
  .aboutblock_type2 .aboutblock__text {
    max-width: 100%;
  }
  .mobileslider__container {
    height: 541px;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 1px 0 0 rgba(38, 39, 90, 0.1);
    background: #eceef6;
  }
  .mobileslider__slider .slick-list,
  .mobileslider__slider .slick-track,
  .mobileslider__slider .slick-slide > div,
  .mobileslider__slider,
  .mobileslider__slide,
  .mobileslidercard,
  .maincard__wrapper {
    height: 100%;
  }

  .stats__numb {
    font-size: 54px;
  }
  .aboutblock__item {
    padding: 0;
  }

  .slider-controls .slick-dots {
    position: static;
    background: none;
    padding: 0;
    margin: 0;
    line-height: unset;
    display: flex;
  }
  .slider-controls .slick-dots li button:before {
    height: 4px;
    line-height: 4px;
    width: 100%;
    display: none;
  }
  .slick-dots li {
    width: calc(100% / 5);
    height: 4px;
    line-height: 4px;
    padding: 0;
    margin: 0;
  }
  .slider-controls .slick-dots li button {
    padding: 0;
    height: 4px;
    line-height: 4px;
    width: 100%;
    border-radius: 999px;
    background: rgba(0, 85, 255, 0.05);
  }
  .slider-controls .slick-dots li.slick-active button {
    background: #80aaff;
  }
  .aboutblock__title h1 {
    font-weight: 500;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.03em;
    text-align: center;
    color: #0e1117;
    margin-bottom: 24px;
  }
  .aboutblock__cols .aboutblock__text p {
    font-size: 15px;
    line-height: 160%;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .aboutblock__cols {
    gap: 0;
  }
  .aboutblock__item {
    backdrop-filter: none;
    background: none;
    border: none;
    box-shadow: none;
  }
  .stats__text {
    font-size: 15px;
    line-height: 120%;
  }

  .aboutblock__stats {
    gap: 16px 21px;
  }
  .stats__top {
    white-space: nowrap;
  }
  .stats__text br {
    display: none;
  }

  .solutioncard__title br {
    display: none;
  }
  h2 {
    font-size: 25px;
    line-height: 120%;
    letter-spacing: -0.03em;
    margin-bottom: 20px;
  }
  .subtitle,
  .subtitle p {
    font-size: 15px;
    line-height: 160%;
  }
  .mob-center .subtitle,
  .mob-center .subtitle p {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .categories__item a {
    padding: 7px 16px;
  }
  .contactsform {
    border-radius: 24px;
    padding: 30px 16px 16px;
  }
  .formcols__items_two {
    gap: 8px;
  }
  .buttoncaption {
    flex-wrap: wrap;
    padding: 6px;
  }
  .buttoncaption__button {
    order: -1;
    min-width: 100%;

    .btn {
      width: 100%;
      margin-bottom: 6px;
    }
  }
  .buttoncaption__info {
    max-width: 253px;
    margin: 0 auto 0 auto;
  }
  .footer__card {
    order: -1;
  }
  .footer__menuline {
    gap: 40px;
  }
  .footer__menutitle,
  .footer__menulist {
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
  }
  .footerbottom__links {
  }
  .footerbottom__links ul {
    gap: 20px;
  }
  .footercard__icons span {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #445371;
    padding-right: 8px;
  }
  .card br {
    display: none;
  }
  /*  .offers__items {
    grid-template-columns: repeat(1, 1fr);
  } */

  h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.03em;
  }

  main {
    padding-top: 68px;
  }
  .header#header {
    height: 68px;
  }
  .offers__item {
    height: unset;
  }
  .offercard__top.mob-mb-40 {
    .text {
      margin-bottom: 0;
    }
  }
  .offers__items_half_mobile {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .offers__items_half_mobile {
    .offers__item {
      width: calc(50% - 4px);
    }
    .offers__item:last-child:not(:nth-child(2n)) {
      width: 100%;
    }
  }
  .offers__items_sm_mobile {
    .offercard__image {
      display: none;
    }
    .offercard__text {
      display: none;
    }
    .offercard__footer {
      display: none;
    }
    .offercard__title {
      font-weight: 500;
      font-size: 15px;
      line-height: 120%;
      letter-spacing: -0.03em;
    }
  }
  .offers__items_sm_mobile {
    .offercard {
      padding: 40px 16px 16px 16px;
    }
    .offercard__content {
      height: 100%;
      justify-content: flex-end;
      margin-top: 0;
    }
  }

  .frameblock {
    /*  height: unset !important; */
  }

  .breadcrumbs {
    overflow-x: auto;
    width: 100%;
    display: block;
    scrollbar-width: none; /* Hides scrollbar in Firefox */
    -ms-overflow-style: none; /* Hides scrollbar in IE and legacy Edge */

    &::-webkit-scrollbar {
      display: none;
    }
  }
  .breadcrumbs ul {
    display: flex;
    white-space: nowrap;
  }
  .breadcrumbs ul li a > span,
  .breadcrumbs ul li > span {
    font-size: 10px;
  }
  br {
    display: none;
  }

  .aboutblock__stats_type2 {
    flex-wrap: wrap;
    gap: 10px !important;
    .stats__numb {
      font-weight: 500;
      font-size: 54px;
      line-height: 120%;
    }
    .stats__top {
      sup {
        font-size: 54px;
      }
    }
    .stats__text {
      line-height: 140%;
    }

    .aboutblock__item {
      width: calc(50% - 5px);
    }
    .aboutblock__item:last-child:not(:nth-child(2n)) {
      width: 100%;
    }
  }
  .pageheader .mainblock {
    order: -1;
  }

  .cardsinfo {
    .text {
      p {
        line-height: 140%;
      }
    }
  }

  .offers_flip .offers__item {
    height: unset;
  }
  .offercard__image img {
    display: block;
    line-height: 1;
  }
  [data-flipwrapper] {
    display: flex;
  }
  .flipcard {
    height: 100%;
    .offercard__header {
      margin-bottom: 20px;
    }
    .btn_img {
      height: 28px;
      max-width: 28px;
      min-width: 28px;
    }
    .title {
      br {
        display: none;
      }
    }
    .title + .text {
      margin-bottom: 0;
      line-height: 140%;

      p {
        line-height: 140%;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .flipcard__back {
    .offercard__content {
      height: 100%;
    }
  }
  .offers__items {
    gap: 8px;
  }

  .card.offercard_lg {
    padding: 24px 16px;
    height: unset;
    .content_h {
      height: unset;
    }
    .title {
      font-size: 20px;
      line-height: 120%;
      letter-spacing: -0.03em;
      margin-bottom: 20px;
    }
    .maincard__tags {
      margin-bottom: 20px;
    }
  }
  .offercard__list {
    margin-bottom: 32px;
  }
  .list_blueround {
    @include clear;

    li {
      margin-bottom: 2px;
      font-weight: 400;
      font-size: 15px;
      line-height: 140%;
      letter-spacing: -0.03em;

      gap: 8px;

      &:before {
        content: "";
        margin-top: 6px;
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #80aaff;
      }
    }
  }

 

  /* .maincard__container {
  max-width: 480px !important;
  margin-left: auto;
  margin-right: auto;
  .maincard__footer {
      max-width: 480px !important;
  }
} */
  /*   .offercard__content  {
    max-width: 280px;
    min-width: 280px;
  }
  .offercard.content-between {
    justify-content: center;
    gap: 16px;
  }
      */
}
/* mobile */
@include extrasmall-screen {
  .offers__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
