:root {
  --font-family: "Formular";
}
/* html {
  scroll-behavior: smooth;
} */
body {
  min-width: 402px;
  font-family: var(--font-family), "sans-serif";
  font-style: normal;
  font-weight: normal;
  @include clear;
  scroll-behavior: smooth;
  color: $main;
  overflow-x: hidden;
  width: 100%;
}
* {
  font-style: normal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important;
  line-height: 100%;
}
/* main {
		overflow: hidden;
}
*/
a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: $main;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
  width: initial;
  height: initial;
}
[data-toggle] {
  display: none;
}
[data-toggle].active {
  display: block;
}
[data-tabscontent] {
  display: none;
}
[data-tabscontent].active {
  display: block;
}
@media (min-width: 855px) {
  .onlyMobile {
    display: none !important;
  }
}
@include medium-screen {
  .onlyMobile {
    display: initial;
  }
  .onlyDesktop {
    display: none !important;
  }
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}
.header#header {
  position: relative;
  z-index: 90;
  height: 84px;
  display: flex;
  align-items: center;
  background: #f6f6f8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
main {
  padding-top: 84px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.header__logo a {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__logoimg {
}
.header__logotext {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  padding-left: 16px;
  border-left: 2px solid #000;
  height: 31px;
  white-space: nowrap;
}
.header__menu {
}
.menuline {
}
.menuline__items {
  display: flex;
  gap: 2px;
}
.menuline__item {
  padding: 4px 16px;
  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.03em;
    color: $main;
    display: block;

    &:hover  {
      color: $blue;
    }
  }
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 2px;
}
.headerlogin  {
  display: flex;
  align-items: center;
  gap: 0;
    height: 36px
}
.headerlogin__button {
  border-radius: 9999px;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.03em;
  color: #445371;
  height: 36px;
  background: #fff;
  padding: 0 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0 0 rgba(38, 39, 90, 0.1);
}
.headerlogin__icon {
  background: #fff;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  margin-left: -3px;
box-shadow: 0 1px 0 0 rgba(38, 39, 90, 0.1);
}

.mainmenu {
  position: absolute;
  width: 100%;
  top: 105px;
  left: 0;
  right: 0;
  z-index: 99;
}
.jsbackdrop {
  background: rgba(10, 19, 61, 0.2);
  position: fixed;
    width: 100%;
    height: 100%;
    z-index: 50;
    display: none;
}
.jsbackdrop.active {
  display: block;
}
.mainmenu {
}
.mainmenu__wrapper {
  background: #fff;
  border-radius: 24px;
padding: 24px ;

/* .container {
  position: relative;

  &:before {
    content: url(../img/Union.svg);
    position: absolute;
    top: -37px;
    left: 351px;
  }
} */
}
.mainmenu__union {
  position: absolute;
  top: -13px;
      transform: translateX(-15px);
}
.mainmenu__main {
  display: flex;
  gap: 24px;
  padding: 16px 16px 0 0;
}
.mainmenu__navouter {
  padding-bottom: 88px;
  position: relative;
}
.mainmenu__navbar {
max-width: 317px;
width: 100%;
min-width: 317px;
border-right: 1px solid rgba(68, 83, 113, 0.15);
}
.mainmenu__nav {
  margin-bottom: 14px;
  cursor: pointer;
  font-weight: 500;
font-size: 14px;
line-height: 143%;
letter-spacing: -0.03em;
color: #0e1117;

&:last-child {
  margin-bottom: 0;
}

&.active {
  color: #37f;
}
}

.mainmenu__content {
}
.mainmenu__footer {
}

.mainmenu__submenu {
  display: flex;
  gap: 24px;
}
.mainmenu__subcol {
  max-width: 258px;

  min-width: 258px;
}
.mainmenu__subitem {
  padding: 16px 16px 8px;

}
.mainmenu__subtitle {
  font-weight: 500;
font-size: 14px;
line-height: 143%;
letter-spacing: -0.03em;
color: #0e1117;
margin-bottom: 8px;
}
.mainmenu__sublinks {
  ul {
    @include clear;
  }
  li {
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      font-weight: 400;
font-size: 14px;
line-height: 114%;
letter-spacing: -0.03em;
color: #445371;
    }
  }
}
 
.btn_arrow {
  font-weight: 400;
font-size: 14px;
line-height: 143%;
letter-spacing: -0.03em;
color: #445371;
  padding: 8px 35px 8px 15px;
  background-image: url(../img/arrow_outward.svg);
  background-position: right 8px center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 0 0 rgba(38, 39, 90, 0.1);
background-color: #f6f6f8;
border-radius: 9999px;
}

.mainmenu__subcontent {
  position: relative;
  height: 100%;
  
}
.mainmenu__subfooter {
  position: absolute;
  bottom: 0;
  left: 0;
}