:root {
  --font-family: "Formular";
}
/* html {
  scroll-behavior: smooth;
} */
body {
  min-width: 375px;
  font-family: var(--font-family), "sans-serif";
  font-style: normal;
  font-weight: normal;
  @include clear;
  scroll-behavior: smooth;
  color: $main;
  overflow-x: hidden;
  width: 100%;
  background: #f6f6f8;
}
body.overflow {
  overflow: hidden;
}
* {
  font-style: normal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important;
  line-height: 100%;
}
/* main {
		overflow: hidden;
}
*/
a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: $main;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
a:not([class]):hover {
  color: $blue !important;
}
img {
  max-width: 100%;
  max-height: 100%;
  width: initial;
  height: initial;
}
[data-toggle] {
  display: none;
}
[data-toggle].active {
  display: block;
}
[data-tabscontent] {
  display: none;
}
[data-tabscontent].active {
  display: block;
}
/* [data-accordioncontent] {
  display: none;
}
[data-accordioncontent].expanded {
  display: block;
} */

.mainmenu__subcontent.active[hidden] {
  display: block;
}

@media (min-width: 1000px) {
  .onlyMobile {
    display: none !important;
  }
}
@include medium-screen {
  .onlyMobile {
    display: initial;
  }
  .onlyDesktop {
    display: none !important;
  }
}

.container {
  width: 100%;
  max-width: 1172px;
  margin: 0 auto;
  padding: 0 16px;
}
.header#header {
  position: relative;
  z-index: 90;
  height: 84px;
  display: flex;
  align-items: center;
  background: #f6f6f8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
main {
  padding-top: 84px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.header__logo a {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__logoimg {
}
.header__logotext {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  padding-left: 16px;
  border-left: 2px solid #000;
  height: 31px;
  white-space: nowrap;
}
.header__menu {
}
.menuline {
}
.menuline__items {
  display: flex;
  gap: 2px;
}
.menuline__item {
  padding: 4px 16px;
  a {
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: -0.03em;
    color: $main;
    display: block;

    &:hover {
      color: $blue;
    }
  }
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 2px;
}
.headerlogin {
  display: flex;
  align-items: center;
  gap: 0;
  height: 36px;
}
.headerlogin__button {
  border-radius: 9999px;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.03em;
  color: #445371;
  height: 36px;
  background: #fff;
  padding: 0 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0 0 rgba(38, 39, 90, 0.1);
}
.headerlogin__icon {
  background: #fff;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  margin-left: -3px;
  box-shadow: 0 1px 0 0 rgba(38, 39, 90, 0.1);
}

.mainmenu {
  position: absolute;
  width: 100%;
  top: 105px;
  left: 0;
  right: 0;
  z-index: 99;
}
.jsbackdrop {
  background: rgba(10, 19, 61, 0.2);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 50;
  display: none;
}
.jsbackdrop.active {
  display: block;
}
.mainmenu {
}
.mainmenu__wrapper {
  background: #fff;
  border-radius: 24px;
  padding: 24px;

  /* .container {
  position: relative;

  &:before {
    content: url(../img/Union.svg);
    position: absolute;
    top: -37px;
    left: 351px;
  }
} */
}
.mainmenu__union {
  position: absolute;
  top: -13px;
  transform: translateX(-15px);
}
.mainmenu__main {
  display: flex;
  gap: 24px;
  padding: 16px 16px 0 0;
}
.mainmenu__navouter {
  padding-bottom: 88px;
  position: relative;
}
.mainmenu__navbar {
  max-width: 317px;
  width: 100%;
  min-width: 317px;
  border-right: 1px solid rgba(68, 83, 113, 0.15);
}
.mainmenu__nav {
  margin-bottom: 14px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.03em;
  color: #0e1117;

  &:last-child {
    margin-bottom: 0;
  }

  &.active {
    color: #37f;
  }
}

.mainmenu__content {
}
.mainmenu__footer {
}

.mainmenu__submenu {
  display: flex;
  gap: 24px;
}
.mainmenu__subcol {
  max-width: 258px;

  min-width: 258px;
}
.mainmenu__subitem {
  padding: 16px 16px 8px;
}
.mainmenu__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.03em;
  color: #0e1117;
  margin-bottom: 8px;
}
.mainmenu__sublinks {
  ul {
    @include clear;
  }
  li {
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 114%;
      letter-spacing: -0.03em;
      color: #445371;
    }
  }
}

.btn_arrow {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.03em;
  color: #445371;
  padding: 8px 35px 8px 15px;
  background-image: url(../img/arrow_outward.svg);
  background-position: right 8px center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 0 0 rgba(38, 39, 90, 0.1);
  background-color: #f6f6f8;
  border-radius: 9999px;
}

.mainmenu__subcontent {
  position: relative;
  height: 100%;
}
.mainmenu__subfooter {
  position: absolute;
  bottom: 0;
  left: 0;
}

.btn_border {
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  background: rgba(255, 255, 255, 0);
  border: 2px solid #80aaff;
  border-radius: 9999px;
  padding: 8px 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #05f;

  &:hover {
    background: #05f;
    color: #fff;
  }
}
.btn_lk {
  span {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.3332 16.25H7.49984V17.5H13.3332C14.7139 17.5 15.8332 16.3807 15.8332 15L15.8332 5C15.8332 3.61929 14.7139 2.5 13.3332 2.5L7.49984 2.5V3.75L13.3332 3.75C14.0235 3.75 14.5832 4.30965 14.5832 5L14.5832 15C14.5832 15.6904 14.0235 16.25 13.3332 16.25ZM8.42694 12.653L9.30948 13.5356L10.1934 12.6517L12.2558 10.5893C12.5812 10.2639 12.5812 9.73623 12.2558 9.41079L10.1934 7.3484L9.30948 6.46452L8.42694 7.34706L10.4549 9.37505L4.1665 9.37505V10.6251L10.4549 10.6251L8.42694 12.653Z' fill='%230055FF'/%3e%3c/svg%3e ");
  }
}

.mainblock {
}

.mainblock__cols {
  display: grid;
  gap: 9px;
  grid-template-columns: 681px 1fr;
}

.mainblock__row {
  width: 100%;

  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
}
.mainblock__item {
  width: 100%;
  margin-bottom: 8px;
}
button.btn_main {
  border: none;
}
.btn_main {
  border-radius: 9999px;
  text-align: center;
  height: 48px;
  min-width: 48px;
  line-height: 48px;
  padding: 0 30px;
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  background: #05f;
  color: #fff;
  display: inline-block;
  &:hover {
    background: rgba(0, 85, 255, 0.8);
    /*  color: #05f;
    background: rgba(0, 85, 255, 0.1); */
  }
}
.btn_main_light {
  color: #05f;
  background: rgba(0, 85, 255, 0.1);
  &:hover {
    /*  background: rgba(0, 85, 255, 0.2); */
    color: #fff;
    background: #0048d9;
  }
}

.stats__top {
  margin-bottom: 4px;
  sup {
    line-height: normal;
    vertical-align: top;
    display: inline;
    font-size: 44px;
  }
}
.stats__numb {
  font-weight: 500;
  font-size: 74px;
  line-height: 120%;
  color: #0e1117;
}

.stats__caption {
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  color: #0e1117;
}

.stats__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #445371;
}

sup {
  vertical-align: top;
  line-height: normal;
}

.aboutblock__stats {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 21px;
}

.aboutblock__content {
  display: flex;
  justify-content: space-between;
}

.aboutblock__content {
  display: flex;
}

.aboutblock__cols {
  gap: 16px;
  display: flex;
}

.aboutblock__cols .aboutblock__text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #445371;
  margin-top: 0;
  &:last-child {
    margin-bottom: 0;
  }
}

.aboutblock .aboutblock__texts {
  width: 100%;
}

.aboutblock {
  background: none;
}

.aboutblock .reestrcb__text {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #7b7794;
}

.aboutblock .reestrcb__icon {
  width: initial;
}
.pt-0 {
  padding-top: 0;
}

.aboutblock_type2 .aboutblock__title {
  width: 438px;
  min-width: 438px;

  margin-right: 16px;
}

.aboutblock_type2 .aboutblock__text {
  max-width: 335px;
}
.aboutblock_type2 .stats__text {
  line-height: 150%;
}
.aboutblock__item {
  backdrop-filter: blur(4px);
  box-shadow: 0 1px 0 0 rgba(38, 39, 90, 0.1);
  background: #fff;
  border: 1px solid rgba(68, 83, 113, 0.05);
  border-radius: 24px;
  padding: 24px 32px;
}

.aboutblock__title h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #0e1117;
  margin-top: 0;
}

.sectionbanner {
}

h2 {
  margin-top: 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #0e1117;
  margin-bottom: 32px;
}
.sectiontabs {
}

.tabsblock {
}
.tabsblock__header {
}
.tabsblock__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul {
    display: flex;
    align-items: center;
    gap: 30px;
    @include clear;
    li {
      cursor: pointer;
      font-weight: 500;
      font-size: 18px;
      line-height: 120%;
      letter-spacing: -0.03em;
      color: #445371;
      padding-bottom: 12px;
      border-bottom: 2px solid transparent;

      &.active {
        border-color: #37f;
        color: #37f;
      }
    }
  }
}
.tabsblock__content {
}
.tabsblock__items {
}
.tabsblock__item {
}
.solutions {
}
.solutions__wrapper {
}
.solutions__slider {
  margin-left: calc((100% - 1140px) / 2);
  margin-right: calc((100% - 1140px) / 2);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.solutioncard__icon {
  transition: 0.3s ease;
  width: 36px;
  height: 36px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='0.5' y='0.5' width='35' height='35' rx='17.5' stroke='%23445371' stroke-opacity='0.15'/%3e%3cmask id='mask0_37534_10316' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='6' y='6' width='24' height='24'%3e%3crect x='6' y='6' width='24' height='24' fill='%23D9D9D9'/%3e%3c/mask%3e%3cg mask='url(%23mask0_37534_10316)'%3e%3cpath d='M12.4 24L11 22.6L20.6 13H12V11H24V23H22V14.4L12.4 24Z' fill='%23858FA3'/%3e%3c/g%3e%3c/svg%3e ");
}
.solutioncard {
  border-radius: 24px;
  padding: 24px 32px;
  width: 268px;
  height: 152px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;

  &:hover {
    cursor: pointer;
    box-shadow: 0 20px 40px 0 #d5deeb;

    .solutioncard__icon {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='0.5' y='0.5' width='35' height='35' rx='17.5' stroke='%2380AAFF'/%3e%3cmask id='mask0_37534_10358' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='6' y='6' width='24' height='24'%3e%3crect x='6' y='6' width='24' height='24' fill='%2305f'/%3e%3c/mask%3e%3cg mask='url(%23mask0_37534_10358)'%3e%3cpath d='M12.4 24L11 22.6L20.6 13H12V11H24V23H22V14.4L12.4 24Z' fill='%230055FF'/%3e%3c/g%3e%3c/svg%3e ");
    }
  }
}
.solutioncard__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #0e1117;
}

/* the slides */
[data-slider="solutions"] .slick-slide {
  margin: 0 4px;
}

/* the parent */
[data-slider="solutions"] .slick-list {
  margin: 0 -4px;

  overflow: visible !important;
  padding-top: 32px !important;
  padding-bottom: 50px !important;
}

.solutions__wrapper {
  width: calc(100% + 100px);
  margin-left: -50px;
  overflow: hidden;
}
.tabslock__arrows {
  display: flex;
  align-items: center;
  gap: 24px;
}
.slick-arrow {
  position: static;
  width: 31px;
  height: 28px;
  &:hover,
  &:focus {
  }
  &:before {
    display: none;
  }
}
.slick-prev {
  &:after {
    content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='31' height='28' viewBox='0 0 31 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.43934 12.9393C-0.146447 13.5251 -0.146447 14.4749 0.43934 15.0607L9.98528 24.6066C10.5711 25.1924 11.5208 25.1924 12.1066 24.6066C12.6924 24.0208 12.6924 23.0711 12.1066 22.4853L3.62132 14L12.1066 5.51472C12.6924 4.92893 12.6924 3.97919 12.1066 3.3934C11.5208 2.80761 10.5711 2.80761 9.98528 3.3934L0.43934 12.9393ZM29.5 15.5C30.3284 15.5 31 14.8284 31 14C31 13.1716 30.3284 12.5 29.5 12.5V14V15.5ZM1.5 14V15.5H29.5V14V12.5H1.5V14Z' fill='%23445371'/%3e%3c/svg%3e ");
  }
}
.slick-next {
  &:after {
    content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='31' height='28' viewBox='0 0 31 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.5 12.5C0.671573 12.5 0 13.1716 0 14C0 14.8284 0.671573 15.5 1.5 15.5V14V12.5ZM30.5607 15.0607C31.1464 14.4749 31.1464 13.5251 30.5607 12.9393L21.0147 3.3934C20.4289 2.80761 19.4792 2.80761 18.8934 3.3934C18.3076 3.97919 18.3076 4.92893 18.8934 5.51472L27.3787 14L18.8934 22.4853C18.3076 23.0711 18.3076 24.0208 18.8934 24.6066C19.4792 25.1924 20.4289 25.1924 21.0147 24.6066L30.5607 15.0607ZM1.5 14V15.5H29.5V14V12.5H1.5V14Z' fill='%23445371'/%3e%3c/svg%3e ");
  }
}
/* 
[data-sliderarrows="solutions"] {
  display: none;
}

.solution-slider-0-active ~ [data-sliderarrows="solutions"] {
  display: flex; 
}
 */

[data-tabs] .slick-arrow[data-arrows] {
  display: none;
}
.solutionsgrid {
  display: block;
}
.solutionsgrid__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.solutionsgrid__item {
}
.solutionsgrid__card {
}
.solutionsgrid__image {
  margin-bottom: 9px;
  border-radius: 24px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eceef1;
}
.solutionsgrid__title {
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-align: center;
  color: #0e1117;
}

.subtitle {
  margin-bottom: 32px;
  p {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #445371;
  }
}

.categories__items {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.categories__item a {
  white-space: nowrap;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #445371;
  display: block;

  border: 1px solid rgba(68, 83, 113, 0.05);
  border-radius: 24px;
  box-shadow: 0 1px 0 0 rgba(38, 39, 90, 0.1);
  background: rgba(68, 83, 113, 0.03);
  padding: 8px 16px;
}

.categories__item a:hover {
  background: rgba(0, 85, 255, 0.05);
}

.custom-select {
  position: relative;
}

.custom-select select {
  display: none;
}

.select-selected:after {
  position: absolute;
  content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cmask id='mask0_37565_170' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3e%3crect width='24' height='24' fill='%23D9D9D9'/%3e%3c/mask%3e%3cg mask='url(%23mask0_37565_170)'%3e%3c/g%3e%3cmask id='mask1_37565_170' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3e%3crect width='24' height='24' fill='%23D9D9D9'/%3e%3c/mask%3e%3cg mask='url(%23mask1_37565_170)'%3e%3cpath d='M12.0021 15.8499C11.8853 15.8499 11.7685 15.8291 11.6517 15.7875C11.5349 15.7459 11.4269 15.6667 11.3277 15.5499L6.90209 11.1507C6.75169 10.9835 6.68089 10.7875 6.68969 10.5627C6.69769 10.3379 6.77689 10.1503 6.92729 9.99987C7.11049 9.83347 7.30209 9.75427 7.50209 9.76227C7.70209 9.77107 7.88529 9.85027 8.05169 9.99987L12.0021 13.9755L15.9765 10.0251C16.1269 9.85867 16.3021 9.77547 16.5021 9.77547C16.7021 9.77547 16.8937 9.85867 17.0769 10.0251C17.2441 10.1915 17.3277 10.3831 17.3277 10.5999C17.3277 10.8167 17.2441 11.0003 17.0769 11.1507L12.6765 15.5499C12.5773 15.6667 12.4693 15.7459 12.3525 15.7875C12.2357 15.8291 12.1189 15.8499 12.0021 15.8499Z' fill='%23445371'/%3e%3c/g%3e%3c/svg%3e ");
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  transition: all 0.3s ease;
}

.select-selected.select-arrow-active:after {
  transform: translateY(-50%) rotate(180deg);
  top: 50%;
}

.select-selected {
  color: #aeb5d1;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 0;
  padding: 12px 10px 12px 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #858fa3;
  border: 1px solid rgba(68, 83, 113, 0.25);
  border-radius: 16px;
}

.select-selected.active {
  color: #000;
}
.select-wrapper {
  padding-top: 5px;
}
.select-items {
  position: absolute;
  top: calc(100% - 12px);
  left: 0;
  right: 0;
  z-index: 99;
  background: #f9fafb;
  border-radius: 0;
  border: 1px solid rgba(68, 83, 113, 0.25);
  overflow: hidden;
  border-top: none;
}

.select-items div div {
  color: #000;
  padding: 4px 16px;
  cursor: pointer;
  border-bottom: 1px solid rgba(68, 83, 113, 0.25);
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.select-items div div:last-child {
  border-bottom: none;
}

.select-hide {
  display: none;
}

.select-items div div:hover {
  background: rgba(68, 83, 113, 0.03);
}
.formsection__content {
  h2 {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 120%;
  }
  h2,
  .subtitle,
  .subtitle p {
    text-align: center;
  }
}

.contactsform {
  max-width: 600px;
  margin: 32px auto;
  border-radius: 24px;
  padding: 50px 50px 32px;
  box-shadow:
    0 0 16px 0 rgba(0, 85, 255, 0.05),
    0 4px 8px 0 rgba(0, 85, 255, 0.1);
  background: #f9fafb;
}
.formcols__input {
  position: relative;
  margin-bottom: 24px;

  input,
  textarea {
    background: #f9fafb;
    color: #000;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 0;
    padding: 15px 10px 15px 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid rgba(68, 83, 113, 0.25);
    border-radius: 16px;
    width: 100%;
    display: block;
    resize: none;

    &::-webkit-input-placeholder {
      color: #aeb5d1;
    }

    &::-moz-placeholder {
      color: #aeb5d1;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: #aeb5d1;
    }
  }

  .placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 143%;
    color: #445371;
    position: absolute;
    left: 11px;
    display: block;
    white-space: nowrap;
    transition: all, 0.2s;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 5px;
    top: -10px;
    background: #f9fafb;
    opacity: 1;
    transform: translateY(0);
    z-index: 3;
  }
}

.formcols__items_two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}
input.error_input,
.custom-select select.error_input + .select-selected {
  border: 1px solid red !important;
  box-shadow: 0 0 2px 0 red;
}

.buttoncaption {
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  background: rgba(0, 85, 255, 0.05);
  border-radius: 24px;
  padding: 6px 6px 6px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn_submit {
  border: none;
  padding: 12px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease;
}
.formcheckinfo {
  margin-top: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: #858fa3;
  a {
    color: $blue;
  }
}

.buttoncaption__info {
  max-width: 295px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: #69758e;
  min-height: 50px;
  padding-left: 42px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M25.6389 19.8611C25.6389 20.4985 25.6389 21.071 25.6389 21.576C25.6389 23.2773 24.7738 24.8617 23.3427 25.7817L15.8982 30.5674C14.2512 31.6262 12.1377 31.6262 10.4907 30.5674L3.04621 25.7817C1.6151 24.8617 0.75 23.2771 0.75 21.5758V5.75C0.75 2.98858 2.98858 0.75 5.75 0.75H20.6389C23.4003 0.75 25.6389 2.98858 25.6389 5.75V11.1944' stroke='%2369758E' stroke-width='1.5' stroke-linecap='round'/%3e%3cpath d='M30.9722 10.5278L18.9722 22.0833L12.9722 16.0833' stroke='%2369758E' stroke-width='1.5' stroke-linecap='round'/%3e%3c/svg%3e ");
}

.footer__main {
  margin-bottom: 70px;
}
.footer__wrapper {
  display: flex;
  gap: 30px;
  width: 100%;
}
.footer__nav {
}
.footer__menuline {
  display: flex;
  gap: 30px;
}
.footer__nav {
  min-height: 229px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__menu {
  /*   min-height: 229px; */
  /*  display: flex;
  flex-direction: column;
  justify-content: space-between; */
}
.footer__menutitle {
  margin-bottom: 24px;
}
.footer__menutitle,
.footer__menutitle a {
  font-weight: 400;
  font-size: 12px;
  color: #858fa3;
  line-height: 130%;
}
.footer__menulist {
  ul {
    @include clear;
    li {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        font-weight: 400;
        font-size: 12px;
        color: #0e1117;
      }
    }
  }
}
.footer__card {
  max-width: 453px;
  min-width: 453px;
}
.footer__menutitle_bottom {
  margin-top: 24px;
  margin-bottom: 0;
  min-height: 27px;
}

.phone {
  .phonetext {
    font-weight: 400;
    font-size: 10px;
    color: #445371;
    margin-bottom: 2px;
  }
  .phonevalue {
    a {
      font-weight: 400;
      font-size: 21px;
      color: #0e1117;
    }
  }
}

.footercard__contacts {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footercard {
  border: 1px solid rgba(68, 83, 113, 0.05);
  border-radius: 24px;
  padding: 40px;
  height: 100%;
  box-shadow: 0 1px 0 0 rgba(38, 39, 90, 0.1);
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn_xxl {
  display: block;
  padding: 12px;
  font-size: 16px;
  line-height: 150%;
}
.footer__bottom {
  margin: 20px 0;
}
.footerbottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerbottom__copy {
  font-weight: 400;
  font-size: 12px;
  color: #445371;
}
.footerbottom__links {
  max-width: 435px;
  min-width: 453px;
  ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @include clear;
    li {
      a {
        font-weight: 400;
        font-size: 12px;
        color: #445371;
      }
    }
  }
}

.footer__menu:nth-child(1) {
  max-width: 210px;
  min-width: 210px;
}
.footer__menu:nth-child(2) {
  max-width: 229px;
  min-width: 229px;
}
.footer__menu:nth-child(3) {
  max-width: 158px;
  min-width: 158px;
}
.breadcrumbs {
}

.breadcrumbs {
  overflow-x: auto;
}

.breadcrumbs ul {
  padding: 10px 0;
  list-style: none;
  margin: 0;
}

.breadcrumbs ul li {
  display: inline;
  font-size: 12px;
  padding-right: 3px;
  line-height: 1;
}

.breadcrumbs ul li a {
  line-height: 1;
}

.breadcrumbs ul li + li:before {
  padding: 0 9px 0 3px;
  content: url(../img/arrow.svg);
  vertical-align: baseline;
  color: #52627280;
}

.breadcrumbs ul li a > span {
  font-weight: 400;
  font-size: 12px;
  color: #858fa3;
  line-height: 1;
  padding: 4px 8px;
  border-radius: 24px;

  display: inline-block;
}

.breadcrumbs ul li > span {
  font-weight: 400;
  font-size: 12px;
  color: #858fa3;
  line-height: 1;
}

.breadcrumbs ul li a:hover span {
  background: #eceef1;
}

h1 {
  margin-top: 0;
}

.offers {
}
.offers__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin: 16px 0;

  &:last-child {
    margin-bottom: 0;
  }
}
.offers__items_sm {
  grid-template-columns: repeat(3, 1fr);
}
.offers__item {
  height: 210px;
}
.offers__item_sm {
  height: 168px;
}
.offers__item_159 {
  height: 159px;
}
footer#footer {
  padding: 32px 0 20px 0;
}

.cardsinfo > .card {
  flex: 1;
}
.cardsinfo.items-2 {
  flex-wrap: wrap;
  > .card {
    flex: 0 0 calc(50% - 12px);
  }
}
/* .frameblock__main {
  max-width: 715px;
} */

.solutions__slider:not(.slick-initialized) {
  display: flex;
  gap: 8px;
  padding-bottom: 52px;
  padding-top: 0 !important;
}

.pageheader {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cardicon {
  margin-bottom: 20px;
}

.aboutblock__stats_type2 {
  .aboutblock__item {
    border-radius: 0;
    background: none;
    padding: 0;
    border: none;
    box-shadow: none;
  }
  .stats__numb {
    font-weight: 500;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #37f;
    margin-bottom: 12px;
    display: inline-block;
  }
  .stats__top {
    sup {
      display: contents;
      vertical-align: middle;
      color: #37f;
      font-size: 80px;
    }
  }
  .stats__caption {
    color: #37f;
  }
}

.btn_main_light {
  font-weight: 500;
}
.offers_flip {
  .offers__item {
    height: 324px;
  }
}

.offercard__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 0;
  width: 100%;
}
.offercard__info {
  padding: 4px 8px;
  background: #f9fafb;
  border-radius: 24px;

  font-size: 12px;
  color: #858fa3;
}
.offercard__button {
}
.btn_img {
  height: 36px;
  max-width: 36px;
  min-width: 36px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: rgba(0, 85, 255, 0.1);
    opacity: 0.6;
  }
}

.mob-full {
}
.btn_main {
  transition: all 0.3s ease;
}
[data-flip] {
  height: 100%;
}
[data-flipwrapper]:not(.active) {
  [data-flip="back"] {
    display: none !important;
    /* opacity: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
    z-index: -999; */
  }
}

[data-flipwrapper].active {
  [data-flip="face"] {
    display: none !important;
    /*     opacity: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
    z-index: -999; */
  }
}
.card:not(.card_sm) .offercard__image {
  min-width: 108px;
  img {
    min-width: 90px;
  }
}
.offercard__content {
  gap: 20px;
}

.flipcard {
  /*   transition: all 0.3s ease; */
  cursor: pointer;
  padding: 24px 32px 16px 32px;
  .offercard__content {
    gap: 0;
  }
  .content_h {
    height: unset;
  }
}
.flipcard_back {
  .offercard__content {
    justify-content: flex-start;
  }
}
.flipcard:hover {
  box-shadow: 0 20px 40px 0 #d5deeb;
}

.card.offercard_lg {
  padding: 32px 40px;
  height: unset;
  .content_h {
    height: 100%;
  }
  .title {
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.03em;
    margin-bottom: 24px;
  }
  .maincard__tags {
    margin-bottom: 32px;
  }
}
.offercard__list {
  margin-bottom: 32px;
}
.list_blueround {
  @include clear;

  li {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #445371;
    position: relative;
    display: flex;

    gap: 8px;

    &:before {
      content: "";
      display: block;
      min-width: 16px;
      max-width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #80aaff;
      margin-top: 4px;
    }
  }
}

.tabscenter__nav {
  display: flex;
  justify-content: center;
  ul {
    @include clear;
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    background: rgba(0, 85, 255, 0.05);
    border-radius: 24px;
    padding: 6px;
    li {
      white-space: nowrap;
      padding: 6px 16px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: #445371;
      border-radius: 24px;
      cursor: pointer;
      &:hover {
        color: #05f;
      }
      &.active {
        color: #05f;
        box-shadow: 0 10px 50px 0 rgba(38, 39, 90, 0.1);
        font-weight: 500;
        background: #fff;
      }
    }
  }
}
.btn_main_icon {
  span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 100%;
    &:after {
      content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.4392 6.50024H10.0002V5.00024H17.9999C18.5522 5.00024 18.9999 5.44796 18.9999 6.00024V14H17.4999V7.5609L6.06261 18.9982L5.00195 17.9375L16.4392 6.50024Z' fill='%230055FF'/%3E%3C/svg%3E%0A");
    }
  }

  &:hover {
    background: rgba(0, 85, 255, 0.2);
    color: $blue;
  }
}
.content_h {
  height: 100%;
}
.card.offercard_md {
  min-height: 292px;
  height: unset;
  padding: 24px 26px;
}
.offercard_hover {
  &:hover {
    box-shadow: 0 20px 40px 0 #d5deeb;
  }
}
.backdrop {
  background: rgba(10, 19, 61, 0.2);
  position: fixed;
  z-index: 99;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: none;

  &.active {
    display: block;
  }
}

[data-modal] {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  max-width: 558px;
  margin: auto;
  display: none;
  &.active {
    display: block;
    z-index: 999;
  }
}

.cardpopup {
  .card {
    padding: 24px 24px 24px 32px;
    box-shadow: none !important;
  }
  .offercard__content {
    width: 100%;
  }
  .title {
    font-size: 18px;
    line-height: 120%;
  }
  .offercard__header {
    .title {
      margin-bottom: 0;
    }
  }
}

.cardpopup__wrapper {
  display: flex;
  width: 100%;
  gap: 8px;
  align-items: flex-start;
}
.cardpopup__main {
  width: 100%;
}
.offercard__item {
  margin-bottom: 24px;
  .offercard__text {
    margin-top: 8px !important;
  }
  &:last-child {
    margin-bottom: 40px;
  }
}

.tablecolor table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid rgba(68, 83, 113, 0.15);
}

.tablecolor tbody td,
.tablecolor thead th {
  padding: 0;
  border: 1px solid rgba(68, 83, 113, 0.15);

  /*   border-left: 1px solid rgba(68, 83, 113, 0.15);
  border-right: 1px solid rgba(68, 83, 113, 0.15);
  border-bottom: 1px solid rgba(68, 83, 113, 0.15);
  border-top: 1px solid rgba(68, 83, 113, 0.15); */
}
.tablecolor span.th {
  min-height: 52px;
}
.tablecolor span.td {
  min-height: 96px;
}
.tablecolor span.th,
.tablecolor span.td {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #445371;

  i {
    color: #858fa3;
    line-height: 157%;
  }
}
.tablecolor th[rowspan="2"] span.th {
  min-height: 104px;
}

.tablecolor tbody td:first-child span.td {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 155%;
  text-align: center;
}

.tablecolor thead th span.th {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #445371;
}

.tablecolor {
  table {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 12px;
    overflow: hidden;
  }
  td,
  th {
    overflow: hidden;
  }
  tr:first-child th:first-child {
    border-top-left-radius: 12px;
    /*   border-right: none;
    border-bottom: none; */
  }
  tr:first-child th:last-child {
    border-top-right-radius: 12px;
    /*  border-left: none;
    border-bottom: none; */
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
    /*   border-right: none;
    border-top: none; */
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
    /*    border-left: none;
    border-top: none; */
  }
}
/* .tablecolor {
  tbody {
    tr:last-child {
      td:last-child {
        span {
          border-radius: 0 0 12px 0;
        }      
      }
      td:first-child {
        span {
          border-radius: 0 12px 0  0;
        }      
      }
    }
  }
} */
/* 
.tablecolor tbody td:last-child {
  border-right: none;
}

.tablecolor tbody td:first-child {
  border-left: none;
}

.tablecolor tbody td:first-child span {
  border-left: none;
}

.tablecolor tbody tr:first-child td {
  border-top: none;
}

.tablecolor tbody tr:last-child td {
  border-bottom: none;

}

.tablecolor thead th:last-child {
  border-right: none;
}

.tablecolor thead th:first-child {
  border-left: none;
}

.tablecolor thead tr:first-child th {
  border-top: none;
}

.tablecolor thead tr:last-child th {
  border-bottom: none;
}
 */

.asidelist__list {
  ul {
    @include clear;
  }
}

.asidelist {
  display: flex;
  gap: 24px;

  > div {
    flex: 1;
  }
}
.asidelist__left {
}
.asidelist__right {
}
.asidelist__list {
  padding: 20px;
  li {
    margin-bottom: 8px;
    min-height: 26px;
  }
}

.tablecolor.tablecolor_mobile {
  margin: 0 0 -10px;
  width: calc(100% + 10px);
  overflow-x: auto;
}

.tablecolor_mobile .tablecolor__wrapper {
  display: flex;
}

.tablecolor_mobile .tablecolor__aside {
  margin-right: 5px;
  position: absolute;
}

.tablecolor_mobile .tablecolor__col {
  width: 180px;
}

.tablecolor_mobile .tablecolor__cell {
  height: 105px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #aeb5d14d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 20px;
  text-align: center;
  color: #858fa3;
}

.tablecolor_mobile .tablecolor__cell_xs {
  height: 40px;
  justify-content: flex-start;
  padding-left: 50px;
  border-right: none;
}

.tablecolor_mobile .tablecolor__main {
  margin-left: 167px;
}

.tablecolor_mobile .tablecolor__header {
  margin-bottom: 5px;
  position: absolute;
  overflow: hidden;
  width: -webkit-fill-available;
}

.tablecolor_mobile .tablecolor__body {
  display: flex;
  margin-top: 45px;
}

.tablecolor_mobile .tablecolor__body .tablecolor__cell {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  background: #f5f7fa;
}

.tablecolor_mobile .tablecolor__aside .tablecolor__col {
  width: 162px;
}

.tablecolor_mobile .tablecolor__body .tablecolor__cell_sm {
  height: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.tablecolor__scroller {
  display: none;
}

.tablecolor_type2 .tablecolor__cell {
  height: 34px;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  padding: 11px;
}

.tablecolor_type2 .tablecolor__main {
  margin-left: 75px;
}

.tablecolor_type2 .tablecolor__body {
  margin-top: 38px;
}

.tablecolor_type2 .tablecolor__body .tablecolor__cell_sm {
  height: 34px;
}

.tablecolor_type2 .tablecolor__cell_row2 {
  height: 76px;
}

.tablecolor__cell {
  position: relative;
  transition: all 0.2s ease;
}

.tablecolor__tooltiptext {
  visibility: hidden;
  width: initial;
  background-color: #858fa3;
  color: #fff;
  border-radius: 12px;
  padding: 10px 16px 12px;
  position: absolute;
  z-index: 1;
  top: calc(100%);
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: left;
  i {
    font-style: normal;
  }
}

.tablecolor__cell_red .tablecolor__tooltiptext {
  width: 285px;
}

.tablecolor__cell_blue .tablecolor__tooltiptext {
  width: 152px;
}

.tablecolor__cell_gray .tablecolor__tooltiptext {
  width: 267px;
}

.tablecolor__cell_lightblue .tablecolor__tooltiptext {
  width: 158px;
}

.tablecolor__cell_green .tablecolor__tooltiptext {
  width: 283px;
}

.tablecolor_type2 .tablecolor__col {
  width: 95px;
}

.tablecolor_type2 .tablecolor__aside .tablecolor__col_left {
  width: 75px;
}

.tablecolor__tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(0px) translateY(1px);
  margin-left: -7px;
  border-width: 7px;
  border-radius: 3px;
  border-style: solid;
  border-color: transparent transparent #858fa3;
}

.tablecolor_type2 .tablecolor__cell_tooltip:hover .tablecolor__tooltiptext {
  visibility: visible;
}

.tablecolor_type2 .tablecolor__cell_tooltip:hover {
  box-shadow:
    0 0 8px 0 rgba(14, 17, 23, 0.2),
    0 -2px 4px 0 rgba(14, 17, 23, 0.2);

  cursor: pointer;
}

.tablecolor_type2 .tablecolor__body .tablecolor__cell_sm {
  font-size: 11px;
  line-height: 13px;
  height: 35px;
}

.tablecolor_type2 .tablecolor__cell_xs {
  border-right: 1px solid #aeb5d14d;
}

.tablecolor__body .tablecolor__col:nth-child(10) .tablecolor__tooltiptext {
  right: 25px;
  left: unset;
  transform: none;
}

.tablecolor__body
  .tablecolor__col:nth-child(10)
  .tablecolor__tooltiptext::after {
  left: calc(100% - 28px);
}

.tablecolor__body .tablecolor__col:first-child .tablecolor__tooltiptext {
  left: 20px;
  transform: none;
}

.tablecolor__body .tablecolor__col:first-child .tablecolor__tooltiptext::after {
  left: 30px;
}

.tablecolor__cell_s1 {
  position: relative;
}
.tablecolor__cell:after {
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: -20px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);

  bottom: -1px;
  height: calc(3 * 100% + 6px);
  display: flex;
  justify-content: center;
  width: 19px;
  border-top: 1px solid #aeb5d14d;
  line-height: 21px;
}
.tablecolor__cell_s1:after {
  content: "\2190\00a0\00a0Сегменты";
}

.tablecolor__cell_s2:after {
  content: "Рисковый";
}

.tablecolor__cell_s3:after {
  content: "Стандартный";
}

.tablecolor__cell_s4:after {
  content: "Премиальный";
}

.tablecolor__cell:after {
  z-index: 99;
}

.tablecolor_type2 .tablecolor__wrapper {
  padding-left: 19px;
}

h1.innerpageh1 {
  display: none !important;
}
.tablecolor__col {
  .tablecolor__cell:first-child {
    background: none;
  }
}
.cardpopup__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.btn_main_icon-bi {
  background: #fff;
  color: #05f;
  padding: 0 16px;
}
.btn_main_icon-bi span {
  &:after {
    display: none;
  }
  &::before {
    content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.25 15.1819V21.3075C11.2504 21.3606 11.2394 21.4132 11.2179 21.4617C11.1965 21.5103 11.1649 21.5537 11.1254 21.5892C11.0859 21.6246 11.0393 21.6513 10.9887 21.6674C10.9381 21.6835 10.8846 21.6886 10.8319 21.6825C9.09886 21.4697 7.45447 20.7966 6.0696 19.7332C4.68473 18.6698 3.60992 17.255 2.95688 15.6356C2.93736 15.5864 2.92849 15.5336 2.93084 15.4807C2.9332 15.4278 2.94674 15.376 2.97057 15.3287C2.99439 15.2814 3.02796 15.2397 3.06907 15.2063C3.11018 15.1729 3.15789 15.1486 3.20907 15.135L9.12375 13.5469C9.19947 13.527 9.2795 13.5314 9.35264 13.5593C9.42577 13.5872 9.48834 13.6373 9.53157 13.7025C9.88969 14.2206 10.4007 14.6139 10.9931 14.8275C11.0677 14.8523 11.1325 14.8998 11.1786 14.9633C11.2247 15.0269 11.2497 15.1034 11.25 15.1819ZM12.0056 2.25002C11.9067 2.24928 11.8085 2.26813 11.7169 2.30549C11.6252 2.34285 11.5419 2.39797 11.4717 2.46769C11.4014 2.53741 11.3457 2.62034 11.3076 2.7117C11.2696 2.80307 11.25 2.90105 11.25 3.00002V8.25002C11.2485 8.44728 11.3254 8.63707 11.4637 8.7777C11.6021 8.91832 11.7906 8.99829 11.9878 9.00002C12.6961 8.99696 13.3827 9.24464 13.9259 9.69919C14.4692 10.1537 14.8341 10.7858 14.956 11.4836C15.0779 12.1814 14.949 12.8997 14.5921 13.5116C14.2352 14.1234 13.6733 14.5893 13.0059 14.8266C12.9314 14.8515 12.8666 14.8992 12.8207 14.963C12.7748 15.0268 12.7501 15.1033 12.75 15.1819V21.3075C12.7497 21.3605 12.7606 21.413 12.782 21.4615C12.8034 21.51 12.8349 21.5534 12.8743 21.5888C12.9137 21.6242 12.9602 21.6509 13.0107 21.6671C13.0612 21.6832 13.1145 21.6885 13.1672 21.6825C15.638 21.3903 17.9035 20.1646 19.5 18.2564C21.0965 16.3481 21.9031 13.9018 21.7546 11.4182C21.6062 8.9347 20.5139 6.60185 18.7015 4.8974C16.8891 3.19294 14.4936 2.24584 12.0056 2.25002ZM9.00563 11.7647C9.04053 11.3217 9.17342 10.892 9.39469 10.5066V10.5C9.46901 10.3717 9.5036 10.2242 9.49408 10.0761C9.48457 9.92812 9.43139 9.78625 9.34125 9.66846C9.2782 9.58743 9.19984 9.51959 9.11063 9.46877L4.57969 6.8494C4.49432 6.80017 4.40009 6.76825 4.30238 6.75546C4.20467 6.74267 4.10539 6.74926 4.01023 6.77486C3.91507 6.80046 3.82588 6.84456 3.74777 6.90464C3.66966 6.96472 3.60416 7.03961 3.555 7.12502C2.46386 9.0148 2.03741 11.2157 2.34375 13.3763C2.35098 13.429 2.36935 13.4796 2.39765 13.5247C2.42594 13.5698 2.4635 13.6083 2.50784 13.6377C2.55218 13.6672 2.60229 13.6869 2.65481 13.6954C2.70734 13.704 2.7611 13.7013 2.8125 13.6875L8.73938 12.0938C8.81283 12.0735 8.87821 12.031 8.92654 11.972C8.97488 11.9131 9.00381 11.8407 9.00938 11.7647H9.00563Z' fill='%230055FF'/%3e%3c/svg%3e ");
  }
}

.frametext {
  border: 1px solid rgba(68, 83, 113, 0.05);
  border-radius: 24px;
  padding: 24px 16px;
  box-shadow: 0 1px 0 0 rgba(38, 39, 90, 0.1);
  background: rgba(0, 85, 255, 0.05);
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-right: -15px;
}
.stepform__progressbar {
  position: absolute;
  height: 12px;
  background: rgba(0, 85, 255, 0.1);
  bottom: 0;
  left: 0;
  width: 100%;
}
.stepform {
  position: relative;
  overflow: hidden;
}
.stepform__main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stepform__items {
  height: 100%;
}
.stepform__item {
  height: 100%;
  display: none;
}

.stepform__item.active {
  display: block;
}

.stepform {
  height: 504px;
  padding: 50px 50px 32px 50px;
  box-shadow:
    0 0 16px 0 rgba(0, 85, 255, 0.05),
    0 4px 8px 0 rgba(0, 85, 255, 0.1);
  background: #f9fafb;
  border-radius: 24px;
}
.maincard_custom {
  .maincard__wrapper {
    height: 504px;
    overflow: visible;
  }
}
.maincard_custom {
  .maincard__block {
    max-width: 620px;
    min-width: 620px;
  }
}
.radioblock.flex {
  .check-block {
    margin-bottom: 0;
  }
}
.stepform__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #0e1117;
  margin-bottom: 24px;
}

.check-block label {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 32px;
  display: flex;
  align-items: center;
  color: #445371;
}

.check-block label a {
  font-weight: 200;
}

.check-block label a:hover {
  border-bottom: none;
}

.check-block input[type="checkbox"],
.check-block input[type="radio"] {
  display: none;
}
.check-block label:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  background: #fff;
  border: 1px solid #eceef6;
  box-sizing: border-box;
  border-radius: 3px;
}

.check-block_big label {
  padding-left: 35px;
  margin-bottom: 0;
}
.check-block label:before {
  border: 1px solid #aeb5d1;
  border-radius: 3px;
}

.check-block {
  margin-bottom: 20px;
}

.check-block_big label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #445371;
}

.check-block input[type="radio"]:checked + label:before,
.check-block input[type="checkbox"]:checked + label:before {
  background-image: url(../img/checkbox_checked.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #4563ff;
  border: 1px solid #4563ff;
}

.check-block:hover label:before {
  border: 1px solid #aeb5d1;
}
.stepform__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stepform__page {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #445371;
}
[data-stepbutton] {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  font-family: var(--font-family);
  padding: 0 20px;
}
[data-stepbutton="next"] {
  span {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  span:after {
    content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.1827 12.7492L12.9711 16.939L14.029 18.0024L19.5289 12.531C19.6704 12.3902 19.75 12.1989 19.75 11.9993C19.75 11.7997 19.6704 11.6083 19.5289 11.4676L14.0289 5.99609L12.9711 7.05951L17.1826 11.2492L4 11.2492L4 12.7492L17.1827 12.7492Z' fill='white'/%3e%3c/svg%3e ");
  }
}

.stepform__navigation{
  display: flex;
  align-items: center;
  gap: 8px;
}
[data-stepbutton="prev"][hidden] {
  display: none;
}
[data-stepbutton="prev"] {
  border: none;
  height: 48px;
  line-height: 48px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
        background: rgba(0, 85, 255, .1);
  }
}
.stepform__inputs {
  margin-bottom: 32px;
}
.stepform__title.error_input  {
   color: red;
  
}
.checkbuttons {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  label {
    border-radius: 9999px;
font-weight: 400;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    color: #445371;
    padding: 6px 16px;
    display: block;
    border: 1px solid rgba(0, 85, 255, 0.1);
    &:hover {
      background: rgba(0, 85, 255, 0.1);
    }
  }

  input {
    opacity: 0;
    visibility: hidden;
    height: 0;
    width: 0;
    position: absolute;

    &:checked + label {
      background: rgba(0, 85, 255, 0.1);
      color: #05f;
      
    }


  }
}

.check-block_text {
  margin-bottom: 12px;
  position: relative;
  label {
    height: 24px;
  }
  input[type="text"] {
    display: none;
  }
  input[type="checkbox"]:checked +label + input[type="text"] {
    display: block;
    padding: 0;
    font-weight: 400;
font-size: 16px;
border: none;
border-radius: 0;
color: #445371;
border-bottom: 1px solid #05f;
padding: 0;
height: 24px;
line-height: 24px;
position: absolute;
top: 0; 
left: 32px;

max-width: 295px;

  }
  input[type="checkbox"]:checked +label span {
    display: none;
  }
}
.check-block_confirm {
  label {
    align-items: flex-start;
    font-weight: 400;
font-size: 14px;
line-height: 129%;
color: #445371;
  }
}

@include min-medium-screen {
  .h_280 {
    height: 280px;
  }
  .offercard__footer_h {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .sectiontabs + .formsection {
    padding-top: 0 !important;
  }
  .tablecolor_type2 .tablecolor__header {
    position: initial;
    margin-bottom: 0;
  }

  .tablecolor_type2 .tablecolor__aside {
    position: initial;
  }

  .tablecolor_type2 .tablecolor__main {
    margin-left: 0;
  }

  .tablecolor.tablecolor_type2 {
    width: 100%;
    overflow: visible;
  }

  .tablecolor_mobile .tablecolor__cell_xs {
    justify-content: center;
  }

  .tablecolor_type2 .tablecolor__body {
    margin-top: 0;
  }

  .tablecolor_type2 .tablecolor__aside {
    margin-right: 0;
  }

  .tablecolor_type2 .tablecolor__cell.tablecolor__cell_row2 {
    height: 69px;
  }

  .onlyMobile {
    display: none !important;
  }

  .md-mb-0 {
    margin-bottom: 0 !important;
  }

  .md-fs-26 {
    font-size: 26px !important;
    line-height: 32px !important;
  }

  .md-pl-30 {
    padding-left: 30px !important;
  }

  .md-pb-30 {
    padding-bottom: 30px !important;
  }

  .md-pr-73 {
    padding-right: 73px !important;
  }

  .md-pt-43 {
    padding-top: 43px !important;
  }

  [data-modal].cardpopup_slide {
    left: unset;
    right: 0;
    width: 100%;
    max-width: 690px;

    &.active {
      display: flex;
      align-items: center;
    }

    .offercard {
      max-height: 710px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      height: 100vh;
      padding: 56px 50px;
      /*     padding-top: 110px; */

      .title {
        font-size: 32px;
        line-height: 120%;
      }
    }
    /*  .cardpopup__aside {
    position: absolute;
    right: 50px;
    top: 50px;
} */
  }
}
